
    <link href="__STATIC__/CSS/css.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/CSS/longmi.css" rel="stylesheet" type="text/css" />

        <div class="data-box">
            <div class="data">
                <div class="click"><a href=""></a></div>
                <p class="data-t1">{$count['yesterdayCount']}</p>
                <p class="data-t2">昨日订单</p>
            </div>
            <div class="data">
                <div class="click"><a href=""></a></div>
                <p class="data-t1">{$count['yesterdayMoney']}</p>
                <p class="data-t2">昨日成交额</p>
            </div>
            <div class="data">
                <div class="click"><a href=""></a></div>
                <p class="data-t1">{$count['count']}</p>
                <p class="data-t2">累计宴午订单</p>
            </div>
            <div class="data">
                <div class="click"><a href=""></a></div>
                <p class="data-t1">{$count['countMoney']}</p>
                <p class="data-t2">累计宴午成交额</p>
            </div>



        </div>



        <div class="more-box">
            <div class="more-box-l">订单数</div>
        </div>
        <div class="mui-content-padded" >
            <div class="chart" id="lineChart" height="200"></div>
        </div>
        <div class="more-box">
            <div class="more-box-l">销售额</div>
        </div>
        <div class="mui-content-padded"  >
            <div class="chart" id="lineChart1"></div>
        </div>

        <script src="__STATIC__/js/echarts-all.js"></script>
        <script>
            var echarteHeight = '60px';
        </script>
            <script type="text/javascript">
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('lineChart'));

                // 指定图表的配置项和数据

                option = {
                    title: {
                        text: ''
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['订单数']
                    },
                    grid: {
//                        left: '0%',
//                        right: '0%',
//                        bottom: '0%',
                        height:echarteHeight,
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: {$count['year']}
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name:'订单数',
                            type:'line',
                            stack: '总量',
                            data:{$count['tnum']}
                        }

                    ]
                };


                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
                window.onresize = myChart.resize;
            </script>
            <script type="text/javascript">
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('lineChart1'));
                // 指定图表的配置项和数据
                option = {
                    title: {
                        text: ''
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['销售额']
                    },
                    grid: {
//                        left: '0%',
//                        right: '0%',
//                        bottom: '0%',
                        height:echarteHeight,
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: {$count['year']}
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name:'销售额',
                            type:'line',
                            stack: '总量',
                            data:{$count['amount']}
                        }

                    ]
                };

                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            </script>




