
<!--<div class="navbar navbar-default">-->
    <!--<form action="" id="search-form2" class="navbar-form form-inline" method="post" >-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="input-mobile">就餐</label>-->
            <!--<div class="input-group">-->
                <!--<input type="text" name="nickname" value="" placeholder="昵称" id="input-nickname" class="form-control">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" for="input-mobile">手机号码</label>-->
            <!--<div class="input-group">-->
                <!--<input type="text" name="mobile" value="" placeholder="手机号码" id="input-mobile" class="form-control">-->
            <!--</div>-->
        <!--</div>-->
        <!--<button type="submit" onclick="subform()" id="button-filter search-order" class="btn btn-primary pull-right"><i class="fa fa-search"></i> 筛选</button>-->
    <!--</form>-->
<!--</div>-->
<!--<form action="{: U('Admin/User/obtainFans')}" method="post" id="FansFrom">-->
<div id="ajax_return">
    <form method="post" enctype="multipart/form-data" target="_blank" id="form-order" action="{: U('Admin/User/obtainFans')}">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" ></td>

                    <td class="text-right">
                        <a href="javascript:sort('user_id');">ID</a>
                    </td>
                    <td class="text-left">
                        <a href="javascript:sort('username');">总价</a>
                    </td>
                    <td class="text-left">
                        <a href="javascript:sort('level');">实际支付金额</a>
                    </td>
                    <td class="text-left">
                        <a href="javascript:sort('mobile');">折扣金额</a>
                    </td>
                    <td class="text-left">
                        <a href="javascript:sort('level');">店铺名字</a>
                    </td>
                    <td class="text-left">
                        <a href="javascript:sort('openid');">状态</a>
                    </td>
                    <td class="text-left">
                        <a href="javascript:sort('openid');">就餐店铺</a>
                    </td>
                    <td class="text-left">
                        <a href="javascript:sort('openid');">饭点</a>
                    </td>
                    <td class="text-left">
                        <a href="javascript:sort('openid');">人数</a>
                    </td>
                    <td class="text-left">
                        <a href="javascript:sort('reg_time');">就餐时间</a>
                    </td>
                    <td class="text-left">
                        <a href="javascript:sort('reg_time');">查看</a>
                    </td>



                </tr>
                </thead>
                <tbody>
                <volist name="List" id="list">
                    <tr>
                        <td class="text-center">
                            <input type="checkbox" name="selected[]" value="{$list.user_id}">
                            <input type="hidden" name="shipping_code[]" value="flat.flat">
                        </td>
                        <td class="text-right">{$list.id}</td>
                        <td class="text-left">{$list.order_amount}</td>
                        <td class="text-left">{$list.pay_amount}</td>
                        <td class="text-left">{$list.coupon_price}</td>
                        <td class="text-left">{$list.shopName}</td>
                        <td class="text-left">
                            <if condition="$list['status'] eq 0">
                                未支付
                                <elseif condition="$list['status'] eq 1" />
                                已支付
                                <else />
                                已使用
                            </if>
                        </td>
                        <td class="text-left">{$list.shopName}</td>
                        <td class="text-left">{$list.meal}</td>
                        <td class="text-left">{$list.number}</td>
                        <td class="text-left">{$list.date|date='Y-m-d ',###}</td>
                        <td class="text-left"><a href="{: U('Admin/Addons/lunchFeast',array('pluginName'=>'orderDetails','id'=>$list['id'])) }">详情</a></td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-6 text-left"></div>
        <div class="col-sm-6 text-right">{$page}</div>
    </div>
</div>

<script>

    function subform(){
        $('#search-form2').submit();
    }
    $('.paginate_button').each(function(){
        $(this).click(function(){
            var data = $(this).find('a').attr('data-p');
            window.location.href = "/index.php?m=Admin&c=Addons&a=lunchFeast&pluginName=orderList&p="+data;
        });
    });
</script>

