<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td class="text-right">
                ID
            </td>
            <td class="text-left">
                合伙人姓名
            </td>
            <td class="text-left">
                合伙人城市
            </td>
            <td class="text-left">
                合伙人性别
            </td>
            <td class="text-left">
                合伙人手机号
            </td>
            <td class="text-left">
                合伙人微信号
            </td>
            <td class="text-left">
                合伙人邮箱
            </td>
            <td class="text-left">
                合伙人个人优势
            </td>
            <td class="text-left">
                申请时间
            </td>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="item">
            <tr>
                <td class="text-right">{$item.id}</td>
                <td class="text-left">{$item.p_name}</td>
                <td class="text-left">{$item.p_city}</td>
                <td class="text-left">{$item.p_sex}</td>
                <td class="text-left">{$item.p_phone}</td>
                <td class="text-left">{$item.p_wechat}</td>
                <td class="text-left">{$item.p_email}</td>
                <td class="text-left">{$item.p_desc}</td>
                <td class="text-left">{$item.create_time|date="Y-m-d H:i",###}</td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>