<include file="$headerPath"/>
<div class="pay">
    <div class="pay-OK">领取成功</div>
    <div class="pay-order">
        <div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
            <strong>圣诞大礼包</strong>
            <if  condition="$orderInfo['gift_type'] neq 2 ">
                <p style="text-align: center;">优惠券</p>
                <else/>
                <volist name="orderInfo.goods" id="goodsItem">
                    <p style="text-align: center;">{$goodsItem['goods_name']}{:empty($goodsItem['spec_key_name'])?"":"【".$goodsItem['spec_key_name']."】"} X {$goodsItem['goods_num']}</p>
                </volist>
            </if>
        </div>
    </div>
</div>

<div class="new_btn">
    <if  condition="$orderInfo['gift_type'] neq 2 ">
        <a href="{:U('Mobile/User/coupon')}">
            <img src="__ADDONS__/images/btn/look_detail.png" style="width: 100%"/>
        </a>
        <else/>
        <a href="{:U('Mobile/Order/order_detail',array('order_id' =>$orderInfo['order_id'] ))}">
            <img src="__ADDONS__/images/btn/look_detail.png" style="width: 100%"/>
        </a>
    </if>
</div>

<div class="new_btn">
    <a href="{:U('Mobile/Addons/christmas')}">
        <img src="__ADDONS__/images/btn/want_send.png" style="width: 100%"/>
    </a>
</div>
<include file="$footerPath"/>