<include file="$headerPath"/>
<div class="pay">
    <div class="pay-OK">领取成功</div>
    <div class="pay-order">
        <div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
            <strong>圣诞大礼包</strong>
            <volist name="orderInfo.getList" id="goodsItem2">
                <if condition ='$goodsItem2["type"] neq 2'>
                    <p style="text-align:center">
                        {$goodsItem2['coupon_name']}
                    </p>
                </if>
                <if condition ='$goodsItem2["type"] neq 1'>
                    <volist name="orderInfo.goods" id="goodsItem">
                        <p style="text-align: center;">{$goodsItem['goods_name']}{:empty($goodsItem['spec_key_name'])?"":"【".$goodsItem['spec_key_name']."】"} X {$goodsItem['goods_num']}</p>
                    </volist>
                </if>
            </volist>
        </div>
    </div>
</div>

<div class="new_btn">
    <a href="{:U('Mobile/User/index')}">
        <img src="__ADDONS__/images/btn/look_detail.png" style="width: 100%"/>
    </a>
</div>

<div class="new_btn">
    <a href="{:U('Mobile/Addons/christmas')}">
        <img src="__ADDONS__/images/btn/want_send.png" style="width: 100%"/>
    </a>
</div>
<include file="$footerPath"/>