<!DOCTYPE html>
<html lang="zh-cn" class="no-js">
<head>
    <meta http-equiv="Content-Type">
    <meta content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>{:!empty($activity['name'])?$activity['name']:"圣诞大礼包"}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link rel="stylesheet" type="text/css" href="__ADDONS__/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="__ADDONS__/css/index.css" />
    <link rel="stylesheet" type="text/css" href="__ADDONS__/css/animations.css" />
    <link rel="stylesheet" href="__ADDONS__/css/my_style.css" />
</head>
<body>


<div>
    <div class="page page-1-1 page-current">
        <div class="wrap">
            <img class="img_1 pt-page-moveFromTop" src="__ADDONS__/images/page1_1.png" />
            <img class="img_2 pt-page-moveFromTop" src="__ADDONS__/images/page1_2.png" />
            <img class="img_3 pt-page-moveFromTop" src="__ADDONS__/images/page1_3.png" />
            <img class="img_4 pt-page-moveFromTop" src="__ADDONS__/images/page1_4.png" />
            <img class="img_5 pt-page-moveFromBottom" src="__ADDONS__/images/page1_5.png" />
        </div>
    </div>
    <div class="page page-2-1 hide">
        <div class="wrap">
            <img class="img_1  pt-page-moveAircraftFlying" src="__ADDONS__/images/page2_14.png" />
            <img class="img_2  pt-page-moveAircraftFlying2" src="__ADDONS__/images/page2_1.png" />
            <img class="img_14  pt-page-moveAircraftCloud" src="__ADDONS__/images/page2_13.png" />
            <img class="img_6 delay_2_s pt-page-moveFromTop2" src="__ADDONS__/images/page2_5.png" />
            <img class="img_5 delay_2_s pt-page-moveFromTop2" src="__ADDONS__/images/page2_4.png" />
            <img class="img_12 delay_2_s pt-page-moveFromTop2" src="__ADDONS__/images/page2_11.png" />
            <img class="img_9 delay_2_s pt-page-moveFromTop2" src="__ADDONS__/images/page2_2.png" />
            <img class="img_3 delay_2_s pt-page-moveFromTop2" src="__ADDONS__/images/page2_8.png" />
            <img class="img_4 delay_2_s pt-page-moveFromTop2" src="__ADDONS__/images/page2_3.png" />
            <img class="img_7 delay_2_s pt-page-moveFromTop2" src="__ADDONS__/images/page2_6.png" />
            <img class="img_8 delay_2_s pt-page-moveFromTop2" src="__ADDONS__/images/page2_7.png" />
            <img class="img_10 delay_2_s pt-page-moveFromTop2" src="__ADDONS__/images/page2_9.png" />
            <img class="img_11 delay_2_s pt-page-moveFromTop2" src="__ADDONS__/images/page2_10.png" />
            <img class="img_13 delay_2_s pt-page-moveFromTop2" src="__ADDONS__/images/page2_12.png" />

        </div>
    </div>
    <div class="page page-3-1 hide">
        <div class="wrap">
            圣诞奶奶不见了，巴拉巴拉
            <img class="img_1 hide pt-page-moveFromBottom" src="__ADDONS__/img/logo1.svg" />
            <img class="img_2 hide pt-page-moveCircle" src="__ADDONS__/img/w-3-1.png" />
            <img class="img_3 pt-page-moveFromBottom hide" src="__ADDONS__/img/w-3-2.png" />
            <img class="img_6 hide pt-page-moveIconUp" src="__ADDONS__/img/icon_up.png" />
        </div>
    </div>
    <div class="page page-4-1 hide">
        <div class="wrap">
            圣诞奶奶不见了，巴拉巴拉
            <img class="img_1 hide pt-page-moveFromBottom" src="__ADDONS__/img/logo1.svg" />
            <img class="img_2 hide pt-page-moveCircle" src="__ADDONS__/img/w-4-1.png" />
            <img class="img_7 hide pt-page-scaleUp" src="__ADDONS__/img/w-4-2.png" />
            <img class="img_6 hide pt-page-moveIconUp" src="__ADDONS__/img/icon_up.png" />
        </div>
    </div>
    <div class="page page-5-1 hide">
        <div class="wrap">
            圣诞奶奶不见了，巴拉巴拉
            <img class="img_1 hide pt-page-rotateCubeBottomIn" src="__ADDONS__/img/logo1.svg" />
            <img class="img_2 hide pt-page-rotateCubeTopIn" src="__ADDONS__/img/w-5-1.png" />
            <img class="img_6 hide pt-page-moveIconUp" src="__ADDONS__/img/icon_up.png" />
        </div>
    </div>
    <div class="page page-6-1 hide">
        <div class="wrap">
            <a href="{:U('Mobile/Addons/christmas',array('pluginName'=>'rule'))}">
                下一步
            </a>
        </div>
    </div>
</div>

<embed src="__ADDONS__/music/bg.m4a" autostart="true" loop="true" hidden="true"></embed>
<script src="__ADDONS__/js/zepto.min.js"></script>
<script src="__ADDONS__/js/touch.js"></script>
<script src="__ADDONS__/js/index.js"></script>
<script src="__ADDONS__/js/addons.js" ></script>

<include file="$footerPath"/>
