<include file="$headerPath"/>


<div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
    <strong>订单号</strong>
    <p>{$orderInfo.order_sn}</p>
</div>
<div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
    <strong>圣诞大礼包</strong>
    <p>神秘大礼包</p>
</div>



<if condition="$orderInfo['status'] == 1">
    <div class="new_btn">
        <a href="javascript:void(0);" id="showGuide">
            <img src="__ADDONS__/images/btn/send_friend.png" style="width: 100%"/>
        </a>
    </div>
    <script>
        $(function () {
            $("#showGuide").click(function(){
                show_guide();
            });
        });
    </script>
</if>

<div class="new_btn">
    <a href="{:U('Mobile/Addons/christmas',array('pluginName'=>'rule'))}">
        <!--<img src="__ADDONS__/images/btn/send_friend.png" style="width: 100%"/>-->
        去购买...
    </a>
</div>
<if condition="$orderInfo['status'] == 0">
    <div class="l_btn3 ">
        <a href="{:U('Mobile/Addons/christmas',array('pluginName'=>'weChatPay','order_id' =>$orderInfo['id'] ))}">去支付</a>
    </div>
</if>
<include file="$footerPath"/>