<include file="$headerPath"/>
<a href='{:U("Mobile/Addons/christmas", array("pluginName" => "order"))}' class="c_my_order_in">
    我的订单 >
</a>
<div class="pay">
    <div class="pay-OK" style="background: url('__ADDONS__/images/lihe.png') no-repeat center;"></div>

    <div class="pay-order">
        <div class="tip_b" style=" border: 0px; margin-top:0px; margin-left: 0px; margin-bottom: 0px; ">
            <strong>圣诞大礼包</strong>
            <volist name="activity.goods" id="goodsItem">
                <p style="text-align:center">
                    {$goodsItem['goods_name']}{:empty($goodsItem['spec_key_name'])?"":"【".$goodsItem['spec_key_name']."】"} X {$goodsItem['goods_num']}
                </p>
            </volist>
        </div>
    </div>
</div>

<div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
    <strong>活动时间</strong>
    <div style="  width:86%;margin: 3px 7%;">
        {$activity.start_time|date='Y-m-d H:i:s',###} ~ {$activity.end_time|date='Y-m-d H:i:s',###}
    </div>
</div>

<div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
    <strong>礼品数量</strong>
    <div style="  width:86%;margin: 3px 7%;">
        {$activity.number}份
    </div>
</div>
<div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
    <strong>注意</strong>
    <div style="  width:86%;margin: 3px 7%;">
        {$activity.desc|htmlspecialchars_decode}
    </div>
</div>

<div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
    <strong>写祝福</strong>
    <div class="site_txt" style="height:150px; ">
        <textarea  name="message" cols="" rows="" id="myMessage"  style="height:150px; " placeholder="点击给朋友留言"></textarea>
    </div>
</div>
<div class="login_btn">
    <a href="javascript:void(0);" id="next">支付（￥{$activity.money}）</a>
</div>

<if condition="$isFollow == 1">

    <script type="text/javascript">
        $(function(){
            $("#next").click(function(){
                christmasSubmit()
            });
        });
        var lock = false;
        function christmasSubmit(){
            if(lock){return;}
            var message = $('#myMessage').val();
            if( message == ""){
                alert("请输入祝福");
                return;
            }
            lock = true;
            $.ajax({
                type:'post',
                url:"{:U('Mobile/Addons/christmas')}",
                data:{message:message,pluginName:"pay"},
                dataType:'json',
                success:function(res){
                    if(res.state == 1){
                        window.location.href = "{:U('Mobile/Addons/christmas',array('pluginName'=>'weChatPay'))}?order_id="+ res.data;
                    }else{
                        alert(res.msg);
                    }
                    lock = false;
                },
                error:function(){
                    alert('网络超时');
                }
            });
        }
    </script>
    <else/>
    <script>
        $(function(){
            $("#next").click(function(){
                christmasSubmit()
            });
        });
        function christmasSubmit(){
            var message = $('#myMessage').val();
            if( message == ""){
                alert("请输入祝福");
                return;
            }
            $('#followMask').show();
        }
    </script>
    <div id="followMask" style="display:none ;" onclick="$(this).css('display','none');">
        <img src="__STATIC__/SVG/padlockImg.svg" class="padlockImg">
        <img src="__STATIC__/images/follow.png" class="follow">
    </div>
</if>
<include file="$footerPath"/>