<include file="$headerPath"/>
<div class="pay"></div>
<div class="c_get_banner ">
    <img src="__ADDONS__/images/lihe.png" class="c_banner"/>
</div>
<div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
    <div>
        <div style="  width:86%;margin: 3px 7%;">
            {$orderInfo.message}
        </div>
    </div>
</div>
<div class="new_btn">
    <a href="{:U('Mobile/Addons/christmas',array('pluginName' => 'get','order_id'=>$orderInfo['id']))}">
        <img src="__ADDONS__/images/btn/package.png" style="width: 100%"/>
    </a>
</div>
<include file="$footerPath"/>