<include file="$headerPath"/>
<a href='{:U("Mobile/Addons/christmas", array("pluginName" => "order"))}' class="c_my_order_in">
    我的订单 >
</a>
<div class="pay">
    <div class="pay-OK" style="background:none; padding: 0px;">
        <img src="__ADDONS__/images/banner.png" style="width:100%; height: 100%"/>
    </div>

    <div class="pay-order">
        <div class="tip_b" style=" border: 0px; margin-top:0px; margin-left: 0px; margin-bottom: 0px; ">
            <strong>圣诞大礼包</strong>
            <p style="text-align:center">神秘大礼包</p>
        </div>
    </div>
</div>

<div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
    <strong>活动时间</strong>
    <div style="  width:86%;margin: 3px 7%;">
        {$activity.start_time|date='Y-m-d H:i:s',###} ~ {$activity.end_time|date='Y-m-d H:i:s',###}
    </div>
</div>

<div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
    <strong>礼品数量</strong>
    <div style="  width:86%;margin: 3px 7%;">
        {$activity.number}份
    </div>
</div>
<div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
    <strong>注意</strong>
    <div style="  width:86%;margin: 3px 7%;">
        {$activity.desc|htmlspecialchars_decode}
    </div>
</div>

<div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
    <strong>写祝福</strong>
    <div class="site_txt" style="height:150px; ">
        <textarea  name="message" cols="" rows="" id="myMessage"  style=" background-color: transparent; color: #000;height:150px; " placeholder="你是不是正等待着圣诞老人钻烟囱给你送圣诞节礼物啊?别再傻等了，今年他不会来了，因为去年他被你的臭袜子熏昏了!哈哈…圣诞快乐!">{$message}</textarea>
    </div>
</div>
<div class="new_btn" style="padding-bottom: 70px;">
    <a href="javascript:void(0);" id="next">
        <img src="__ADDONS__/images/btn/pay.png" style="width: 100%"/>
    </a>
</div>

<if condition="$isFollow == 1">

    <script type="text/javascript">
        $(function(){
            $("#next").click(function(){
                christmasSubmit()
            });
        });
        var lock = false;
        function christmasSubmit(){
            if(lock){return;}
            var message = $('#myMessage').val();
            if( message == "" ){
                message ="你是不是正等待着圣诞老人钻烟囱给你送圣诞节礼物啊?别再傻等了，今年他不会来了，因为去年他被你的臭袜子熏昏了!哈哈…圣诞快乐!";
//                alert("请输入祝福");
//                return;
            }
            if( message.length > 100){
                alert("祝福最多输入100个字");
                return;
            }
            lock = true;
            $.ajax({
                type:'post',
                url:"{:U('Mobile/Addons/christmas')}",
                data:{message:message,pluginName:"pay"},
                dataType:'json',
                success:function(res){
                    if(res.state == 1){
                        window.location.href = "{:U('Mobile/Addons/christmas',array('pluginName'=>'weChatPay'))}?order_id="+ res.data;
                    }else{
                        alert(res.msg);
                    }
                    lock = false;
                },
                error:function(){
                    alert('网络超时');
                }
            });
        }
    </script>
    <else/>
    <script>
        $(function(){
            $("#next").click(function(){
                christmasSubmit()
            });
        });
        function christmasSubmit(){
            var message = $('#myMessage').val();
            if( message == ""){
                alert("请输入祝福");
                return;
            }
            $('#followMask').show();
        }
    </script>
    <div id="followMask" style="display:none ;" onclick="$(this).css('display','none');">
        <img src="__STATIC__/SVG/padlockImg.svg" class="padlockImg">
        <img src="__STATIC__/images/follow.png" class="follow">
    </div>
</if>
<include file="$footerPath"/>