<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td class="text-right">
                ID
            </td>
            <td class="text-left">
                昵称
            </td>
            <td class="text-left">
                类型
            </td>
            <td class="text-left">
                扫码时间
            </td>
            <td class="text-left">
                扫码之后的订单情况
            </td>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="item">
            <tr>
                <td class="text-right">{$item.id}</td>
                <td class="text-left">{$item.nickname}</td>
                <td class="text-left">{$item.event}</td>
                <td class="text-left">{$item.create_time|date="Y-m-d H:d",###}</td>
                <td class="text-left">
                    <a href="{: U('Admin/Addons/createQRCode',array('pluginName'=>'order','id'=>$item['id'],'user_id'=>$item['user_id'])) }">
                        订单查看
                    </a>
                    <a href="{: U('Admin/Addons/createQRCode',array('pluginName'=>'route','id'=>$item['id'],'user_id'=>$item['user_id'])) }">
                        浏览路径查看
                    </a>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>