<div class="navbar navbar-default">
    <a href="{:U('Admin/Addons/createQRCode' , array('pluginName' => 'create' ))}" class="btn btn-primary pull-right" style=" margin: 10px 5px 0 0;">
        <i class="fa fa-plus"></i>添加二维码
    </a>
    <a href="{:U('Admin/Addons/createQRCode' , array('pluginName' => 'user'))}" class="btn btn-primary pull-right" style=" margin: 10px 5px 0 0;">
        查看所有扫码情况
    </a>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td class="text-right">
                ID
            </td>
            <td class="text-left">
                链接
            </td>
            <td class="text-left">
                关键词
            </td>
            <td class="text-left">
                创建时间
            </td>
            <td class="text-right">
                操作
            </td>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="item">
            <tr>
                <td class="text-right">{$item.id}</td>
                <td class="text-left">
                    <img src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket={$item.ticket}" style="width: 60px; height: 60px;">
                    {$item.url}
                </td>
                <td class="text-left">
                    {$item.key_word}
                </td>
                <td class="text-left">{$item.create_time|date='Y-m-d',###}</td>
                <td class="text-right">
                    <a href="{:U('Admin/Addons/createQRCode' , array('pluginName' => 'user','id'=>$item['id'] ))}" class="btn btn-info" title="查看详情">
                        扫码情况({$item.userCount})
                    </a>
                    <a href="{:U('Admin/Addons/createQRCode' , array('pluginName' => 'create','id'=>$item['id'] ))}" class="btn btn-info" title="查看详情">
                        修改
                    </a>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>