<form id="shopForm" method="post">
    <div class="tab-content">

        <div class="tab-pane active" >
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>名字:</td>
                    <td>
                        <input type="text" value="{$info.title}" name="title" class="form-control" style="width:350px;" />
                    </td>
                </tr>
                <tr>
                    <td>关键字:</td>
                    <td>
                        <input type="text" value="{$info.key_word}" name="key_word" class="form-control" style="width:350px;" />
                        <span id="err_shop_name" style="color:#F00; display:none;"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pull-right">
            <input type="hidden" name="id" value="{$info.id}">
            <input type="hidden" name="pluginName" value="create">
            <button class="btn btn-primary" onclick="ajaxSubmitForm();" title="" data-toggle="tooltip" type="button" data-original-title="保存">保存</button>
        </div>
    </div>
</form>
<script>
    function ajaxSubmitForm(){
        if( $("input[name='title']").val() == ""){
            alert("名字不能为空！");
            return;
        }
        if( $("input[name='key_word']").val() == ""){
            alert("关键字不能为空！");
            return;
        }
        $("#shopForm").submit();
    }
</script>