<include file="Public/header2"/>
<body>
<include file="Public/loading"/>

<div class="top_nav">
    <div class="top_nav_left">
        <a href="{:U('Mobile/Goods/goodsList')}">全部</a>
        <a href="{:U('Mobile/Goods/goodsList')}">新品</a>
        <a href="{:U('Mobile/Index/recommendPolite')}">送礼指南</a>
        <a href="{:U('Mobile/Goods/goodsList',array('sort'=>'sales_sum'))}">销量</a>
    </div>
    <form name="sourch_form" id="sourch_form" method="post" action="{:U('Mobile/Goods/goodsList')}">
        <div class="top_nav_right">
            <div class="top_nav_find">
                <input name="find" id="q"  type="text" value="<?php echo I('q'); ?>" placeholder="龙米" />
                <a href="javascript:if($.trim($('#q').val()) != '') $('#sourch_form').submit();" >
                    <img src="__STATIC__/SVG/search_r.svg">
                </a>
            </div>
        </div>
    </form>
</div>

<div id="notice" ></div>

<div id="slider" class="mui-slider" ></div>

<div class="top_menu">
    <ul>
        <li style="background-image:url('__STATIC__/images/new/top_menu_1.gif');background-size: 58px 58px;background-position: center 2px;">
            <p>
                <a href="{:U('Mobile/User/account')}"><b>钱包<br/><span id="userMoney">...</span></b></a>
            </p>
        </li>
        <li style="background-image:url('__STATIC__/images/new/top_menu_2.gif');background-size: 58px 58px;background-position: center 2px;">
            <p>
                <a href="{:U('Mobile/User/coupon')}"><b>优惠券<br/><span id="couponCount">...</span></b></a>
            </p>
        </li>
        <li style="background-image:url('__STATIC__/images/new/top_menu_3.gif');background-size: 58px 58px;background-position: center 2px;">
            <p>
                <a href="{:U('Mobile/Activity/index')}"><b>活动<br/><span id="activityCount">...</span></b></a>
            </p>
        </li>
        <li style="background-image:url('__STATIC__/images/new/top_menu_4.gif');background-size: 58px 58px;background-position: center 2px;">
            <p>
                <a href="{:U('Mobile/User/myPoster')}"><b>赚米<br/><span id="inviteNumber">...</span></b></a>
            </p>
        </li>
    </ul>
</div>

<div class="index_title">
    <img src="__STATIC__/images/new/suixinda3.png">
</div>

<div class="mui-content" id="main-container1"></div>

<div class="index_title" id="main-container2-btn">
    <img src="__STATIC__/images/new/suixinda.png">
    <img src="__STATIC__/images/new/suixinda6.jpg">
    <span class="mui-icon mui-icon-arrowdown" ></span>
</div>

<div class="mui-content" id="main-container2"></div>
<div style="clear: both;height: 40px; "></div>

<include file="Public/js"/>
<include file="Public/nav"/>

</body>


<script type="text/html" id="notice_html">
    <% if ( notice  ) { %>
    <div class="notice-box">
        <marquee scrollamount="2">
            <span><%= notice %></span>
        </marquee>
    </div>
    <% } %>
</script>



<script type="text/html" id="banner">
    <% if( count >= 0 ) { %>
    <div class="mui-slider-group mui-slider-loop">
        <div class="mui-slider-item  mui-slider-item-duplicate">
            <a href="<%= item[count].ad_link %>" <% if (item[count].target == 1 ) { %> target="_blank" <% } %> >
            <img src="<%= item[count].ad_code %>" title="<%= item[count].title %>" width="100%" style="<%= item[count].style %>">
            </a>
        </div>
        <% for (var i in item) { %>
        <div class="mui-slider-item">
            <a href="<%= item[i].ad_link %>" <% if (item[i].target == 1 ) { %>target="_blank" <% } %> >
            <img src="<%= item[i].ad_code %>" title="<%= item[i].title %>" width="100%" style="<%= item[i].style %>">
            </a>
        </div>
        <% } %>
        <div class="mui-slider-item  mui-slider-item-duplicate">
            <a href="<%= item[0].ad_link %>" <% if (item[0].target == 1 ) { %>target="_blank" <% } %> >
            <img src="<%= item[0].ad_code %>" title="<%= item[0].title %>" width="100%" style="<%= item[0].style %>">
            </a>
        </div>
    </div>
    <div class="mui-slider-indicator">
        <% for (var i in item) { %>
        <!--<div class="mui-indicator <% if ( i == 0 ) { %> mui-active <% } %> " ></div>-->
        <% } %>
    </div>
    <% } %>
</script>

<script type="text/html" id="goods1">
    <ul class="mui-table-view">
        <% for (var i in item) { %>
        <li class="my_index_cp_li">
            <div class="mui-slider-handle">
                <div class="c"><a href="{:U('Mobile/Goods/goodsInfo')}?id=<%= item[i].goods_id %>"></a></div>
                <div class="cp_index">
                    <% if(i == 0){ %>
                    <div class="cp_index_l3" style="width: 100%; margin-top: 50px;">
                        <a href="{:U('Mobile/Goods/goodsInfo')}?id=<%= item[i].goods_id %>">
                            <img src="__STATIC__/images/new/goods_banner.jpg" >

                        </a>
                    </div>
                    <% }else{ %>
                    <div class="cp_index_l3">
                        <a href="{:U('Mobile/Goods/goodsInfo')}?id=<%= item[i].goods_id %>">
                            <img src="<%= item[i].original_img %>" width="92" height="92">
                        </a>
                    </div>
                    <%}%>
                    <div class="cp_index_r">
                        <p class="cj1"><%= item[i].goods_subtitle?item[i].goods_subtitle:item[i].goods_name %></p>
                        <p class="cj1">
                            <span><%= item[i].goods_label?item[i].goods_label:item[i].goods_name %></span>
                        </p>
                        <p class="my_index_cp_li_p1"><%= item[i].goods_name %></p>
                        <p class="my_index_cp_li_p1">心动价：￥<%= item[i].shop_price %></p>
                        <p>
                            <a class="cp_index_buy" href="{:U('Mobile/Goods/goodsInfo')}?id=<%= item[i].goods_id %>">
                                立即购买
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <% } %>
    </ul>
</script>

<script type="text/html" id="goods2">
    <ul class="mui-table-view">
        <% for (var i in item) { %>
        <li class="my_index_spec_li ">
            <div class="mui-slider-handle">

                <div class="cp_index">
                    <div class="cp_index_l">
                        <a href="{:U('Mobile/Goods/goodsInfo')}?id=<%= item[i].goods_id %>">
                            <img src="<%= item[i].original_img %>" >
                        </a>
                    </div>
                    <div class="cp_index_r">
                        <p class="cj1">带走<%= item[i].goods_name %></p>
                        <p >
                            <span><%= item[i].goods_subtitle %></span>
                        </p>
                        <p class="cj1">心动价：￥<%= item[i].shop_price %></p>
                        <div class="my-mui-numbox z-index" data-numbox-min='0' data-numbox-max='99'>
                            <button class="mui-btn mui-btn-numbox-minus" onclick="switch_num(-1,'<%= item[i].goods_id %>','0','<%= item[i].store_count %>');" type="button">-</button>
                            <input id="goods_num_<%= item[i].goods_id %>_0" class="mui-input-numbox cp_index_number" type="text" onKeyDown='if(event.keyCode == 13) event.returnValue = false'  readonly value="<%= item[i].cartNumber %>"/>
                            <button class="mui-btn mui-btn-numbox-plus"  onclick="switch_num(1,'<%= item[i].goods_id %>','0','<%= item[i].store_count %>');" type="button">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <% } %>
    </ul>
</script>

<script>

    $(function(){
        $.ajax({
            type : "GET",
            url:"{:U('Wap/Index/index')}",
            dataType:'json',
            success: function(data){
                if( data.state == 1){
                    $("#notice").html(template.render("notice_html", data.data));
                    $("#userMoney").html(data.data.top_menu.userMoney);
                    $("#couponCount").html(data.data.top_menu.couponCount);
                    $("#activityCount").html(data.data.top_menu.activityCount);
                    $("#inviteNumber").html(data.data.top_menu.inviteNumber);
                    $("#slider").html(template.render("banner", data.data.ad));
                    $("#main-container1").html(template.render("goods1", data.data.newGoods));
                    $("#main-container2").html(template.render("goods2", data.data.favouriteGoods));
                    TouchSlide({
                        slideCell:"#picScroll",
                        titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
                        autoPage:true, //自动分页
                        pnLoop:"false", // 前后按钮不循环
                        switchLoad:"_src", //切换加载，真实图片路径为"_src"
                        autoPlay:true
                    });
                    var gallery = mui('.mui-slider');
                    gallery.slider({
                        interval: 4000//自动轮播周期，若为0则不自动播放，默认为0；
                    });
                    $("#main-container2").hide();
                    $("#main-container2-btn").click(function(){
                        $("#main-container2").slideToggle(300);
                        $("#main-container2-btn span").toggleClass("mui-icon-arrowdown");
                        $("#main-container2-btn span").toggleClass("mui-icon-arrowup");
                    });
                }else{
                    alert(data.msg);
                }
            },
            error:function(){
                alert("网络错误！");
            }
        });
    });

    var before_request = 1; // 上一次请求是否已经有返回来, 有才可以进行下一次请求
    function switch_num(number,goods_id,key,store_count) {
        if (before_request == 0)
        {
            alert("点击太频繁 ,休息一下");
            return false;
        }
        var cart_number = $(".my_cart .figure").html();
        cart_number = parseInt(cart_number);
        var num2 = parseInt($("#goods_num_"+goods_id+"_" + key).val());
        if( number < 0 && num2 < 1){
            return false;
        }
        num2 += number;
        if (num2 > store_count) {
            alert("库存只有 " + store_count + " 件, 你只能买 " + store_count + " 件");
            num2 = store_count; // 保证购买数量不能多余库存数量
            $("#goods_num_"+goods_id+"_" + key).val(num2);
            return false;
        }
        before_request = 0;
        $.ajax({
            type : "POST",
            url:"{:U('Wap/Cart/ajaxChangeCartData')}",
            data : {number:number,goods_id:goods_id,key:key},
            dataType:"json",
            success: function(data){
                alert(data.msg);
                if( data.status==1){
                    $("#goods_num_"+goods_id+"_" + key).val(num2);
                    if( number > 0){
                        flyCart("#goods_num_"+goods_id+"_" + key);
                    }
                    cart_number += number;
                    ajaxGetCartData();
                }
                before_request = 1;
            },
            error:function(){
                before_request = 1;
            }
        });
    }
    function flyCart( div_id ) {
        var img = $(div_id).parent().parent().parent().find('img');
        var flyElm = img.clone().css('opacity', 0.75);
        $('body').append(flyElm);
        flyElm.css({
            'z-index': 9000,
            'display': 'block',
            'position': 'absolute',
            'top': $(div_id).offset().top +'px',
            'left': $(div_id).offset().left +'px',
            'width': img.width() +'px',
            'height': img.height() +'px'
        });
        flyElm.animate({
            top: $('.my_cart').offset().top,
            left: $('.my_cart').offset().left + ($('.my_cart').width()/2),
            width: 20,
            height: 32
        }, 'slow', function() {
            flyElm.remove();
        });
    }
</script>

<include file="Public/footer"/>


</html>