<include file="Public/header2"/>
<body>
<include file="Public/loading"/>

<div class="top_nav">
    <div class="top_nav_left">
        <a href="{:U('Mobile/Goods/goodsList')}">全部</a>
        <a href="{:U('Mobile/Goods/goodsList')}">新品</a>
        <a href="{:U('Mobile/Index/recommendPolite')}">送礼指南</a>
        <a href="{:U('Mobile/Goods/goodsList',array('sort'=>'sales_sum'))}">销量</a>
    </div>
    <form name="sourch_form" id="sourch_form" method="post" action="{:U('Mobile/Goods/goodsList')}">
        <div class="top_nav_right">
            <div class="top_nav_find">
                <input name="find" id="q"  type="text" value="<?php echo I('q'); ?>" placeholder="龙米" />
                <a href="javascript:if($.trim($('#q').val()) != '') $('#sourch_form').submit();" >
                    <img src="__STATIC__/SVG/search_r.svg">
                </a>
            </div>
        </div>
    </form>
</div>

<div id="notice" ></div>

<div id="slider" class="mui-slider" ></div>

<div class="top_menu">
    <ul>
        <li style="background-image:url('__STATIC__/images/new/top_menu_1.png');">
            <p>
                <a href="{:U('Mobile/User/account')}"><b>钱包<br/><span id="userMoney">...</span></b></a>
            </p>
        </li>
        <li style="background-image:url('__STATIC__/images/new/top_menu_2.png');">
            <p>
                <a href="{:U('Mobile/User/coupon')}"><b>优惠券<br/><span id="couponCount">...</span></b></a>
            </p>
        </li>
        <li style="background-image:url('__STATIC__/images/new/top_menu_3.png');">
            <p>
                <a href="{:U('Mobile/Activity/index')}"><b>活动<br/><span id="activityCount">...</span></b></a>
            </p>
        </li>
        <li style="background-image:url('__STATIC__/images/new/top_menu_4.png');">
            <p>
                <a href="{:U('Mobile/User/myPoster')}"><b>赚米<br/><span id="inviteNumber">...</span></b></a>
            </p>
        </li>
    </ul>
</div>

<div class="index_title">
        <img src="__STATIC__/images/temp/temp_index_1.jpg">
</div>
<div class="index_title">
    <a href="{:U('Mobile/Goods/goodsInfo',array('id'=>15))}">
        <img src="__STATIC__/images/temp/temp_index_2.jpg">
    </a>
</div>
<div class="index_title">
    <a href="{:U('Mobile/Goods/goodsInfo',array('id'=>7))}">
        <img src="__STATIC__/images/temp/temp_index_3.jpg">
    </a>
</div>
<div class="index_title">
    <a href="{:U('Mobile/Goods/goodsInfo',array('id'=>8))}">
        <img src="__STATIC__/images/temp/temp_index_4.jpg">
    </a>
</div>
<div class="index_title">
        <img src="__STATIC__/images/temp/temp_index_5.jpg">
</div>
<div class="index_title">
    <a href="{:U('Mobile/Goods/goodsInfo',array('id'=>28))}">
        <img src="__STATIC__/images/temp/temp_index_6.jpg">
    </a>
</div>
<div class="index_title">
    <a href="{:U('Mobile/Goods/goodsInfo',array('id'=>3))}">
        <img src="__STATIC__/images/temp/temp_index_7.jpg">
    </a>
</div>
<div class="index_title">
    <a href="{:U('Mobile/Goods/goodsInfo',array('id'=>1))}">
        <img src="__STATIC__/images/temp/temp_index_9.jpg">
    </a>
</div>

<div style="clear: both;height: 40px; "></div>

<include file="Public/js"/>
<include file="Public/nav"/>

</body>


<script type="text/html" id="notice_html">
    <% if ( notice  ) { %>
    <div class="notice-box">
        <marquee scrollamount="2">
            <span><%= notice %></span>
        </marquee>
    </div>
    <% } %>
</script>



<script type="text/html" id="banner">
    <% if( count >= 0 ) { %>
    <div class="mui-slider-group mui-slider-loop">
        <div class="mui-slider-item  mui-slider-item-duplicate">
            <a href="<%= item[count].ad_link %>" <% if (item[count].target == 1 ) { %> target="_blank" <% } %> >
            <img src="<%= item[count].ad_code %>" title="<%= item[count].title %>" width="100%" style="<%= item[count].style %>">
            </a>
        </div>
        <% for (var i in item) { %>
        <div class="mui-slider-item">
            <a href="<%= item[i].ad_link %>" <% if (item[i].target == 1 ) { %>target="_blank" <% } %> >
            <img src="<%= item[i].ad_code %>" title="<%= item[i].title %>" width="100%" style="<%= item[i].style %>">
            </a>
        </div>
        <% } %>
        <div class="mui-slider-item  mui-slider-item-duplicate">
            <a href="<%= item[0].ad_link %>" <% if (item[0].target == 1 ) { %>target="_blank" <% } %> >
            <img src="<%= item[0].ad_code %>" title="<%= item[0].title %>" width="100%" style="<%= item[0].style %>">
            </a>
        </div>
    </div>
    <div class="mui-slider-indicator">
        <% for (var i in item) { %>
        <!--<div class="mui-indicator <% if ( i == 0 ) { %> mui-active <% } %> " ></div>-->
        <% } %>
    </div>
    <% } %>
</script>

<script>

    $(function(){
        $.ajax({
            type : "GET",
            url:"{:U('Wap/Index/index')}",
            dataType:'json',
            success: function(data){
                if( data.state == 1){
                    $("#notice").html(template.render("notice_html", data.data));
                    $("#userMoney").html(data.data.top_menu.userMoney);
                    $("#couponCount").html(data.data.top_menu.couponCount);
                    $("#activityCount").html(data.data.top_menu.activityCount);
                    $("#inviteNumber").html(data.data.top_menu.inviteNumber);
                    $("#slider").html(template.render("banner", data.data.ad));
                    TouchSlide({
                        slideCell:"#picScroll",
                        titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
                        autoPage:true, //自动分页
                        pnLoop:"false", // 前后按钮不循环
                        switchLoad:"_src", //切换加载，真实图片路径为"_src"
                        autoPlay:true
                    });
                    var gallery = mui('.mui-slider');
                    gallery.slider({
                        interval: 4000//自动轮播周期，若为0则不自动播放，默认为0；
                    });
                    $("#main-container2").hide();
                    $("#main-container2-btn").click(function(){
                        $("#main-container2").slideToggle(300);
                        $("#main-container2-btn span").toggleClass("mui-icon-arrowdown");
                        $("#main-container2-btn span").toggleClass("mui-icon-arrowup");
                    });
                }else{
                    alert(data.msg);
                }
            },
            error:function(){
                alert("网络错误！");
            }
        });
    });

</script>

<include file="Public/footer"/>


</html>