/*
* @Author: zhonght
* @Date:   2016-12-08
*/
* {
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
a {
    text-decoration: none;
    font-size: 12px;
    color: #3f3f42;
    text-align: center;
}
span{
    color: #3f3f42;
}
html {
    font-size: 100%;
    height: 100%;
    background-color: #fff;
}
body {
    font-family: "微软雅黑";
    font-size: 14px;
    height: 100%;
    line-height: 1.5;
    min-height: 100%;
    width: 100%;
    color: #3f3f42;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    background-color: #fff;
}
.main {
    background: #7bc8e4;
    padding-bottom: 20px;
    margin: 10px;
    min-height: 100%;
    position: absolute;
}

.main .bg img{
    width: 100%;
}
.f_tip{
    width: 100%;
    color: #fff;
    text-align: center;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    font-weight: 100;
}

.f_content{
    width: 100%;
    height: 128px;
    background: url("../images/f_plate.jpg") no-repeat bottom center;
    background-size: 102px 113px;
}
.f_content .f_progress{
    background: url("../images/f_progress.png") no-repeat center top;
    width: 100%;
    height:67px;
    position: absolute;
}

.f_content .f_progress span{
    position: relative;
    top: 70px;
    font-size: 12px;
}

.f_content .f_progress span.f_progress_l{
    margin-left: -70px;
    left: 50%;
}
.f_content .f_progress span.f_progress_r{
    left: 50%;
    margin-left: 110px;
}
.f_application{
    width: 100%;
    height: 142px;
    background: url("../images/f_application_bg.jpg") no-repeat top center;
    background-size: 168px 142px;
}
.f_application .form{
    width: 147px;
    height: 100px;
    margin: 0 auto;
    padding-top: 34px;
}
.f_application .form input{
    margin: 3px 10px;
    width: 127px;
    padding: 0 5px;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    background: #fff;
    border: 0px;
    border-radius: 0px;
}
.f_application .form .f_application_tip{
    color: #6f6e68;
    text-align: center;
    font-size: 12px;
    display: block;
    line-height: 56px;
    height: 56px;
    width: 100%;
}
.f_pic{
    margin-top: 20px;
    width: 100%;
}
.f_pic img{
    width: 100%;
}

.f_c_button{
    width: 156px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #3f3f42;
    margin: 9px auto 0 auto;
    background: url("../images/f_c_button.jpg") no-repeat center;
    background-size: 156px 30px;
    display: block;
}
.f_bottom{
    width: 100%;
}
.f_bottom a{
    display: block;
    width: 33%;
    height: 48px;
    line-height: 48px;
    float: left;
}



.f_describe_top{
    width: 100%;
    height: 59px;
    background: url("../images/f_describe_top.jpg") no-repeat top left;
    background-size: 70px 59px;
}
.f_describe{
    width: 92%;
    overflow: hidden;
    margin: 0 4%;
    padding: 0 4% 30px 4%;
    min-height: 300px;
    background: url("../images/f_describe_bottom.jpg") no-repeat bottom right;
    background-size: 70px 62px;
}
.f_describe p{
    margin:0px;
    font-weight: bold;
}

.f_tab{
    display: none;
}