<include file="$headerPath"/>
<link href="__STATIC__/css/shopping_cart1.css" rel="stylesheet" />
<img src="__ADDONS__/images/11-24.png" alt="" style="width:100%;margin:10px 0;">

<!--<div class="tip_b">-->
    <!--<div>-->
        <!--<div>-->
            <!--<strong>兑换码是什么？</strong>:-->
        <!--</div>-->
        <!--<div style="margin-bottom:6px">-->
            <!--龙米印制的实体礼品卡上，会有一个兑换码，做了保密处理，需要刮开查看，在此输入即可马上兑换。兑换成功后，礼品直接寄往持卡人所填收货地址。礼品卡兑换的礼品可以定制。<br>-->
        <!--</div>-->
    <!--</div>-->
</div>
<div class="m33" style="background: none;">
    <div class="cp2_title cp2_title_h">用餐人</div>
</div>
<div class="mui-content">
    <ul class="mui-table-view">

        <foreach name="list" item="v" key="k" >
            <li class="mui-table-view-cell">
                <div class="mui-slider-right mui-disabled">
                    <a onclick="ajax_del_cart(this)" data-ids="{$v.id}" class="mui-btn mui-btn-red">取消选择</a>
                </div>
                <div class="mui-slider-handle">
                    <div class="cp7" style="padding-top:0px;padding-bottom:0px;">
                        <div class="cp1_r" style="padding-left:0;">
                            <p ><span style="display: inline-block;float:none;width:110px;">{$v.names|subtext = 5}</span>{$v.mobile}</p>
                        </div>
                    </div>
                </div>
            </li>
        </foreach>
    </ul>
    <div class="empty_btn" style="float: right;margin:8px 5px 5px 0;">
        <a href="{: U('Mobile/Addons/lunchFeast',array('pluginName' => 'aMeal' ))}" style="background: #b02f4b">添加用餐人</a>
    </div>
    <div style="clear:both;"></div>

    <div class="site_txt1">
        <a href="javascript:void(0);">优惠券 <span  class="coupon_span">{: !empty($couponList) ?  count($couponList).'张可用' : '无可用'}</span></a>
        <div class="mui-input-group" style="display:none">
            <notempty name="couponList">
                <div class="mui-input-row mui-radio mui-left">
                    <label>不使用优惠券</label>
                    <input name="coupon" type="radio" value="0" checked class="couponClass" />
                </div>
                <foreach name="couponList" item="v"  key="k">
                    <div class="mui-input-row mui-radio mui-left">
                        <label>{$v['name']}</label>
                        <input name="coupon" type="radio" value="{$v['id']}" class="couponClass" />
                    </div>
                </foreach>
                <else/>
                <div class="mui-input-row mui-radio mui-left">
                    <label>暂无可使用的优惠券</label>
                </div>
            </notempty>
        </div>
    </div>
</div>



        <div style="height:100px"></div>
        <div class="foot" id="foot" style="margin-bottom:0px;z-index:99;">
            <div class="fr closing " style="width:117px;">
                <a  onclick="payment()" style="color:#FFF">微信安全支付</a>
            </div>
            <div class="fr total"  style="float: left;margin-left:20px;">
                <span id="cartSum">{$sum}</span>人,共:￥<span id="cart_amount_desc">{$price * $sum}</span>
            </div>
        </div>



<script type="text/javascript">
    var sum = "{$sum}";
    var price = "{$price}";
    function payment(){
        if(sum <=  0){
            alert('请选择用餐人');
            return false;
        }
        var coupon = $("input[name='coupon']:checked").val();
        window.location.href = "/index.php?m=Mobile&c=Addons&a=lunchFeast&pluginName=payment&couId="+coupon;
    }
    var controls = true;
    // ajax 删除联系人
    function ajax_del_cart(obj)
    {
        var ids = $(obj).data('ids');
        if(controls){
            controls = false;
            $.ajax({
                type : "POST",
                url:"{:U('Mobile/Addons/lunchFeast')}",
                data:{pluginName:'removePer',delPerId:ids},
                dataType:'json',
                success: function(data){
                    controls = true;
                    if(data.state == '1'){
//                        window.location.href = window.location.href;
                        sum = data.data.count;
                        $(obj).parent().parent().remove();
                        if(sum != 0){
                            var couponId = $("input[name='coupon']:checked").val();
                            var moneys = sum * price;
                            ajaxCoupon(couponId,moneys);
                            $('#cartSum').text(sum);
                        }else{
                            $('#cart_amount_desc').text(0);
                            $('#cartSum').text(0);
                        }



                    }else{
                        alert(data.msg);
                    }
                }
            });
        }
    }

    var controlss = true;

    function ajaxCoupon(CouponId,Money){
        if(CouponId != 0){
            $.ajax({
                type:'post',
                url:'/index.php?m=Mobile&c=Cart&a=ajaxCoupon',
                data:{couponId:CouponId,money:Money},
                dataType:'json',
                success:function(res){
//                    console.log(res);return false;
                    if(res.state == 1){
                        $('#cart_amount_desc').text(res.data.money.toFixed(2));
                    }else{
                        alert(res.msg);
                        $('#cart_amount_desc').text(Money);
                    }
                },
                error:function(){
                    alert('网络超时');
                }

            });
        }else{
            $('#cart_amount_desc').text(Money);
        }

    }

    $(".couponClass").change(['Data'],function(){
        var couponId = $(this).val();
        var money = price * sum;
        if(sum ==0){
            alert('请选择用餐人');
            return false;
        }
        ajaxCoupon(couponId,money);



    });



    $('.site_txt1').click(function(){
        var sta = $('.mui-input-group').css('display');
        if(sta == 'block'){
            $('.mui-input-group').css('display','none');
        }else{
            $('.mui-input-group').css('display','block');
        }
    })


</script>
<include file="$footerPath"/>