<include file="$headerPath"/>

<div class="titel_box">
    <div class="titel_box_l">用餐凭证</div>
</div>
<foreach item="userItem" name="orderInfo.userList">
    <div class="cp6">
        <div class="cp1_l" style="float:none;margin:0 auto;width:200px;">
            <img src="/Public/upload/goods/thumb/1/goods_thumb_1_100_100.jpeg" width="180" height="180">
            <p style="text-align:center">{$userItem.code}</p>
            <span style="color:#666;text-align:center;display: block;" >{$userItem.userInfo.names}  {$userItem.userInfo.mobile}</span>
        </div>

    </div>
</foreach>
<div class="site_txt">订单编号<span>{$orderInfo.order_sn}</span></div>
<div class="site_txt">下单时间<span>{$orderInfo.create_time|date="Y-m-d",###}</span></div>
<include file="$footerPath"/>