<include file="$headerPath"/>


<div class=".navbar-fixed-top">
    <button type="button" class="btn btn-info" onclick='location.href="{: U('Mobile/Addons/lunchFeast',array('pluginName' => 'addAMeal' ))}"'>添加新用餐人</button>
</div>
<div class="container">
    <table class="table ">
        <tr class="error">
            <td>#</td>
            <td>用餐人</td>
            <td>手机号码</td>
            <td>选择</td>
        </tr>
        <!--<form action="{:U('Mobile/Addons/lunchFeast')}" method="post" id="Perform">-->
        <volist name="list"  key="key" id="item">
            <tr >
                <td>{$key}</td>
                <td>{$item.names}</td>
                <td>{$item.mobile}</td>
                <td><div class="checkbox"><input type="checkbox" name="pitchOn" value="{$item.id}"></div></td>
            </tr>
        </volist>
            <!--<input type="hidden" name="pluginName" value="pageSubmit">-->
        <!--</form>-->
    </table>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
    <button class="btn btn-large btn-block btn-primary" type="button" onclick="addition()">确定添加</button>
</div>

<include file="$footerPath"/>

<script>
    function addition(){
        var chk_value =[];
        $('input[name="pitchOn"]:checked').each(function(){
            chk_value.push($(this).val());
        });
        if(chk_value.length == 0){
            alert('请选择用餐人');
            return false;
        }
//        $('#Perform').submit();

        var controls = true;
        if(controls){
            kong = false;
            $.ajax({
                type : 'post',
                url : "{: U('Mobile/Addons/lunchFeast')}",
                data : {pluginName:'aMeal',list:chk_value},
                dataType : 'json',
                success : function(res){
                    controls = true;
                    if(res.state == '1'){
                        window.location.href = "{: U('Mobile/Addons/lunchFeast',array('pluginName' => 'pageSubmit' ))}";
                    }else{
                        alert(res.msg);
                    }
                },
                error : function(XMLHttpRequest, textStatus, errorThrown) {
                    alert('网络失败，请刷新页面后重试');
                }
            })
        }

    }
</script>

