<include file="$headerPath"/>
<style>
    #footButton{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        background: #ff6091;
        clear:both;
        color:white;
    }
</style>
<div class="titel_box">
    <div class="titel_box_l">用餐凭证</div>
</div>
<foreach item="userItem" name="orderInfo.userList">
    <div class="cp6">
        <div class="cp1_l" style="float:none;margin:0 auto;width:200px;">
            <img src="{:U('Mobile/Addons/lunchFeast',array('pluginName'=>'qrCode','url' =>$userItem['code'] ))}" width="180" height="180">
            <p style="text-align:center">{$userItem.code}</p>
            <span style="color:#666;text-align:center;display: block;" >{$userItem.userInfo.names}  {$userItem.userInfo.mobile}</span>
        </div>

    </div>
</foreach>
<div class="site_txt">订单编号<span>{$orderInfo.order_sn}</span></div>
<div class="site_txt">下单时间<span>{$orderInfo.create_time|date="Y-m-d",###}</span></div>

<button  type="button"   id="footButton" style="background:#ff6091;" onclick="window.location.href='{: U("Mobile/Addons/lunchFeast/")}'">回到首页</button>


<include file="$footerPath"/>