<include file="$headerPath"/>
<link href="__STATIC__/css/shopping_cart1.css" rel="stylesheet" />
<style>
    #footButton{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        background: #b02f4b;
        clear:both;
        color:white;
        z-index: 9999;
    }

    #head{
        width: 100%;
        height: 50px;
        background-color: #efeff4;
        text-align: center;
        line-height: 50px;
        margin: 10px auto;
        border: 1px solid #b02f4b;
        border-radius: 5px;
        color: #DA7289;
    }
    #head a{
        display:inline-block;
        width: 130px;
        padding-left: 8px;
        background:url('__ADDONS__/images/11-25.png' ) no-repeat -11% 49% ;
  }
    #triangle-down {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 50px solid red;
    }
</style>
<div   id="head">
    <a  >添加新用餐人</a>
    <!--<a  ></a>-->
</div>
    <!--<div id="head" onclick="window.location.href='{: U("Mobile/Addons/lunchFeast",array("pluginName" => "addAMeal" ))}' "><span >添加新用餐人</span></div>-->

    <empty name ="list">
        <div class="empty"><img src="__STATIC__/SVG/d4.svg"></div>
        <div class="empty_txt" style="color: #b2b2b2;">没有用餐人信息~</div>
        <else/>
        <div class="m33" style="background: none;">
            <div class="cp2_title cp2_title_h">用餐人</div>
        </div>
        <div class="mui-content">
            <ul class="mui-table-view">
                <foreach name="list" item="v" key="k" >
                    <li class="mui-table-view-cell" onclick="signal(this)">
                        <div class="mui-slider-right mui-disabled">
                            <a onclick="ajax_del_cart(this)" data-ids="{$v.id}" class="mui-btn mui-btn-red">删除</a>
                        </div>
                        <div class="mui-slider-handle">
                            <div class="cp7" style="padding-top:0px;padding-bottom:0px;">

                                <div class="checkbox_s" style="z-index: 1;">
                                    <label class="fl select-all" style="width:50px !important">
                                    <span class="mui-input-row mui-checkbox mui-left" >
                                        <input  name="cart_select" onclick="optInput(this)" class="check-all check-one check" type="checkbox" <if condition="$v[pitchon] eq 1" >checked="checked"</if> value="{$v.id}"  style="top:6px;">
                                    </span>
                                    </label>
                                </div>
                                <div class="cp1_r" >
                                    <p ><span style="display: inline-block;float:none;width:110px;">{$v.names|subtext = 5}</span>   {$v.mobile}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </foreach>
            </ul>
        </div>

    </empty>
    <!--<div class="empty_btn" style="margin-top:16px;"><a href="{: U('Mobile/Addons/lunchFeast',array('pluginName' => 'addAMeal' ))}" >添加新朋友</a></div>-->

    <div style="height:100px"></div>
    <button  type="button"   id="footButton" onclick="return addition();">确定用餐人</button>
    <!--<div class="foot" id="foot" style="margin-bottom:0px;z-index:99;">-->
        <!--<notempty name ="list">-->
            <!--<label class="fl select-all" style="width:100px !important">-->
                    <!--<span class="mui-input-row mui-checkbox mui-left" >-->
                        <!--<input type="checkbox" class="check-all check-one check checked_longmi"   id="quanxuan" style="margin-top:-6px;left: 17px;" onclick="chkAll_onclick()">-->
                    <!--</span>-->
                <!--<span style="margin-left:50px">全选</span>-->
            <!--</label>-->
        <!--</notempty>-->
        <!--<div class="fr closing">-->
            <!--<a  onclick="return addition();" style="color:#FFF">选择用餐人</a>-->

        <!--</div>-->
        <!--<div class="fr closing" style="margin-right:15px">-->
            <!--<a  href="{: U('Mobile/Addons/lunchFeast',array('pluginName' => 'addAMeal' ))}" style="color:#FFF">去添加</a>-->
        <!--</div>-->

    <!--</div>-->

<script type="text/javascript">
    var controls = true;
    // ajax 删除联系人
    function ajax_del_cart(obj)
    {
        var ids = $(obj).data('ids');
        if(controls){
            controls = false;
            $.ajax({
                type : "POST",
                url:"{:U('Mobile/Addons/lunchFeast')}",
                data:{pluginName:'ajaxDelMeal',ids:ids},
                dataType:'json',
                success: function(data){
                    controls = true;
                    if(data.state == '1'){
                        $(obj).parent().parent().remove();
                    }else{
                        alert(data.msg);
                    }
                }
            });
        }
    }

    var controlss = true;
    function addition(){
        var chk_value =[];
        $('input[name="cart_select"]:checked').each(function(){
            chk_value.push($(this).val());
        });
        if(chk_value.length == 0){
            alert('请选择用餐人');
            return false;
        }
        if(controlss){
            controlss = false;
            $.ajax({
                type : 'post',
                url : "{: U('Mobile/Addons/lunchFeast')}",
                data : {pluginName:'aMeal',list:chk_value},
                dataType : 'json',
                success : function(res){
                    if(res.state == '1'){
                        window.location.href = "{: U('Mobile/Addons/lunchFeast',array('pluginName' => 'pageSubmit' ))}";
                    }else{
                        alert(res.msg);
                    }
                },
                error : function(XMLHttpRequest, textStatus, errorThrown) {
                    alert('网络失败，请刷新页面后重试');
                }
            })
        }

    }

    function signal(obj){
        var check = $(obj).find('input').attr('checked');
        if(check == 'checked'){
            $(obj).find('input').attr('checked',false);
        }else{
            $(obj).find('input').attr('checked',true);
        }
    }

    function optInput(obj){
        var check = $(obj).attr('checked');
        if(check == 'checked'){
            $(obj).attr('checked',false);
        }else{
            $(obj).attr('checked',true);
        }
    }




</script>
<include file="$footerPath"/>

