<include file="$headerPath"/>
<style>
    .container img{ width: 100% !important;}
</style>
<div class="container">
    {$config.main|htmlspecialchars_decode}
</div>
<div style="height: 51px;"></div>
<div class="nav_d">
    <ul>
        <li>
            <a href="{:U('Mobile/Addons/lunchFeast',array('pluginName'=>'orderList'))}">
                <span>我的用餐凭证</span>
            </a>
        </li>
        <li class="h">
            <a href="#buy">
                <span>立即预约</span>
            </a>
        </li>
    </ul>
</div>
<div id="buy" class="mui-popover mui-popover-action mui-popover-bottom mui-scroll-wrapper">
    <div class="mui-scroll">
        <div class="m33">
            <div class="cp2_titel">用餐地点</div>
        </div>
        <div class="my_nav" style="margin-top: 0px;border-top-width: 1px;border-top-style: solid;border-top-color: #E3E3E3;">
            <ul>
                <li>
                    <a>{$shopList.0.shop_name}</a>
                </li>
            </ul>
        </div>
        <div class="m33">
            <div class="cp2_titel">预约时间</div>
            <div id="ajaxShopMealList">
                <ul >
                    <foreach item="shopMealItem" name="shopMealList">
                        <li onclick="switch_spec(this);">
                            <p>
                                <a href="javascript:;" >{$shopMealItem['date']|date="Y-m-d",###}</a>
                            </p>
                            <!--<input type="radio" style="display:none;" name="" value="{$mealItem['id']}" />-->
                        </li>
                    </foreach>
                </ul>
            </div>
        </div>
        <div class="m33">
            <div class="cp2_titel">进餐时间</div>
            <ul>
                <foreach item="mealItem" name="mealList">
                    <li onclick="switch_spec(this);">
                        <p>
                            <a href="javascript:;"  title="{$mealItem['name']}" >{$mealItem['name']}</a>
                        </p>
                        <input type="radio" style="display:none;" name="" value="{$mealItem['id']}" />
                    </li>
                </foreach>
            </ul>
            <div class="m33_btn" id="next1">
                <a href="javascript:void(0);"  onclick="newSubmit();">查看当日菜品</a>
            </div>
        </div>
   </div>
</div>


<script>
    function switch_spec(spec)
    {
        if( $(spec).hasClass("gray") ){
            return;
        }
        $(spec).siblings().removeClass('m33_hover');
        $(spec).addClass('m33_hover');
        $(spec).siblings().children('input').prop('checked',false);
        $(spec).find('input').prop('checked',true);
        get_goods_price();
    }
    function newSubmit(){

    }
</script>
<include file="$footerPath"/>