<include file="$headerPath"/>
<link href="__STATIC__/css/shopping_cart1.css" rel="stylesheet" />
<div class="tip_b" style=" border: 0px; margin-top:0px; margin-bottom: 30px; ">
    <div>
        <div>
            <strong>温馨提醒</strong>
        </div>
        <div style="  width:86%;margin: 3px 7%;">
            ● 用餐时段：中午12：30分开始；
        </div>
        <div style="  width:86%;margin: 3px 7%;">
            ● 请在预订日期赴宴，本产品不支持过期退款；
        </div>
        <div style="  width:86%;margin: 3px 7%;">
            ● 如需开具发票，请当日到场咨询；
        </div>
        <div style="  width:86%;margin: 3px 7%;">
            ● 甜品，小吃品种季节性较强，以当日店家安排为准；
        </div>
        <div style="  width:86%;margin: 3px 7%;">
            ● 如有疑问，请联系宴午客服。电话：4000-78-7725，微信：龙米
        </div>
        <div style="margin-top:15px" class="my_help">
            <a href="tel:4000787725" >需要帮助</a>
        </div>
    </div>
</div>
<div class="m33" style="background: none;overflow: hidden;">
    <div class="cp2_title cp2_title_h" style="width: 50%; float: left; ">用餐人</div>
    <div class="empty_btn" style="margin:0 5px 0 0;float: right;">
        <a href="{: U('Mobile/Addons/lunchFeast',array('pluginName' => 'aMeal' ))}" style="background: #b02f4b">选择用餐人</a>
    </div>
</div>
<div class="mui-content">
    <ul class="mui-table-view">

        <foreach name="list" item="v" key="k" >
            <li class="mui-table-view-cell">
                <div class="mui-slider-right mui-disabled">
                    <a onclick="ajax_del_cart(this)" data-ids="{$v.id}" class="mui-btn mui-btn-red">取消选择</a>
                </div>
                <div class="mui-slider-handle">
                    <div class="cp7" style="padding:0px;">
                        <div class="cp1_r" style="padding-left:0;">
                            <p ><span style="display: inline-block;float:none;width:110px;">{$v.names|subtext = 5}</span>{$v.mobile}</p>
                        </div>
                    </div>
                </div>
            </li>
        </foreach>
    </ul>
    <div style="clear:both;"></div>
</div>

<div class="m33" style="background: none;overflow: hidden;">
    <div class="cp2_title cp2_title_h" style="width: 50%; float: left; ">优惠券</div>
</div>
<div class="mui-content">
    <div style="clear:both;"></div>

    <div id="CouponDiv">
        <img src="__ADDONS__/images/loading.gif" style=" margin:0px auto;width:32px !important; height:32px !important">
    </div>

</div>


        <div style="height:100px"></div>
        <div class="foot" id="foot" style="margin-bottom:0px;z-index:99;">
            <div class="fr closing " style="width:117px;">
                <a  onclick="payment()" style="color:#FFF">微信安全支付</a>
            </div>
            <div class="fr total"  style="float: left;margin-left:20px;">
                <span id="cartSum">{$sum}</span>人,共:￥<span id="cart_amount_desc">{$price * $sum}</span>
            </div>
        </div>



<script type="text/javascript">
    var sum = "{$sum}";
    var price = "{$price}";
    var cost = sum * price;
//    console.log(price);

    var loadHtml = '<img src="__ADDONS__/images/loading.gif" style=" margin:0px auto;width:32px !important; height:32px !important">';
    $(document).ready(function(){
        CouponAjaxList(cost);

    });
    function payment(){
        if(sum <=  0){
            alert('请选择用餐人');
            return false;
        }

        var coupon = $("input[name='coupon']:checked").val();
        if(coupon == undefined){
            coupon = 0;
        }
        window.location.href = "/index.php?m=Mobile&c=Addons&a=lunchFeast&pluginName=payment&couId="+coupon;
    }


    function CouponAjaxList(moneySum){
        $("#CouponDiv").html(loadHtml);
        $.ajax({
            type : "post",
            url:"{: U('Mobile/Addons/lunchFeast')}",
            data :{pluginName:'ajaxCoupon',money:moneySum},// 你的formid
            success: function(data){
                $("#CouponDiv").html(data);
            }
        });
    }

    var controls = true;
    // ajax 删除联系人
    function ajax_del_cart(obj)
    {
        var ids = $(obj).data('ids');
        if(controls){
            controls = false;
            $.ajax({
                type : "POST",
                url:"{:U('Mobile/Addons/lunchFeast')}",
                data:{pluginName:'removePer',delPerId:ids},
                dataType:'json',
                success: function(data){
                    controls = true;
                    if(data.state == '1'){
//                        window.location.href = window.location.href;
                        sum = data.data.count;
                        $(obj).parent().parent().remove();
                        var moneys = sum * price;
                        CouponAjaxList(moneys);
                        if(sum != 0){
//                            var couponId = $("input[name='coupon']:checked").val();
//                            ajaxCoupon(couponId,moneys);
                            $('#cart_amount_desc').text(moneys);
                            $('#cartSum').text(sum);
                        }else{
                            $('#cart_amount_desc').text(0);
                            $('#cartSum').text(0);
                        }



                    }else{
                        alert(data.msg);
                    }
                }
            });
        }
    }

    var controlss = true;

    function ajaxCoupon(CouponId,Money){
        if(CouponId != 0){
            $.ajax({
                type:'post',
                url:'/index.php?m=Mobile&c=Cart&a=ajaxCoupon',
                data:{couponId:CouponId,money:Money},
                dataType:'json',
                success:function(res){
//                    console.log(res);return false;
                    if(res.state == 1){
                        $('#cart_amount_desc').text(res.data.money.toFixed(2));
                    }else{
                        alert(res.msg);
                        $('#cart_amount_desc').text(Money);
                    }
                },
                error:function(){
                    alert('网络超时');
                }

            });
        }else{
            $('#cart_amount_desc').text(Money);
        }

    }








</script>
<include file="$footerPath"/>