<include file="$headerPath"/>
<link href="__STATIC__/css/shopping_cart1.css" rel="stylesheet" />

    <empty name ="list">
        <div class="empty"><img src="__STATIC__/SVG/d4.svg"></div>
        <div class="empty_txt" style="color: #b2b2b2;">没有用餐人信息~</div>
        <else/>
        <div class="mui-content">
            <ul class="mui-table-view">
                <foreach name="list" item="v" key="k" >
                    <li class="mui-table-view-cell">
                        <div class="mui-slider-right mui-disabled">
                            <a onclick="ajax_del_cart(this)" data-ids="{$v.id}" class="mui-btn mui-btn-red">删除</a>
                        </div>
                        <div class="mui-slider-handle">
                            <div class="cp7" style="padding-top:0px;padding-bottom:0px;">

                                <div class="checkbox_s">
                                    <label class="fl select-all" style="width:50px !important">
                                    <span class="mui-input-row mui-checkbox mui-left" >
                                        <input  name="cart_select" class="check-all check-one check" type="checkbox" <if condition="$v[pitchon] eq 1" >checked="checked"</if> value="{$v.id}"  style="top:6px;">
                                    </span>
                                    </label>
                                </div>
                                <div class="cp1_r" >
                                    <p >名字：<span style="display: inline-block;float:none;width:63px;">{$v.names}</span>   电话：{$v.mobile}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </foreach>
            </ul>
        </div>




        <script type="text/javascript">
            $(".check-wrapper .cart-checkbox").click(function(){
                if($(this).hasClass('checked')){
                    $(this).removeClass('checked');
                    $(this).find('input').attr('checked',false);
                }else{
                    $(this).addClass('checked');
                    $(this).find('input').attr('checked',true);
                }
                ajax_cart_list();
            })

            var is_checked = true;
            $('.mui-table-view .mui-checkbox input').each(function(){
                if(!$(this).attr('checked'))
                {
                    is_checked = false;
                    return false;
                }
            });
            if(is_checked){
                $('#quanxuan').attr('checked',true);
                $('#quanxuan').addClass('checked_longmi');
            }else
            {
                $('#quanxuan').attr('checked',false);
                $('#quanxuan').removeClass('checked_longmi');
            }

            function chkAll_onclick()
            {
                if($('#quanxuan').hasClass('checked_longmi')){
                    $('#quanxuan').removeClass('checked_longmi');
                    $('#quanxuan').attr('checked',false);
                    $('.cp_box .cart-checkbox').removeClass('checked');
                    $("input[name^='cart_select']").prop('checked',false);
                    is_checked = false;
                }
                else{
                    $('#quanxuan').addClass('checked_longmi');
                    $('#quanxuan').attr('checked',true);
                    $('.cp_box .cart-checkbox').addClass('checked');
                    $("input[name^='cart_select']").prop('checked',true);
                    is_checked = true;
                }

            }



        </script>
    </empty>

    <div style="height:100px"></div>
    <div class="foot" id="foot" style="margin-bottom:0px;z-index:99;">
        <notempty name ="list">
            <label class="fl select-all" style="width:100px !important">
                    <span class="mui-input-row mui-checkbox mui-left" >
                        <input type="checkbox" class="check-all check-one check checked_longmi"   id="quanxuan" style="margin-top:-6px" onclick="chkAll_onclick()">
                    </span>
                <span style="margin-left:50px">全选</span>
            </label>
        </notempty>
        <div class="fr closing">
            <a  onclick="return addition();" style="color:#FFF">选择用餐人</a>

        </div>
        <div class="fr closing" style="margin-right:15px">
            <a  href="{: U('Mobile/Addons/lunchFeast',array('pluginName' => 'addAMeal' ))}" style="color:#FFF">去添加</a>
        </div>

    </div>

<script type="text/javascript">
    var controls = true;
    // ajax 删除联系人
    function ajax_del_cart(obj)
    {
        var ids = $(obj).data('ids');
        if(controls){
            controls = false;
            $.ajax({
                type : "POST",
                url:"{:U('Mobile/Addons/lunchFeast')}",
                data:{pluginName:'ajaxDelMeal',ids:ids},
                dataType:'json',
                success: function(data){
                    controls = true;
                    if(data.state == '1'){
                        $(obj).parent().parent().remove();
                    }else{
                        alert(data.msg);
                    }
                }
            });
        }
    }

    var controlss = true;
    function addition(){
        var chk_value =[];
        $('input[name="cart_select"]:checked').each(function(){
            chk_value.push($(this).val());
        });
        if(chk_value.length == 0){
            alert('请选择用餐人');
            return false;
        }
        if(controlss){
            controlss = false;
            $.ajax({
                type : 'post',
                url : "{: U('Mobile/Addons/lunchFeast')}",
                data : {pluginName:'aMeal',list:chk_value},
                dataType : 'json',
                success : function(res){
                    if(res.state == '1'){
                        window.location.href = "{: U('Mobile/Addons/lunchFeast',array('pluginName' => 'pageSubmit' ))}";
                    }else{
                        alert(res.msg);
                    }
                },
                error : function(XMLHttpRequest, textStatus, errorThrown) {
                    alert('网络失败，请刷新页面后重试');
                }
            })
        }

    }


</script>
<include file="$footerPath"/>