<include file="$headerPath"/>
<style>
    #footButton{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        background: #b02f4b;
        clear:both;
        color:white;
    }
</style>
<div class="m33">
    <div class="cp2_title cp2_title_h" >用餐凭证
        <if condition='$config["need_recommend"] neq 0'>
            <a href="{:U('Mobile/Addons/lunchFeast',array('pluginName'=>'recommendIndex' ))}" style="float: right;">发红包></a>
        </if>
    </div>
</div>
<foreach item="userItem" name="orderInfo.userList">
    <div class="cp6" >
        <div class="cp1_l" style="float:none;margin:0 auto;width:200px;">
            <img src="{:U('Mobile/Addons/lunchFeast',array('pluginName'=>'qrCode','url' =>$userItem['code'] ))}" width="180" height="180" style="margin:0 auto;">
            <p style="text-align:center;font-weight: bold;font-size: 18px;">{$userItem.code}</p>
        </div>

    </div>
    <div class="site_txt">用餐人<span> {$userItem.userInfo.names}</span></div>
</foreach>
<div class="site_txt">订单编号<span>{$orderInfo.order_sn}</span></div>
<div class="site_txt">下单时间<span>{$orderInfo.create_time|date="Y-m-d",###}</span></div>

<div style="height:100px"></div>
<div class="foot" id="foot" style="margin-bottom:0px;">
    <button  type="button"   id="footButton" style="background:#b02f4b;" onclick="window.location.href='{: U("Mobile/Addons/lunchFeast/",array("pluginName"=>"index") )}'">回到首页</button>

</div>


<include file="$footerPath"/>