<include file="$headerPath"/>

<div class="mui-content">
    <div id="slider" class="mui-slider">
        <div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <a class="mui-control-item mui-active" href="#item1mobile"> 可使用 </a>
            <a class="mui-control-item" href="#item2mobile"> 已使用/已过期 </a>
        </div>
        <!--<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>-->
        <div class="mui-slider-group">
            <div id="item1mobile" class="mui-slider-item mui-control-content mui-active ">
                <div id="scroll1" class="mui-scroll-wrapper">

                    <div class="mui-scroll">
                        <div class="mui-loading" style=" text-align:center">
                            <img src="__ADDONS__/images/heart.gif" width="90" height="90" style="margin-top:150px;width:60px !important; height:60px !important;">
                        </div>
                    </div>

                </div>
            </div>
            <div id="item2mobile" class="mui-slider-item mui-control-content ">
                <div id="scroll2" class="mui-scroll-wrapper">

                    <div class="mui-scroll">
                        <div class="mui-loading" style=" text-align:center">
                            <img src="__ADDONS__/images/heart.gif" width="90" height="90" style="margin-top:150px;width:60px !important; height:60px !important;">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        var windowHeight = $(window).height();
        windowHeight = windowHeight - 40;
        $('.mui-control-content').css("height",windowHeight+"px");
    });
    mui.init({
        swipeBack: false
    });
    (function($) {
        $('.mui-scroll-wrapper').scroll({
            indicators: true //是否显示滚动条
        });

        var item1 = document.getElementById('item1mobile');
        var item2 = document.getElementById('item2mobile');
        document.getElementById('slider').addEventListener('slide', function(e) {
            if (e.detail.slideNumber === 0) {
                if (item1.querySelector('.mui-loading')) {
                    ajax_sourch_submit(0, "item1mobile", true);
                }
            }
            if (e.detail.slideNumber === 1) {
                if (item2.querySelector('.mui-loading')) {
                    ajax_sourch_submit(1, "item2mobile", true);
                }
            }
        });
        var sliderSegmentedControl = document.getElementById('sliderSegmentedControl');
        $('.mui-input-group').on('change', 'input', function() {
            if (this.checked) {
                sliderSegmentedControl.className = 'mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-' + this.value;
                //force repaint
                sliderProgressBar.setAttribute('style', sliderProgressBar.getAttribute('style'));
            }
        });
    })(mui);

    var  page = [1,1,1];
    var  url  = [
        "{:U('Mobile/Addons/lunchFeast',array('pluginName'=>'ajaxOrderList','type'=>'0'))}",
        "{:U('Mobile/Addons/lunchFeast',array('pluginName'=>'ajaxOrderList','type'=>'1'))}"
    ];
    var w_number = null ;
    var w_obj_name = null ;
    var w_is_first = null ;
    var w_data = null ;
    function ajax_sourch_submit( number , obj_name , is_first)
    {
        w_number = number;
        w_obj_name = obj_name;
        w_is_first = is_first;
        $.ajax({
            type : "GET",
            url:url[number] + "&p="+page[number]+"&number="+number,
            success: function(data)
            {
                w_data = data;
                setTimeout("ajaxAction()", 1500);
            }
        });
        page[number] += 1;
    }
    function ajaxAction(){
        var number = w_number;
        var obj_name = w_obj_name;
        var is_first = w_is_first;
        var data = w_data;
        w_number = null ;
        w_obj_name = null ;
        w_is_first = null ;
        w_data = null ;
        if( is_first == true ){
            $("#"+obj_name+" .mui-scroll").html(data);
        }else{
            if($.trim(data) == ''){
                $('#getmore'+number).hide();
            }else{
                $("#"+obj_name+" .ajax_return").append(data);
            }
        }
    }
    $(function(){
        ajax_sourch_submit( 0 , "item1mobile" , true);
    });
</script>

<include file="$footerPath"/>