<include file="$headerPath"/>
<style>
    body{
        background: #fbf5eb;
    }
    #footButton{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        background: #ff6091;
        clear:both;
        color:white;
        z-index: 9999999999;
    }
</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <img src="__ADDONS__/images/menu.png" alt="" style="width:100%">
    </div>
</nav>
<div  style="text-align:center; font-family:'微软雅黑' !important; margin-bottom:80px; padding-top: 30px;">
   {$shopGoods['content']|htmlspecialchars_decode}
</div>
    <button  type="button" onclick="{$shopGoods['seats'] > 0 ? 'addition()'  : ''}"  id="footButton" style="background:{$shopGoods['seats'] > 0 ? '#b02f4b' : 'gray'}">{: $shopGoods['seats'] > 0 ? '立即预约(剩余：'.$shopGoods['seats'].'位)' : '没有更多座位了' }</button>
<include file="$footerPath"/>

<script>
    function addition(){
        window.location.href="{: U('Mobile/Addons/lunchFeast',array('pluginName' => 'pageSubmit' ))}";
    }
</script>