/* 
* @Author: anchen
* @Date:   2016-07-27 11:37:00
* @Last Modified by:   anchen
* @Last Modified time: 2016-10-17 20:25:39
*/
/* ------------------------ 头部 ---------------------------- */
body{ background:#F6D561; }
.head-box{ overflow:hidden; border-radius:100%; border:2px #fff solid; }
.head-box img{ display:block; width:100%; }
.mengban{ background:rgba(0,0,0,0.8); height:100%; width:100%; position:fixed; top:0px; z-index:1000; }
ul{ list-style:none; }
html,body{ height: 100%; }
header { width: 100%;  background: #fff; padding: 7px 0; -webkit-box-sizing: border-box; -webkit-box-shadow: 0 1px 3px #999; position: fixed; top: 0; left: 0; z-index: 33;height:40px;font-size:14px; }
.head_p { width: 64%; position: absolute; top: 12%; left: 22%; }
.zj_p,.zj_p1 { width: 70%; position: absolute; top: 66%; left: 19%; }
.zj_p1 { width: 80%; top: 15%; left: 50%; margin-left: -40%; }
.zj_con { position: relative; width: 95%; margin: 0 auto; padding-top: 33%; }
.inner { background: #fff; }
.h5 { /* height: 3px; */}
.inner ul { width: 37%; margin: 0 auto; border: 1px solid #ed3b1e; border-radius: 5px; }
.inner ul li { width: 100%;float: left; text-align: center;padding:0.1rem;}
.inner ul li.current { background: #ed3b1e; color: #fff; }


.container{ position:relative;width:100%;background:#F8BC37; }

/* -------首页-------*/
#home{ position:absolute;top:0px;width:100%;height:100%; }
.home-n{ position:absolute;right:1rem;top:1.5rem;width:53px;height:53px;text-align:center;border-radius:40px;background:#1aaaa4;color:#fff;font-size:12px;font-weight:bold;padding:12px 0px 0px; }
.home-n span{ color:#fffc00;font-size:14px; }
.home-t{ position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);width:9rem;height:2rem;line-height:2rem;text-align:center;font-size:14px;font-weight:bold;color:#fff;background:url('http://img.wayes.cn/wayes_sys/weixin/2016_action/20161013kaoxiang_public/images/qibao-bg.png') no-repeat center;background-size:100%;z-index:1000;display:none; }

.home-m{ position:relative;width:100%;margin-top:83%;}
.home-m-h{ position:absolute;top:2rem;left:0.25rem;width:1.1rem;z-index:32; }
.home-m-b{ width:100%;margin:28% auto 0 ;position:relative;z-index:11;}
.home-m-t {position: absolute;top: 0px;width: 40%;right: 2%;}
   
.progress{ position:absolute;top:0px;margin-top:17%;left:13%;width:7.2%;height:30%;background:#e60012;z-index:10; -webkit-transform-origin: 0% 0%;-webkit-transform: scale3d(0,1,1);}
.t-jindu{ position:absolute;top:25%;left:9%;background:url('http://img.wayes.cn/wayes_sys/weixin/2016_action/20161013kaoxiang_public/images/yuan.png') no-repeat left center;background-size:31px;color:#fff;width:72%;height:40px;line-height:40px;text-indent:0.9%;font-size:12px;font-weight:bold;-webkit-transform:translate3d(0%,0,0); }
.home-m-q{ position:absolute;top:0%;left:4%;width:55%; }
.home-m-q .m-q-b{ position:relative;z-index:10; }
.home-m-q .m-q-c{ position:absolute;top:0px;z-index:5; }
.f-progress{ position:absolute;top:0px;margin-top:17%;left:78%;width:7.2%;height:30%;background:#43433f;z-index:10; -webkit-transform-origin: 100% 100%;-webkit-transform: scale3d(10,1,1); }

.home-m-bt{ width:65%;margin:0rem auto 0;position:relative;left:4%;-webkit-animation:bigSmall .8s  infinite alternate; }
.home-m-bt .call,.home-m-bt .want{ display:none; }

/*---- 中奖填写 ----*/
#lucky{ position:fixed;top:0px;width:100%;height:100%;background:rgba(0,0,0,.7);z-index:1001; }
.lucky-m{ position:absolute;width:95%;top:50%;left:50%;-webkit-transform:translate(-50%,-50%); }
.lucky-f{ position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-30%);width:72%; }
.lucky-f .f-g{ margin:0.4rem 0; }
.lucky-f .input-submit{ width:5.5rem;-webkit-transform:translateX(20%); }
.lucky-f input{ width:100%;outline:none;border:0px;border-radius:20px;padding:0.4rem 0 0.4rem 1.2rem;font-size:14px; }
/*.lucky-f input[name=user]{ background:#fff url('../images/name.png') no-repeat 5% center;background-size:20px; }*/
/*.lucky-f input[name=tel]{ background:#fff url('../images/phone.png') no-repeat 5% center;background-size:20px; }*/
/*.lucky-f input[name=area]{ background:#fff url('../images/address.png') no-repeat 5% center;background-size:20px; }*/

/* ---- 已经领奖 ---- */
#isPrize{ position:absolute;top:0px;width:100%;height:100%; }
#isPrize .last-m{ position:absolute;width:83%;top:0px;left:50%;margin-top:67%;-webkit-transform:translateX(-50%); }
#isPrize .last-m .last-h{ position:absolute;top:0px;left:-0.5rem;width:2.4rem; }
#isPrize .last-m .last-bt{ position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,109%);width:7.0rem; }
#isPrize .last-m .last-bt-f{ -webkit-transform:translate(-50%,186%); }
#isPrize .last-m-bg{margin-top:-26px;}
#isPrize .last-m-bg div{margin:0 auto;width:222px;padding-top:105px}
#isPrize .last-m-bg div p{margin-top:14px;color:#fff;font-size:52px;text-align:center }

/* ---- 填写领奖资料 ---- */
#fillIn{ position:absolute;top:0px;width:100%;height:100%; }
#fillIn .last-m{ position:absolute;width:83%;top:0px;left:50%;margin-top:67%;-webkit-transform:translateX(-50%); }
#fillIn .last-m .last-h{ position:absolute;top:0px;left:-0.5rem;width:2.4rem; }
#fillIn .last-m .last-bt{ position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,109%);width:7.0rem; }
#fillIn .last-m .last-bt-f{ -webkit-transform:translate(-50%,186%); }
#fillIn .last-m-bg{margin-top:-26px;}
#fillIn .last-m-bg form{margin:0 auto;width:222px;padding-top:105px}
#fillIn .last-m-bg form p{margin-top:14px}
#fillIn .last-m-bg form span{display:inline-block;width:60px;color:#fff}
#fillIn .last-m-bg form input{width:150px}
/*---- 二维码 ----*/
.code-b{ position:absolute;top:50%;left:50%;width:8rem;-webkit-transform:translate(-50%,-23%); }
.code-t{ position:absolute;top:10%;left:10%;width:2rem;height:2rem;border-radius:50%;background:#fa6311;color:#fff;font-size:16px;font-weight:bold;padding-top:.4rem;text-align:center; }

/* --- 锁屏 -----  */
#lock{ position:fixed;top:0px;left:0px;height:100%;width:100%;background:rgba(0,0,0,0.8);z-index:1000; }
#lock img{ position:absolute;right:0px;top:0px; }

/* ----------------- 底部 ------------------------- */
.bottomCon{ background:#F6D561;padding:0px 0 2rem; }
.bottomBtn { width: 100%; height: 40px; position: fixed; bottom: 0; left: 0; background: #f5c24a; -webkit-box-shadow: 0 -1px 2px #999;z-index:1000; }
.bottomBtn ul { width: 98%; height: 30px; padding: 5px 0; margin: 0 auto; }
.bottomBtn li { width: 33%; height: 30px;  line-height: 30px; text-align: center; float: left; background-color: #f5c047; color: #bc4e0a;font-weight:bold;font-size:16px;border:1px #fff solid; }
/*.bottomBtn li:nth-child(2) { width: 40%; margin: 0 1%; }*/
.bottomBtn li.current { background-color: #5ecfd4;color: #fff;  }


.rule { color: #fff; -webkit-box-sizing: border-box;padding-top:40px }
.rule_img { width: 96%; margin: 0 auto; }
.rule ul { background: #e4c98c; padding: 10% 3% 1%; margin-top: -8%; border-radius: 10px; }
.rule li { margin-bottom: 0.5rem; }
.rule h5 { font-size: 0.6rem; color: #a63a05; }
.rule p { font-size: 0.5rem; color: #333; }
.friendHelp { width: 88%; margin: 0 auto; -webkit-box-sizing: border-box;background:#f9e9c2;border-radius:5px;border:1px #eb6100 solid; }
.helpP { width:8rem; margin: 0 auto 0.2rem; font-size: 14px; /*border:3px #000 solid; background:#fffc1e; */font-weight:bold; text-align: center;padding:10px 0px;color:#e4671c;border-bottom:1px #e4671c solid; }
.friendHelp ul { width: 95%; margin: 0 auto; text-align: center; padding: 0.1rem; border-radius: 10px; color: #4225a5; }
.friendHelp ul li .name { width: 100%; font-size:0.6rem; font-weight: bold; border-bottom: 1px dotted #fff; }
.friendHelp ul li { width: 96%;color:#dab7b0;position:relative;/*border:1px #dab7b0 solid;*/padding:0.4rem 0;margin:15px auto;background:#fdf5e2; }
.LiImg { width: 1.5rem; display: inline-block; float: right; }
.friendHelp ul li .photo { width: 1.5rem; overflow: hidden;border-radius: 50px;position:absolute;left:-.3rem;top:-.1rem; }
.friendHelp ul li .photo img{ display:block; width:100%; }
.friendHelp ul li .message { color:#6F3737;text-indent:1rem;display:inline-block;font-size:14px; }
.tittlePic { width:1rem; vertical-align: middle; display: inline-block; }
.prizeType img { width: auto; height:1rem; }
.lipin,.rule { width: 100%; overflow: hidden; -webkit-box-sizing: border-box; box-sizing: border-box;padding-top:40px }
.clearfix:after,.clearfix:before { content: ""; height: 0; display: table; visibility: hidden; }
.clearfix:after { clear: both; }

p.explain{ width:80%; margin:0 auto; text-align:center; font-size:21px; color:#fff; }

.lipin img{ display:block; width:100%; }
.rule img{ display:block; width:100%; }



/* ---------------- 动画 ------------------------------ */
@-webkit-keyframes bigSmall{ from{ -webkit-transform:scale(1,1);} to{ -webkit-transform:scale(.7,.7) } }
@keyframes bigSmall{ from{ transform:scale(1,1);}to{ transform:scale(.7,.7) }}