
.g-mn1c{
	margin-left: 0px;
}

.right_titel {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 228, 228, 228 );
	background-image: -moz-linear-gradient( 90deg, rgb(234,234,234) 0%, rgb(251,251,251) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(234,234,234) 0%, rgb(251,251,251) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(234,234,234) 0%, rgb(251,251,251) 100%);
	height: 52px;
}
.right_titel .user {
	line-height: 52px;
	float: left;
	font-size: 14px;
	background-image: url(../SVG/user.svg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 40px;
	margin-left: 10px;
	background-size: 32px 32px;
	font-weight: bold;
	padding-right: 20px;
}
.right_titel .user-label {
	 border-radius: 4px;
	 background-color: #34a6df;
	 padding: 5px;
	 float: left;
	 font-size: 14px;
	 color: #FFF;
	 margin-left: 5px;
	 margin-top: 12px;
 }
.pages .Pagination {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.pages .Pagination .pagination {
	height: 30px;
	font-family: u5b8bu4f53, Arial;
}
.pages .Pagination .pagination a {
	background: rgb(246, 246, 246);
	border-image: none;
	color: rgb(102, 102, 102);
	font-family: u5b8bu4f53, Arial;
	font-size: 12px;
	display: inline;
	cursor: pointer;
	border: 1px solid rgb(230, 230, 230);
	line-height: 24px;
	margin-right: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.pages .Pagination .pagination span {
	background: rgb(246, 246, 246);
	border-width: 1px medium 1px 1px;
	border-style: solid none solid solid;
	border-color: rgb(230, 230, 230) currentColor rgb(230, 230, 230) rgb(230, 230, 230);
	padding: 11px 13px;
	border-image: none;
	color: rgb(102, 102, 102);
	font-family: u5b8bu4f53, Arial;
	font-size: 14px;
	display: inline;
	cursor: pointer;
}
.pages .Pagination .pagination .current {
	background: rgb(255, 172, 89);
	color: rgb(255, 255, 255);
}
.pages .Pagination .pagination .pagination-break {
	background: none;
	border-width: medium medium medium 1px;
	border-style: none none none solid;
	border-color: currentColor currentColor currentColor rgb(230, 230, 230);
	padding: 11px 5px;
	border-image: none;
	cursor: default;
}
.dl_box4 dt{
	width: 50%;
}
.dl_box3 dt{
	width: 50%;
}
