<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
    <title>粒粒接辛苦</title>
    <link  rel="stylesheet"  href="__ADDONS__/css/css.css?v={$v}"/>
    <link  rel="stylesheet"  href="__ADDONS__/css/animations.css?v={$v}"/>
</head>
<body>

<audio id="audio" src="__ADDONS__/music/score.wav"   style="width:0px;height:0px;" ></audio>
<audio id="die_audio" src="__ADDONS__/music/hurt.wav"   style="width:0px;height:0px;" ></audio>

<div class=" page page_1">
    <img src="__ADDONS__/images/logo.png" class="logo">

    <img src="__ADDONS__/images/ren_he.png" class="img_2 ren pt-ren-he" data-test="he" data-width="70"  data-height="100">
    <img src="__ADDONS__/images/ren_hu.png" class="img_3 ren pt-ren-hu" data-test="hu" data-width="60"  data-height="100">
    <img src="__ADDONS__/images/ren_lu.png" class="img_4 ren pt-ren-lu" data-test="lu" data-width="45"  data-height="100">
    <img src="__ADDONS__/images/ren_shu.png" class="img_5 ren pt-ren-shu" data-test="shu" data-width="61"  data-height="100">
    <img src="__ADDONS__/images/cao2.png" class="cao">
    <img src="__ADDONS__/images/ren_diao.png" class="img_1 ren pt-ren-diao" data-test="diao" data-width="53"  data-height="100">
    <img src="__ADDONS__/images/ren_xiong.png" class="img_6 ren pt-ren-xiong" data-test="xiong" data-width="59"  data-height="100">
    <img src="__ADDONS__/images/ren_ying.png" class="img_7 ren pt-ren-ying" data-test="ying" data-width="57"  data-height="100">


    <img src="__ADDONS__/images/page_1_4.png" class="img_8 pt-p1-title">
    <img src="__ADDONS__/images/page_1_3.png" class="img_9 pt-p1-title">
    <img src="__ADDONS__/images/page_1_1.png" class="img_10 pt-p1-title">
    <img src="__ADDONS__/images/page_1_2.png" class="img_11 pt-p1-title">
    <img src="__ADDONS__/images/page_1_5.png" class="img_12 pt-p1-title">
    <img src="__ADDONS__/images/page_1_6.png" class="img_13 pt-p1-title">
    <img src="__ADDONS__/images/rule.png"     class="img_14 pt-p1-title">

    <div class="rule">
        <p>
            接辛苦，有多辛苦.除了接米,你还要算下接了多少个米?分数越高,猜米数越准,优惠越高!接米超过80以上并猜对接米数，得到5元优惠券。接米超过160以上并猜对接米数，得到10元优惠券。接米超过300以上并猜对接米数，得到20元优惠券。（差三个超三个也算你对哟）
        </p>
    </div>

</div>

<div id="box" class="page page_2"   >
    <div id="game_over">
        <img src="__ADDONS__/images/page_2_1.png" class="img_1">
        <input type="text" value="">
        <a href="javascript:void(0);" class="ok">确定</a>
        <div class="result" onclick="location.reload();">来！证明给我看</div>
        <div class="result2">WIN！礼物狂戳这</div>
        <div class="fraction"></div>
        <div class="taunt"></div>
        <div class="taunt2"></div>
    </div>
    <canvas id="canvas" style="display: block;"></canvas>
</div>
<div class=" page page_3">
    <img src="__ADDONS__/images/logo.png" class="logo">

    <img src="__ADDONS__/images/ren_he.png" class="img_2 ren pt-ren-he" data-test="he" data-width="70"  data-height="100">
    <img src="__ADDONS__/images/ren_hu.png" class="img_3 ren pt-ren-hu" data-test="hu" data-width="60"  data-height="100">
    <img src="__ADDONS__/images/ren_lu.png" class="img_4 ren pt-ren-lu" data-test="lu" data-width="45"  data-height="100">
    <img src="__ADDONS__/images/ren_shu.png" class="img_5 ren pt-ren-shu" data-test="shu" data-width="61"  data-height="100">
    <img src="__ADDONS__/images/cao2.png" class="cao">
    <img src="__ADDONS__/images/ren_diao.png" class="img_1 ren pt-ren-diao" data-test="diao" data-width="53"  data-height="100">
    <img src="__ADDONS__/images/ren_xiong.png" class="img_6 ren pt-ren-xiong" data-test="xiong" data-width="59"  data-height="100">
    <img src="__ADDONS__/images/ren_ying.png" class="img_7 ren pt-ren-ying" data-test="ying" data-width="57"  data-height="100">


    <img src="__ADDONS__/images/page_1_1.png" class="img_10 pt-p1-title">
    <img src="__ADDONS__/images/page_1_2.png" class="img_11 pt-p1-title">
    <img src="__ADDONS__/images/page_1_5.png" class="img_12 pt-p1-title">
    <img src="__ADDONS__/images/page_1_6.png" class="img_13 pt-p1-title">



    <img src="__ADDONS__/images/page_3_2.png" class="img_16 pt-p1-title">
    <img src="__ADDONS__/images/page_3_1.png" class="img_14 pt-p1-title">
    <img src="__ADDONS__/images/page_3_3.png" class="img_15 pt-p1-title">



</div>
</body>



<script type="text/javascript" src="__ADDONS__/js/zepto.min.js"></script>
<script type="text/javascript" src="__ADDONS__/js/touch.js"></script>

<script type="text/javascript">
    var _ADDONS = "__ADDONS__";
</script>

<script type="text/javascript" src="__ADDONS__/js/addons.js?v={$v}"></script>




</html>
