<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="telephone=no" name="format-detection" />
    <title>{:!empty($activity['name'])?$activity['name']:"圣诞大礼包"}</title>
    <link rel="stylesheet" href="__ADDONS__/css/css.css?{:time()}" />
    <link href="__PUBLIC__/mui/css/mui.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__ADDONS__/css/my_style.css?{:time()}" />
    <!--<link rel="stylesheet" href="__ADDONS__/css/global.css"/>-->
    <!--<link rel="stylesheet" href="__ADDONS__/css/common.css"/>-->
    <!--<link rel="stylesheet" href="__ADDONS__/css/vip-alert.css"/>-->
    <!--<link rel="stylesheet" href="__ADDONS__/css/style.css"/>-->
    <!--<link rel="stylesheet" href="__ADDONS__/css/reset.min.css"/>-->
    <!--<link rel="stylesheet" href="__ADDONS__/css/index.css"/>-->
    <!--<link rel="stylesheet" href="__ADDONS__/css/goPay.css" />-->
    <script src="__PUBLIC__/mui/js/mui.min.js"></script>
    <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
    <script src="__ADDONS__/js/addons.js" ></script>
    <!--<script src="__ADDONS__/js/320flexbile.js" ></script>-->
</head>
<body>
