<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
    <title>粒粒接辛苦</title>
    <link  rel="stylesheet"  href="__ADDONS__/css/css.css?v={$v}"/>
</head>
<body>


<div class=" page page_1">
    <img src="__ADDONS__/images/logo.png" class="logo">

    <img src="__ADDONS__/images/ren_he.png" class="img_2 ren" data-test="he">
    <img src="__ADDONS__/images/ren_hu.png" class="img_3 ren" data-test="hu">
    <img src="__ADDONS__/images/ren_lu.png" class="img_4 ren" data-test="lu">
    <img src="__ADDONS__/images/ren_shu.png" class="img_5 ren" data-test="shu">
    <img src="__ADDONS__/images/cao2.png" class="cao">
    <img src="__ADDONS__/images/ren_diao.png" class="img_1 ren" data-test="diao">
    <img src="__ADDONS__/images/ren_xiong.png" class="img_6 ren" data-test="xiong">
    <img src="__ADDONS__/images/ren_ying.png" class="img_7 ren" data-test="ying">


    <img src="__ADDONS__/images/page_1_4.png" class="img_8">

    <img src="__ADDONS__/images/page_1_3.png" class="img_9">
    <img src="__ADDONS__/images/page_1_1.png" class="img_10">
    <img src="__ADDONS__/images/page_1_2.png" class="img_11">
    <img src="__ADDONS__/images/page_1_5.png" class="img_12">
    <img src="__ADDONS__/images/page_1_6.png" class="img_13">



    <!--<img src="__ADDONS__/images/" class="img_1">-->
    <!--<img src="__ADDONS__/images/" class="img_1">-->
    <!--<img src="__ADDONS__/images/" class="img_1">-->
    <!--<img src="__ADDONS__/images/" class="img_1">-->

</div>

<div id="box" class="page page_2"   style="display: none;"  >
    <div id="game_over">
        <img src="__ADDONS__/images/page_2_1.png" class="img_1">
        <input type="text" value="">
        <a href="javascript:void(0);" class="ok">确定</a>
        <div class="result">来！证明给我看</div>
    </div>
    <canvas id="canvas" style="display: block;"></canvas>
</div>
<div class="page page_3" style="display: none;">
    <input type="text" value="1123">
    <a href="#"></a>
</div>
</body>



<script type="text/javascript" src="__ADDONS__/js/zepto.min.js"></script>
<script type="text/javascript" src="__ADDONS__/js/touch.js"></script>

<script type="text/javascript">
    var _ADDONS = "__ADDONS__";
</script>

<script type="text/javascript" src="__ADDONS__/js/addons.js?v={:time()}"></script>




</html>
