<include file="Public/min-header" />
<link href="__PUBLIC__/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/plugins/daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<style>

    /*.wrapper{
        position:relative;
    }*/
    .red{
        color:red;
    }

    #condition,#pinkage_condition{
        background-color:#fff;
        width:800px;
        height:500px;
        position:fixed; top:80px; left:120px;
        z-index:5;
        border:1px #000 solid;
        border-radius:5px;

    }
    ul{list-style-type:none;}

    #diqu_ul p {
        width:300px;
        float: left;
    }
    .clear{
         clear:both
    }
    
</style>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 配送方式</h3>
                </div>
                <div class="panel-body ">   
                    <!--表单数据-->
                    <form action="__CONTROLLER__/save" method="post">              
                        <!--通用信息-->
                    <div class="tab-content col-md-10">                 	  
                        <div class="tab-pane active" id="tab_tongyong">                           
                            <table class="table table-bordered">
                                <!-- <tbody> -->

                                    <tr>
                                        <td>排序</td>
                                        <td style="100%"><input type="text" name="log_rank" value="{: !empty($edit_list)?$edit_list['log_rank']:''}"></td>
                                    </tr>
                                    <tr>
                                        <td>模版名称</td>
                                        <td><input type="text" name="log_template" value="{: !empty($edit_list)?$edit_list['log_template']:''}"></td>
                                    </tr>
                                    <tr>
                                        <td>配送方式</td>
                                        <td>
                                            <select name="log_delivery" id="">
                                                <option value="顺丰快递">顺丰快递</option>
                                                <option value="申通快递">申通快递</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>商品所在地</td>
                                        <td>
                                            <select name="log_province" id="province">
                                                <option value="">请选择省份</option>
                                                <volist name="province_list" id="item">
                                                    <option value="{: $item['id']}" {: $item['name']==$edit_list['log_province']?'selected':''}>{: $item['name']}</option>
                                                </volist>
                                            </select>
                                            <br/>
                                            <br/>
                                            <if condition="!empty($edit_list)">
                                                <select name="log_city" id="city" width="80px">
                                                    <volist name="city_list" id="item">
                                                        <option value="{: $item['name']}" {: $item['name']==$edit_list['log_city']?'selected':''}>{: $item['name']}</option>
                                                    </volist>
                                                </select>
                                            <else />
                                                <select name="log_city" id="city">
                                                    <option value="">请选择城市</option>
                                                </select>
                                            </if>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="red">*</span>发货时效</td>
                                        <td>
                                            <select name="log_aging" id="">
                                                <option value="">请选择发货时效</option>
                                                <option value="12小时" {: $edit_list['log_aging']=='12小时'?'selected':''}>12小时</option>
                                                <option value="1天" {: $edit_list['log_aging']=='1天'?'selected':''}>1天</option>
                                                <option value="2天" {: $edit_list['log_aging']=='2天'?'selected':''}>2天</option>
                                                <option value="3天" {: $edit_list['log_aging']=='3天'?'selected':''}>3天</option>
                                                <option value="5天" {: $edit_list['log_aging']=='5天'?'selected':''}>5天</option>
                                                <option value="7天" {: $edit_list['log_aging']=='7天'?'selected':''}>7天</option>
                                                <option value="10天" {: $edit_list['log_aging']=='10天'?'selected':''}>10天</option>
                                                <option value="20天" {: $edit_list['log_aging']=='20天'?'selected':''}>20天</option>
                                                <option value="30天" {: $edit_list['log_aging']=='30天'?'selected':''}>30天</option>
                                                <option value="45天" {: $edit_list['log_aging']=='45天'?'selected':''}>45天</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>允许自提</td>
                                        <td>
                                            <select name="log_is_take_their" id="is_take_their">
                                                <option value="2" {: !empty($edit_list) ? $edit_list['log_is_take_their']==2?'selected':'' :'selected'}>否</option>
                                                <option value="1" {: $edit_list['log_is_take_their']==1?'selected':''}>是</option>
                                            </select>
                                        </td>
                                    </tr>

                                    <tr id="take_their_site" style="display:{: $edit_list['log_is_take_their']==1?'block':'none'}">
                                        <td>请填写自提地址</td>
                                        <td><input name="log_take_their_site" type="text" value="{: !empty($edit_list)?$edit_list['log_take_their_site']:''}"></td>
                                    </tr>

                                    <tr>
                                        <td>卖家包邮</td>
                                        <td>
                                            <select name="log_is_free" id="is_pinkage">
                                                <option value="1" {: !empty($edit_list) ? $edit_list['log_is_free']==1?'selected':'' :'selected'}>是</option>
                                                <option value="2" {: $edit_list['log_is_free']==2 ? 'selected' : ''}>否</option>
                                            </select>
                                        </td>
                                    </tr>


                                    <!-- 不包邮 -->
                                    <tbody id="no_pinkage" style="display:{: $edit_list['log_is_free']==2?'block':'none'}"> 
                                        <tr>
                                            <td>邮费到付</td>
                                            <td>
                                                <select name="log_is_collect" id="">
                                                    <option value="1" {: !empty($edit_list) ? $edit_list['log_is_collect']==1?'selected': '' :'selected' }>是</option>
                                                    <option value="2" {: $edit_list['log_is_collect']==2?'selected':''}>否</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>计算方式</td>
                                            <td>
                                                <select name="log_mode" id="mode">
                                                    <option value="1" {: !empty($edit_list) ? $edit_list['log_mode']==1 ? 'selected' : '' : 'selected'}>按商品重量</option>
                                                    <option value="2" {: $edit_list['log_mode']==2 ? 'selected' :''}>按商品件数</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>按商品<span class="is_mode">重量</span>计算</td>
                                            <td>
                                                <p>基础<input type="text" name="log_amount" value="{: !empty($edit_list) ? $edit_list['log_amount'] :''}"><span class="is_mode">重量</span></p>
                                                <p>增加<input type="text" name="log_cost" value="{: !empty($edit_list) ? $edit_list['log_cost'] : ''}">元</p>
                                                <p>每增加<input type="text" name="log_amount_add" value="{: !empty($edit_list) ? $edit_list['log_amount_add'] : ''}"><span class="is_mode">重量</span></p>
                                                <p>增加<input type="text" name="log_cost_add" value="{: !empty($edit_list) ? $edit_list['log_cost_add'] : ''}">元</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td  colspan="2">
                                            <a href="javascript:void(0)" onclick="show_div()">指定区域邮费设置</a>
                                                <ul id="diqu_ul">
                                                    <if condition="!empty($edit_list['condition']['no_pinkage'])">
                                                        <foreach name="edit_list['condition']['no_pinkage']" item="item">
                                                            <li >
                                                            <h3>
                                                                <span>添加地区</span>
                                                                <input type='text' name='area[]' value='{: $item["area"]}'>
                                                                <a href='javascript:void(0)' onclick='del_li(this)'>删除</a>
                                                            </h3>
                                                            <p>基础
                                                                <input type='text' name='base[]' value='{: $item["base"]}' />
                                                                <span class='is_mode'>重量</span>
                                                            </p>
                                                            <p>增加<input type='text' name='money[]' value='{: $item["money"]}'>元</p>
                                                            <p>每增加
                                                                <input type='text' name='add_base[]' value='{: $item["add_base"]}'> 
                                                                <span class='is_mode'>重量</span>
                                                            </p>
                                                            <p>增加
                                                            <input type='text' name='add_money[]' value='{: $item["add_money"]}'>元
                                                            </p>
                                                            <div class='clear'></div>
                                                            </li>
                                                        </foreach>
                                                    </if>
                                                </ul>

                                            </td>
                                            
                                        </tr>

                                        <tr>
                                            <td>添加包邮条件</td>
                                            <td>
                                                <select  id="pinkage_type" name="log_ispinkage">
                                                    <option value="2" {: !empty($edit_list)? $edit_list['log_ispinkage']==2 ? 'selected' : '' : 'selected'}>否</option>
                                                    <option value="1" {: $edit_list['log_ispinkage']==1 ? 'selected' :''}>是</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr id="pinkage_area" style='display:{: $edit_list['log_ispinkage']==1 ? "block" :"none"}'>
                                            <td  colspan="2">
                                            <a href="javascript:void(0)" onclick="pinkage()">指定区域包邮</a>

                                            <table id="area_table">
                                                <tr>
                                                    <th width="130px">指定区域</th>
                                                    <th width="180px">条件</th>
                                                    <th width="180px">界限</th>
                                                    <th width="180px">操作</th>
                                                </tr>

                                                <if condition="!empty($edit_list['condition']['pinkage'])">

                                                    <foreach name="edit_list['condition']['pinkage']" item="item">
                                                        <tr>
                                                            <td>
                                                                <input name='pinkage_area[]' value="{: $item['pinkage_area']}">
                                                            </td>
                                                            <td>
                                                                <select name='pinkage_mode[]' >
                                                                    <option value='1' {: $item['pinkage_mode']==1?'selected':''}>价钱</option>
                                                                    <option value='2' {: $item['pinkage_mode']==2?'selected':''}>件数</option>
                                                                </select>
                                                            </td>
                                                            <td><input name='pinkage_bound[]' value="{: $item['pinkage_bound']}"></td>
                                                            <td><a href='javascript:void(0);' onclick='del_li(this)'>删除</a></td>
                                                        </tr>
                                                    </foreach>
                                                </if>
                                                <!-- <tr>
                                                    <td><input name='pinkage_area[]'></td>
                                                    <td><select name='pinkage_mode[]' ><option value='1'>价钱</option><option value='2'>件数</option></select></td>
                                                    <td><input name='pinkage_bound[]'></td>
                                                    <td><a href='javascript:void(0);' onclick='del_li(this)'>删除</a></td>
                                                </tr> -->
                                            </table>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                    
                                    

                                   

                                 
			
			                     
			                                                  
                                <!-- </tbody>  -->
                                <tfoot>
                                	<tr>
                                	<td>
                                		<input name="log_id" type="hidden" value="{: !empty($edit_list)?$edit_list['log_id']:0}">
                                	</td>
                                	<td class="col-sm-4"></td>
                                	<td class="text-right"><input class="btn btn-primary" type="submit" value="保存"></td>
                                	</tr>
                                </tfoot>                               
                            </table>
                        </div>                           
                    </div>              
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>

    <!-- 不包邮浮层 -->
    <div id="condition" style="display:none">

        <h4>选择地区<a href="javascript:void(0);" onclick="off_div(this)" style="float:right">关闭</a></h4>
        <volist name="province_list" id="list">
            <input type="checkbox" name="log_site" value="{: $list['name']}" />{: $list['name']}
        </volist>
        <br/>
        <br/>
        <p>基础<input type="text"  id="div_base"><span class="is_mode">重量</span></p>
        <p>增加<input type="text"  id="div_money">元</p>
        <p>每增加<input type="text" id="div_add_base"><span class="is_mode">重量</span></p>
        <p>增加<input type="text"  id="div_add_money">元</p>
        <p>
           <button type="button" id="selectAll"  >全选</button> 
           <button type="button" id='unSelect'>取消全选</button>
        </p>

        <button style="float: right;"  onclick="fun()">增加</button>
    </div>

    <!--包邮浮层-->
    <div id="pinkage_condition" style="display:none">

        <h4>选择地区<a href="javascript:void(0);" onclick="off_div(this)" style="float:right">关闭</a></h4>
        <volist name="province_list" id="list">
            <input type="checkbox" name="log_site" value="{: $list['name']}" />{: $list['name']}
        </volist>
        <br/>
        <br/>
        <p>条件
            <select  id="pinkage_mode">
                <option value="1">价钱</option>
                <option value="2">重量</option>
            </select>
        </p>
        <p>界限
            <input id="pinkage_bound" >
        </p>
        <p>
           <button type="button" id="selectAlls"  >全选</button> 
           <button type="button" id='unSelects'>取消全选</button>
        </p>

        <button style="float: right;"  onclick="funs()">增加</button>
    </div>


</div>



<script>

//是否包邮
$('#is_pinkage').change(["Data"],function(){

    if($(this).val()==1){
        $('#no_pinkage').hide();
    }else{
        $('#no_pinkage').show();
    }
});



$('#is_take_their').change(['Data'],function(){
    if($(this).val()==1){
        $('#take_their_site').show();  
    }else{
        $('#take_their_site').hide();  
    }
});

$('#mode').change(['Data'],function(){
    if($(this).val()==1){
        $('.is_mode').text('重量');
    }else{
        $('.is_mode').text('件数');
    }
});

//城市
$('#province').change(['Data'],function(){
    var values = $(this).val();
    var city = $("#city");
    $.ajax({
        type:'post',
        url:"{: U('Admin/Logistics/ajax_city')}",
        data:{'pro_id':values},
        dataType : 'json',
        success:function(list){
            var len = list.length;
            city.empty();
            for(var i =0;i<len;i++){
                $("<option>").val(list[i].name).text(list[i].name).appendTo(city);
            }
        }
    });
})

//显示浮层
function show_div(){
    $('#condition').show();
}
//关闭
function off_div(obj){
    $(obj).parent().parent().hide();
}
//checkbox
$("#selectAll").click(function () {  //全选  
    $("#condition :checkbox").attr("checked", true);  
});

$("#unSelect").click(function () {  //全不选  
    $("#condition :checkbox").attr("checked", false);  
});

//不包邮地区新增
function fun(){
    obj = document.getElementsByName("log_site");
    check_val = [];
    for(k in obj){
        if(obj[k].checked)
            check_val.push(obj[k].value);
    }
    var diqu = $('#diqu_ul');
    var div_base = $('#div_base').val();
    var div_money = $('#div_money').val();
    var div_add_base = $('#div_add_base').val();
    var div_add_money = $('#div_base').val();

    for(var i=0;i<check_val.length;i++){
        // console.log(check_val[i]);
        diqu.append("<li ><h3><span>添加地区</span><input type='text' name='area[]' value='"+check_val[i]+"'><a href='javascript:void(0)' onclick='del_li(this)'>删除</a></h3><p>基础<input type='text' name='base[]' value='"+div_base+"' /><span class='is_mode'>重量</span></p><p>增加<input type='text' name='money[]' value='"+div_money+"'>元</p><p>每增加<input type='text' name='add_base[]' value='"+div_add_base+"'> <span class='is_mode'>重量</span></p><p>增加<input type='text' name='add_money[]' value='"+div_add_money+"'>元</p><div class='clear'></div></li>");
    }


    $("#condition :checkbox").attr("checked", false);  //重置复选框
    $('#condition').hide();
    //置空
    $('#div_base').val('');
    $('#div_money').val('');
    $('#div_add_base').val('');
    $('#div_base').val('');
    
    
    
}

//包邮地区
$('#pinkage_type').change(["Data"],function(){
    if($(this).val()==2){
        $('#pinkage_area').hide();
    }else{
        $('#pinkage_area').show();
    }
});

function funs(){
    obj = document.getElementsByName("log_site");
    check_val = [];
    for(k in obj){
        if(obj[k].checked)
            check_val.push(obj[k].value);
    }

    var area_table = $('#area_table');
    var pinkage_mode = $('#pinkage_mode').val();
    var pinkage_bound = $('#pinkage_bound').val();
    var selected = '';
    if(pinkage_mode==2){
        var selected = 'selected';
    }

    for(var i=0;i<check_val.length;i++){
        area_table.append("<tr><td><input name='pinkage_area[]' value='"+check_val[i]+"'></td><td><select name='pinkage_mode[]' ><option  value='1' >价钱</option><option  value='2'  "+selected+">重量</option></select></td><td><input name='pinkage_bound[]' value='"+pinkage_bound+"'></td><td><a href='javascript:void(0);' onclick='del_li(this)'>删除</a></td></tr>");
    }
    // $('.up_').val(pinkage_mode);

    $("#pinkage_condition :checkbox").attr("checked", false); 
    $('#pinkage_condition').hide();
    //置空
    $('#pinkage_mode').val('');
    $('#pinkage_bound').val('');

}

function pinkage(){
    $('#pinkage_condition').show();
}


// 全选
$("#selectAlls").click(function () {  //全选  
    $("#pinkage_condition input[type='checkbox']").attr("checked", true);  
});
$("#unSelects").click(function () {  //全不选  
    $("#pinkage_condition input[type='checkbox']").attr("checked", false);  
});


//移除元素
function del_li(obj){
    $(obj).parent().parent().remove();
}



</script>
</body>
</html>