<style>
    .top-banner{
        width:100%;
        height:40px;
        background-color:black;
        opacity:0.4;
        position:fixed;
        top:0px;
        left:0px;
        z-index:999;
    }
    .top-banner-left{
        position:fixed;
        top:0px;
        left:12px;
        font-size:15px;
        font-weight:bold;
        line-height:40px;
        z-index:999;
    }
    .top-banner-right{
        position:fixed;
        top:0px;
        right:12px;
        font-size:15px;
        font-weight:bold;
        line-height:40px;
        z-index:999;
    }
    .top-banner-left .white{
        color:white;
    }
    .top-banner-left .yellow{
        color:#f1cf53;
        text-decoration: none;
    }
    .top-banner-right .yellow{
        color:#f1cf53;
        text-decoration: none;
    }
</style>

<div class="top-banner"></div>
<div class="top-banner-left">
    <span class="white">公众帐号</span>
    <a class="yellow tofollow">龙米</a>
</div>
<div class="top-banner-right"><a class="yellow tofollow">立即关注</a></div>