<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="telephone=no" name="format-detection" />
    <title>集齐9朵爱情玫瑰，即可获赠龙米独家“有钱花”</title>
    <meta name="description" content="集齐9朵爱情玫瑰，即可获赠龙米独家“有钱花”" />
    <meta http-equiv="keywords" content="集齐9朵爱情玫瑰，即可获赠龙米独家“有钱花”" />
    <link href="__PUBLIC__/mui/css/mui.min.css" rel="stylesheet" />
    <link href="__ADDONS__/css/style.css?{$v}" rel="stylesheet" />
</head>
<body>

<!--关注部分-->
<div class="follow" id="follow">
    <img src="__PUBLIC__/images/{$qrcode}"/>
    <p>关注公众号才能玩游戏哦！<br>长按二维码即可关注哦！</p>
</div>

<!--分享遮罩-->
<div id="guide">
    <img src="__ADDONS__/images/guide.png">
</div>

<!--头部-->
<img src="__ADDONS__/images/r_logo.jpg" class="r_logo" >

<div class="r_content">
    <img src="__ADDONS__/images/r_content_flower.png" class="r_content_flower" >
    <volist name="numbers" id="number">
        <if condition = "$number['number'] == 0 and $status neq 1 and $status neq -1">
            <img src="__ADDONS__/images/r_content_flower_a_{$number.value}.png" class="f_flower_img f_flower_img_{$number.value}">
            <span class="f_flower_span f_flower_span_{$number.value}" style="background: #848484;">{$configs['name'][$number["value"]]}</span>
        <else/>
            <img src="__ADDONS__/images/r_content_flower_{$number.value}.png" class="f_flower_img f_flower_img_{$number.value}">
            <span class="f_flower_span f_flower_span_{$number.value}">{$configs['name'][$number["value"]]}
                <if condition = "$status neq 1 and $status neq -1">
                ×{$number['number']}
                </if>
            </span>
        </if>
    </volist>
</div>


<div class="r_alert" id="r_alert">
    <div class="r_alert_bg"></div>
    <div class="r_alert_div">
        <img src="__ADDONS__/images/r_alert_flower_1.png"  id="r_alert_flower_img">
        <span id="r_alert_span"></span>
        <span id="r_alert_div_span"></span>
    </div>
    <div class="n_button" style="background:none;position: absolute;top: 70%;">
        <a href="javascript:new_jop();" class="f_c_button2">
            <!--拉好友-->
            <img src="__ADDONS__/images/r_btn_2.png" >
        </a>
    </div>
</div>

<div class="main">
    <img src="__ADDONS__/images/r_bg_2.png" class="bg2" >
    <if condition = "$status eq -1">
        <span class="n_tip">活动已经结束啦</span>
        <style>
            .n_tip{ top:40%; font-size: 30px; }
        </style>
    </if>
    <if condition = "$status eq 1">
        <span class="n_tip">情人节，龙米送<b>999</b>元现金<br/>不管单身汪还是情侣喵，集齐9朵就送钱</span>
        <div class="n_button">
            <a href="javascript:void(0);" class="f_c_button">
                <!--我也要玩-->
                <img src="__ADDONS__/images/r_btn_1.png" >
            </a>
        </div>
    </if>
    <if condition = "$status eq 2">
        <span class="n_tip">自己已经收集一朵</span>
        <div class="n_button">
            <a href="javascript:void(0);" class="f_c_button">
                <!--拉好友-->
                <img src="__ADDONS__/images/r_btn_3.png" >
            </a>
        </div>
    </if>
    <if condition = "$status eq 3">
        <span class="n_tip"></span>
        <div class="n_button">
            <a href="javascript:void(0);" class="f_c_button">
                <!--帮ta煮饭-->
                <img src="__ADDONS__/images/r_btn_4.png" >
            </a>
        </div>
        <div class="n_button">
            <a href="{:U('Mobile/Addons/collectRoses')}" class="f_c_button2">
                <!--我也要玩-->
                <img src="__ADDONS__/images/r_btn_1.png" >
            </a>
        </div>
    </if>
    <if condition = "$status eq 4">
        <span class="n_tip">已经送出去一朵了</span>
        <div class="n_button">
            <a href="{:U('Mobile/Addons/collectRoses')}" class="f_c_button2">
                <!--我也要玩-->
                <img src="__ADDONS__/images/r_btn_1.png" >
            </a>
        </div>
    </if>
    <if condition = "$status eq 5">
        <span class="n_tip"></span>
        <div class="n_application" >
            <form action="" method="post" class="form">
                <input type="text" id="user_name"  placeholder="姓名：">
                <input type="text" id="user_phone" placeholder="手机号：">
                <input type="text" id="user_site"  placeholder="邮寄地址：">
            </form>
        </div>
        <div class="n_button" >
            <a href="javascript:void(0);" class="f_c_button"   style=" width: 156px;">
                <!--提交资料-->
                <img src="__ADDONS__/images/r_btn_5.png" >
            </a>
        </div>
    </if>
    <if condition = "$status eq 6">
        <span class="n_tip">小伙伴已经集齐花朵啦！</span>
        <div class="n_button">
            <a href="javascript:void(0);" class="f_c_button2">
                <!--我也要玩-->
                <img src="__ADDONS__/images/r_btn_4.png" >
            </a>
        </div>
    </if>
    <if condition = "$status eq 7">
        <span class="n_tip" style=" top: 68%;">3天之内会有龙米客服会联系您哦</span>
        <div class="n_button" >
            <a href="{:U('Mobile/Addons/collectRoses')}" class="f_c_button2" style="width: 156px;">
                <!--领取成功-->
                <img src="__ADDONS__/images/r_btn_6.png" >
            </a>
        </div>
    </if>



    <div class="f_bottom">
        <a href="javascript:void(0);" data-number = "1">
            <img src="__ADDONS__/images/r_nav_btn_1.png" >
        </a>
        <a href="javascript:void(0);" data-number = "2">
            <img src="__ADDONS__/images/r_nav_btn_2.png" >
        </a>
        <a href="javascript:void(0);" data-number = "3">
            <img src="__ADDONS__/images/r_nav_btn_3.png" >
        </a>
    </div>
    <div class="n_tab" id="tab">
        <div class="n_tab_div" id="tab_1">
            <div class="n_tab_div_tip">
                <if condition = "$status eq -1">
                    <volist name="getList" id="getItem">
                        <div class="f_help">
                            <span style="float: left;">
                                &nbsp;&nbsp;{$getItem.user_name}&nbsp;&nbsp;&nbsp;{$getItem.user_phone}
                            </span>
                        </div>
                    </volist>
                    <else/>
                    <empty name="helpList">
                        <span class="tip_span">还没有好友助力！</span>
                        <else/>
                        <volist name="helpList" id="helpItem">
                            <div class="f_help">
                                <img src="{$helpItem.head_pic}">
                                <span>{$helpItem.desc}</span>
                            </div>
                        </volist>
                    </empty>
                    </if>
            </div>
        </div>
        <div class="n_tab_div" id="tab_2">
            <div class="n_tab_div_tip">
                <img class="n_tab_content" src="__ADDONS__/images/n_content_01.jpg"/>
            </div>
        </div>
        <div class="n_tab_div" id="tab_3">
            <div class="n_tab_div_tip">
                <p>“有钱花”如何到手？</p>
                <span class="tip_span">
                    集齐9朵玫瑰花即可获得“有钱花”，<b>“有钱花”即999元现金红包。</b>你可以为自己拿到一朵玫瑰花，剩下的就要靠好友的爱情助攻啦。每个好友可赠送一次玫瑰，又是一个考验友谊的游戏，只有集齐全部9种玫瑰花，才能召唤“有钱花”哦。
                    <br>9朵玫瑰花分别为：<br>相爱 信任 理解 沟通 尊重 关怀 忠诚 赞美 感恩
                </span>

                <p>摘花须知</p>
                <span class="tip_span">
                    如果成功摘得“有钱花”，则会自动跳转资料填写页面，正确填写资料，龙米会主动联系您，为您送来“有钱花”~
                </span>

                <p>活动细则</p>
                <span class="tip_span">
                    本活动将于2017.02.13结束，<b>奖品“有钱花”即999元现金红包，限量10个名额</b>，先来先摘花，后来吃泥巴，无论单身狗还是小情侣，都赶紧动起来，让这个情人节“有钱花”！
                </span>

            </div>
        </div>
        <div class="n_tab_div_tip_shrink"></div>
    </div>


</div>
</body>


<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>


<if condition=" !$isFollow ">
    <script type="text/javascript">
        $("#follow").show();
    </script>
    <else/>
    <script src="__PUBLIC__/mui/js/mui.min.js"></script>
    <script type="text/javascript">
        var imagesUrl="__ADDONS__/images/";
        var ApiUrl = "{:U('Mobile/Addons/collectRoses')}";
        var status = "{$status}";
        var activityId = "{$id}";
        function alert( msg ){
            mui.toast( msg );
        }
        var ShareLink = "{$config['share_url']}";
        if(status != 1){
            ShareLink = ShareLink+"?activityId="+activityId;
        }
    </script>
    <script src="__ADDONS__/js/addons.js?{$v}" type="text/javascript"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
        var ShareImgUrl = "{$config['share_img']}";
        var ShareTitle = "{$config['share_title']}";
        var ShareDesc = "{$config['share_desc']}";
        wx.config({
            debug: false,
            appId: "{$signPackage['appId']}",
            timestamp: '{$signPackage["timestamp"]}',
            nonceStr: '{$signPackage["nonceStr"]}',
            signature: '{$signPackage["signature"]}',
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage','hideOptionMenu']
        });
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: ShareTitle,
                link:ShareLink,
                imgUrl:ShareImgUrl
            });
            wx.onMenuShareAppMessage({
                title: ShareTitle,
                desc: ShareDesc,
                link:ShareLink,
                imgUrl:ShareImgUrl
            });

        });
    </script>
</if>
</html>