<include file="Public/header"/>
<div id="dowebok">
<!-- 主体开始 -->
  <div class="section s2">
    <div class="left">
      <ul>
        <li> <img src="__PUBLIC__/img/p1_1.png"> </li>
        <li> <img src="__PUBLIC__/img/p1_2.png"> </li>
        <li> <img src="__PUBLIC__/img/p1_3.png"> </li>
        <li> <img src="__PUBLIC__/img/p1_4.png"> </li>
      </ul>
    </div>
  </div>
  
  <!-- 第二页 -->
  <div class="section s2">
    <div class="left">
      <ul>
        <li> <img src="__PUBLIC__/img/p2_1.png"> </li>
        <li  style="margin-left:100px"> <img src="__PUBLIC__/img/p2_2.png"> </li>
      </ul>
    </div>
  </div>
  
  <!-- 第三页 -->
  <div class="section s3">
    <div class="left">
      <ul>
        <li> <img src="__PUBLIC__/img/p3_1.png"> </li>
        <li style="margin-left:-170px"> <img src="__PUBLIC__/img/p3_2.png"> </li>
        <li> <img src="__PUBLIC__/img/p3_3.png"> </li>
      </ul>
    </div>
  </div>
  
  <!-- 第四页 -->
  <div class="section s4">
    <div class="left">
      <ul>
         <li style="margin-left:80px"> <img src="__PUBLIC__/img/p4_1.png"> </li>
        <li style=" margin-left:-30px; padding-bottom:15px"> <img src="__PUBLIC__/img/p4_2.png"> </li>
        <li> <img src="__PUBLIC__/img/p4_3.png"> </li>
      </ul>
    </div>
  </div>
  
  <!-- 第五页 -->
  <div class="section s5">
    <div class="left">
      <ul style="margin-left:100px">
        <li> <img src="__PUBLIC__/img/p5_1.png"> </li>
        <li> <img src="__PUBLIC__/img/p5_2.png"> </li>
      </ul>
    </div>
</div>


  <div class="section footer fp-auto-height" style="width:100% !important">
    <include file="Public/footer"/>
  </div>
</div>
<script>
$(function(){
	var $mlNav = $('.ml-nav');
	$('#dowebok').fullpage({
		verticalCentered: !1,
		navigation: !0,
		onLeave: function(index, nextIndex, direction){
			if(index == 2 && direction == 'up'){
				$mlNav.animate({
					top: 80
				}, 680);
			} else if(index == 1 && direction == 'down') {
				$mlNav.animate({
					top: 0
				}, 400);
			} else if(index == 3 && direction == 'up') {
				$mlNav.animate({
					top: 0
				}, 500);
			} else {
				$mlNav.animate({
					top: -66
				}, 400);
			}
		}
	});
});
</script>










</body>
</html>
