<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>龙米</title>
<link href="__PUBLIC__/index/css/css.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/index/css/jquery.fullPage.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/index/js/jquery.min.js"></script>
<script src="__PUBLIC__/index/js/jquery.fullPage.min.js"></script>
<script language="javascript">
        $(function () {
            if ((screen.width == 1920) && (screen.height == 1080)) {
                $(".section .left").addClass("p1080");//此分辨率下你需要的操作
            } 
        });
</script>
</head>
<body>  
<header class="hd">
  <div class="inner"> <a class="logo"><img src="__PUBLIC__/index/img/logo.png" width="75" height="50"></a>
    <nav>
      <ul class="menu">
        <li  class="active"><a href="">首页</a></li>
        <li ><a href="">餐桌</a></li>
        <li ><a href="">商城 </a></li>
        <li ><a href="">社区</a></li>
      </ul>
    </nav>
    <div class="seek">
      <div class="text">
        <input name="" type="text" class="text_a" placeholder="输入关键字">
      </div>
      <div class="icon"><a href="#"><img src="__PUBLIC__/index/img/seek.png" width="27" height="27"></a></div>
    </div>
  </div>
</header>
<div id="dowebok">
<!-- 主体开始 -->
  <div class="section s2">
    <div class="left">
      <ul>
        <li> <img src="__PUBLIC__/index/img/p1_1.png"> </li>
        <li> <img src="__PUBLIC__/index/img/p1_2.png"> </li>
        <li> <img src="__PUBLIC__/index/img/p1_3.png"> </li>
        <li> <img src="__PUBLIC__/index/img/p1_4.png"> </li>
      </ul>
    </div>
  </div>
  
  <!-- 第二页 -->
  <div class="section s2">
    <div class="left">
      <ul>
        <li> <img src="__PUBLIC__/index/img/p2_1.png"> </li>
        <li  style="margin-left:100px"> <img src="__PUBLIC__/index/img/p2_2.png"> </li>
      </ul>
    </div>
  </div>
  
  <!-- 第三页 -->
  <div class="section s3">
    <div class="left">
      <ul>
        <li> <img src="__PUBLIC__/index/img/p3_1.png"> </li>
        <li style="margin-left:-170px"> <img src="__PUBLIC__/index/img/p3_2.png"> </li>
        <li> <img src="__PUBLIC__/index/img/p3_3.png"> </li>
      </ul>
    </div>
  </div>
  
  <!-- 第四页 -->
  <div class="section s4">
    <div class="left">
      <ul>
         <li style="margin-left:80px"> <img src="__PUBLIC__/index/img/p4_1.png"> </li>
        <li style=" margin-left:-30px; padding-bottom:15px"> <img src="__PUBLIC__/index/img/p4_2.png"> </li>
        <li> <img src="__PUBLIC__/index/img/p4_3.png"> </li>
      </ul>
    </div>
  </div>
  
  <!-- 第五页 -->
  <div class="section s5">
    <div class="left">
      <ul style="margin-left:100px">
        <li> <img src="__PUBLIC__/index/img/p5_1.png"> </li>
        <li> <img src="__PUBLIC__/index/img/p5_2.png"> </li>
      </ul>
    </div>
</div>


  <div class="section footer fp-auto-height" style="width:100% !important"> 
    <div class="bottom" style="margin-top:20px">
    <div class="b_box">
      <div class="b_left"><img src="__PUBLIC__/index/img/code.png" width="139" height="139"><img src="__PUBLIC__/index/img/code2.png" width="140" height="140"></div>
      <div class="b_right">
        <div class="b1">4000-78-7725</div>
        <div class="b2">邮箱：jiangbingxue@longmiwang.com </div>
      </div>
    </div>
    <div style="clear:both"></div>
    <div class="b_txt">版权所有 © 广州龙米农业科技有限公司 地址： 中国（广州）天河区珠江新城华强路3号富力盈利大厦南塔2619 All Rights Reserved <a  style="color: #CCC;" target="_blank" href="http://www.miitbeian.gov.cn">粤ICP备15051254号-1</a> </div>
  </div>
    
  </div>
</div>
<script>
$(function(){
	var $mlNav = $('.ml-nav');
	$('#dowebok').fullpage({
		verticalCentered: !1,
		navigation: !0,
		onLeave: function(index, nextIndex, direction){
			if(index == 2 && direction == 'up'){
				$mlNav.animate({
					top: 80
				}, 680);
			} else if(index == 1 && direction == 'down') {
				$mlNav.animate({
					top: 0
				}, 400);
			} else if(index == 3 && direction == 'up') {
				$mlNav.animate({
					top: 0
				}, 500);
			} else {
				$mlNav.animate({
					top: -66
				}, 400);
			}
		}
	});
});
</script>










</body>
</html>
