<include file="Public/header"/>
<div id="dowebok">
  <!-- 主体开始 -->
  <div class="section s2">
    <div class="left">
      <ul>
        <li style="text-align:right"> <img src="__INDEX__/img/p1_1.png"> </li>
        <li> <img src="__INDEX__/img/p1_2.png"> </li>
        <li style="text-align:left"> <img src="__INDEX__/img/p1_3.png"> </li>
        <li style="width:100%"> <img src="__INDEX__/img/p1_4.png"> </li>
      </ul>
    </div>
  </div>

  <!-- 第二页 -->
  <div class="section s2">
    <div class="left">
      <ul>
        <li style="width:100%"> <img src="__INDEX__/img/p2_1.png"> </li>
        <li style="width:100%"> <img src="__INDEX__/img/p2_2.png"> </li>
      </ul>
    </div>
  </div>

  <!-- 第三页 -->
  <div class="section s3" style="width:100%">
    <div class="left">
      <ul>
        <li style="width:100%"> <img src="__INDEX__/img/p3_1.png"> </li>
        <li style="width:100%"> <img src="__INDEX__/img/p3_2.png"> </li>
        <li style="width:100%"> <img src="__INDEX__/img/p3_3.png"> </li>
      </ul>
    </div>
  </div>

  <!-- 第四页 -->
  <div class="section s4" style="width:100%; text-align:center !important">
    <div class="left" style="width:100%">
      <ul>
        <li style="width:100%"> <img src="__INDEX__/img/p4_1.png"> </li>
        <li style="width:100%; padding-bottom:15px"> <img src="__INDEX__/img/p4_2.png"> </li>
        <li style="width:100%"><img src="__INDEX__/img/p4_3.png"> </li>
      </ul>
    </div>
  </div>

  <!-- 第五页 -->
  <div class="section">
    <div class="left" style="text-align:center">
      <ul>
        <li style="width:100%;padding-bottom:50px"> <img src="__INDEX__/img/p5_1.png"> </li>
        <li style="width:100%"> <img src="__INDEX__/img/p5_2.png"> </li>
      </ul>
    </div>
  </div>
  <div class="section footer fp-auto-height" style="width:100% !important">

    <include file="Public/footer"/>








  </body>
</html>
