<include file="$headerPath"/>
<body>

<img src="__ADDONS__/images/banner.png" class="banner"/>

<img src="__ADDONS__/images/tip1.png" class="tip"/>
<img src="__ADDONS__/images/tip2.png" class="tip"/>
<img src="__ADDONS__/images/tip3.png" class="tip"/>
<img src="__ADDONS__/images/tip4.png" class="tip"/>
<img src="__ADDONS__/images/tip5.png" class="tip"/>
<img src="__ADDONS__/images/tip6.png" class="tip"/>
<img src="__ADDONS__/images/tip7.jpg" class="tip"/>


<div class="nav">
    <a href="#" class="a_share"><i></i>分享好友</a>
    <a href="#" class="a_pay"><i></i>立即支付</a>
</div>
</body>

<include file="$jsPath"/>
</html>