

body{
    background: #fefefe;
    min-height: 568px;
    margin: 0;
    padding: 0;
    /*background: url("../images/bg.jpg") no-repeat;*/
    /*background-size: cover;*/
}
p , a , span{
    font-family: "微软雅黑";
}
.red{
    width: 90%;
    height: 70%;
    position: absolute;
    top:10%;
    left: 5%;
    background: url("../images/red_bg.png") no-repeat  top left;

}
.red .bottom{
    width: 100%;
    height: 30%;
    /*min-height: 150px;*/
    position: absolute;
    left:0;
    bottom: 0;
    border-radius:   0 0 20px 20px;

}
.red .bottom button.rob,.red .bottom a.rob{
    width: 80px;
    border: 0;
    height: 80px;
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 28%;
    background: url("../images/btn.png") no-repeat center;
    background-size: 80px 80px;
    margin-left: -40px;
    
}
.red p{
    width: 100%;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    top: 24%;
    color: #ffffff;
    overflow: hidden;
    text-shadow: 3px 3px 3px #666;
}
.red p b{
    font-weight: inherit;
    font-size: 14px;
    color: #fddebd;
}
#prompt{
    width: 100%;
    bottom: 30%;
    height: 50%;
    left: 0;
    text-align: center;
    position: absolute;
}
#prompt span{
    position: absolute;
    font-size: 20px;
    bottom: 0;
    color: #fdd725;
    -webkit-animation: go_up ease-in-out 1s both;
    animation: go_up ease-in-out 1s both;
}







.follow{
    width: 100%;
    height: 100%;
    background: #333;
    position: fixed;
    top:0;
    left: 0;
    z-index: 3;
    display: none;
}

.follow img{
    width: 80%;
    margin: 10%;
}
.follow p{
    width: 80%;
    margin: 10%;
    color: #fff;
    display:block;
    font-size: 20px;
    text-align:center;
}


.invite{
    width: 100%;
    position: fixed;
    max-height: 50px;
    z-index: 2;
    top: 0;
    left: 0;
    background: #dedede;
    overflow: hidden;
}
.invite img{
    height: 40px;
    width: 40px;
    margin: 5px 5px;
    float: left;
    border-radius: 50%;
}


.buttonNav{
    width: 100%;
    position: fixed;
    height: 30px;
    z-index: 2;
    bottom: 0;
    left: 0;
}
.buttonNav a{
    display: block;
    width: 100%;
    height:30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    float: left;
    color: #fff;
    background: #f71044;
    text-decoration: none;
    box-shadow: inset 0 0.3rem 0.2rem rgba(255, 255, 255, 0.2), inset 0 -0.3rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);

}



.notice{
    width: 100%;
    position: absolute;
    bottom: 30px;
    height: 30px;
    line-height: 30px;
}
.notice .row{
    width:100%;
    float: left;
    color: #a66f2e;
    font-size: 12px;
    line-height: 20px;
    padding-top: 10px;
    height: 24px;
    background: url("../images/no.jpg") no-repeat left top;
    background-size: cover;
    text-align: center;
}
.notice .row marquee{
    text-align: center;
    height: 24px;
    margin-top: 6px;
    width: 100%;
}

.item{
    width: 85%;
    padding: 0 5% 0 10%;
    height: 60px;
    background: #f71044;
    margin-bottom: 1px;
    box-shadow: 1px 1px 1px #888888;
}

.item span{
    color: #fff;
    height:30px;
    line-height: 30px;
    width: 100%;
    display: block;
    float: left;
}

.item span b{
    /*color:#4CBF0E;*/
    font-size: 24px;
    float: right;
}

.empty {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.empty img {
    width: 40%;
    margin: 30px 30%;
}
.empty_txt {
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
    color: #b2b2b2;
}

.red_shake{
    -webkit-animation: red_shake ease-in-out .1s both;
    animation: red_shake ease-in-out .1s both;
}


.animation_run{
    -webkit-animation: rob_run 1s infinite linear ;
    animation: rob_run 1s infinite linear ;
}

/*动画效果*/
@-webkit-keyframes rob_run {
    from { }
    to {
        -webkit-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}
@keyframes rob_run {
    from {  }
    to {
        -webkit-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}

@-webkit-keyframes red_shake {
    25%{
        top:14%;
        left: 4%;
    }
    75%{
        top:16%;
        left: 6%;
    }
}
@keyframes red_shake {
    25%{
        top:14%;
        left: 4%;
    }
    75%{
        top:16%;
        left: 6%;
    }
}


@-webkit-keyframes go_up {
    from {  bottom:0; opacity: 1;}
    to { bottom:100%; opacity: 0; }
}
@keyframes go_up {
    from {  bottom:0; opacity: 1;}
    to { bottom:100%; opacity: 0; }
}