<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>全自动烤箱带回家</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta property="wb:webmaster" content="ff73a1b1dc1d3c2d" />
    <meta property="qc:admins" content="21162256266751016416375" />
    <meta name="baidu-site-verification" content="00Ba64V77BzhXpxs" />
    <meta name="360-site-verification" content="b57c9f7cf9a06ad3cab7306dd4ae4ea4" />
    <meta name="ujianVerification" content="6b6ff258fe95bdc9623f0d2131e989bc" />
    <script type="text/javascript" src='__ADDONS__/js/adapt_css.min.js'></script>
    <script type="text/javascript" src='__ADDONS__/js/adapt.min.js'></script>
    <link rel="stylesheet" type="text/css" href="__ADDONS__/css/main.css" />
</head>
<body>
    <!-- 头部 -->
    <header id="return" style=''>
        <div class="inner">
            <div class="h5"></div>
            <ul>
                <li class="current">本期活动</li>
                <li onclick="history();">往期中奖名单</li>
                <div style='clear:both'></div>
            </ul>
            <div class="h5"></div>
        </div>
    </header>
    <div id='page'></div>
    <script type="text/template" id='index' class='tpl'>
        <div class='container container-home' style=''>
            <div class='cot-bg1'>
                <img src='__ADDONS__/images/bg1_02.jpg'  alt="" />
                <img src='__ADDONS__/images/bg1_03.jpg'  alt="" />
                <img src="__ADDONS__/images/bg1_04.jpg" alt="" />
                <img src="__ADDONS__/images/bg1_05.jpg" alt="" />
                <img src="__ADDONS__/images/bg1_06.jpg" alt="" />
            </div>

            <!-- 首页 -->
            <div id='home'>
                <div class='home-n'>
                    <div>剩余奖品<span>329个</span></div>
                </div>
                <div class='home-m'>
                    <div class='home-m-b'>
                        <div>
                            <img src="__ADDONS__/images/jindu.png" alt="" />  
                        </div>
                        <div class='t-jindu'>0℃</div>
                    </div>
                    <div class='home-m-h'>
                        <div class='head-box'>
                            <img src="{$list['head_pic']}" alt="" />
                        </div>
                    </div>
                    <div class='progress'></div>
                    <div class='f-progress'></div>
                </div>
                <div class='home-t'></div>
                <div class='home-m-bt'>
                    <img src="__ADDONS__/images/help-her.png" alt="" class='begin'/>
                    <img src="__ADDONS__/images/want.png" alt="" class='want' />
                </div>
            </div>
        </div>
        <div class="bottomBtn" id="bottomArea" >
            <a href="#bottomCon">
                <ul class="clearfix">
                    <li class="current">专业烤师</li>
                    <li>全自动烤箱</li>
                    <li>烘焙秘籍</li>
                </ul>
            </a>
        </div>
        <div class="bottomCon" id='bottomCon' style='padding-top:40px;'>
            <!-- 好友助攻 -->
            <!-- 好友助攻 -->
            <div class="friendHelp" style="display: block;">
                <p class="helpP">以下为最近帮助的5位好友</p>
                <ul class="people clearfix">
                    <notempty name="list['help']">
                            <volist name="list['help']" id="item">
                                <li class="clearfix">
                                    <span class="photo"><img src="{:$item['head_pic']}"></span>
                                    <span class="message">
                                        <span>小心一转，温度上升{:$item['temperature']}℃</span>
                                    </span>
                                </li>
                            </volist>
                        <else/>
                            邀请好友帮忙加热
                    </notempty>

                </ul>
            </div>
            <!-- 礼品介绍 -->
            <div class="lipin" style="display:none;style='padding-top:40px;'">
                <img src="__ADDONS__/images/product_02.jpg">
                <img src="__ADDONS__/images/product_03.jpg">
                <img src="__ADDONS__/images/product_04.jpg">
                <img src="__ADDONS__/images/product_05.jpg">
                <img src="__ADDONS__/images/product_06.jpg">
                <img src="__ADDONS__/images/product_07.jpg">
                <img src="__ADDONS__/images/product_08.jpg">
                <img src="__ADDONS__/images/product_09.jpg">
                <img src="__ADDONS__/images/product_10.jpg">
                <img src="__ADDONS__/images/product_11.jpg">
                <img src="__ADDONS__/images/product_12.jpg">
                <img src="__ADDONS__/images/product_13.jpg">
            </div>
            <!-- 活动规则 -->
            <div class="rule" style="display: none;style='padding-top:40px;'">
                <img src="__ADDONS__/images/rule_04.jpg" alt="">
            </div>
        </div>
    </script>

    
    <script type="text/template" id='last' class='tpl'>
        <div class='container container-last' >
            <div class='cot-bg1'>
                <img src="http://img.wayes.cn/wayes_sys/weixin/2016_action/20161013kaoxiang_public/images/code1_02.jpg" alt="" />
                <img src="http://img.wayes.cn/wayes_sys/weixin/2016_action/20161013kaoxiang_public/images/code1_03.jpg" alt="" />
                <img src="http://img.wayes.cn/wayes_sys/weixin/2016_action/20161013kaoxiang_public/images/code1_04.jpg" alt="" />
                <img src="http://img.wayes.cn/wayes_sys/weixin/2016_action/20161013kaoxiang_public/images/code1_05.jpg" alt="" />
                <img src="http://img.wayes.cn/wayes_sys/weixin/2016_action/20161013kaoxiang_public/images/code1_06.jpg" alt="" />
            </div>
            <div id='last'>
                <div class='home-n'>
                    <div>剩余奖品<span>329个</span></div>
                </div>
                <div class='last-m'>
                    <div class='last-m-bg'>
                        <img src="http://img.wayes.cn/wayes_sys/weixin/2016_action/20161013kaoxiang_public/images/friend-last.png" alt="" />
                    </div>
                    <div class='last-h'>
                       <div class='head-box'>
                           <img src="__ADDONS__/images/0.jpg" alt="" />
                       </div> 
                    </div>
                    <div class='last-bt  last-bt-f'>
                        <img src="http://img.wayes.cn/wayes_sys/weixin/2016_action/20161013kaoxiang_public/images/friend-l-bt.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id='code'>
        <div class='container container-code' >
            <div class='cot-bg1'>
                <img src="__ADDONS__/images/code1_02.jpg" alt="" />
                <img src="__ADDONS__/images/code1_03.jpg" alt="" />
                <img src="__ADDONS__/images/code1_04.jpg" alt="" />
                <img src="__ADDONS__/images/code1_05.jpg" alt="" />
                <img src="__ADDONS__/images/code1_06.jpg" alt="" />
            </div>
            <div class='home-n'>
                <div>剩余奖品<span>329个</span></div>
            </div>
            <div class='code-b'>
                <img src="__ADDONS__/images/code.png" alt="" />
            </div>
        </div>
    </script>
    
    <script type="text/javascript" src='__ADDONS__/js/underscore.min.js'></script>
    <script type="text/javascript" src='__ADDONS__/js/zepto.min.js'></script>
    
     
    <script src="__ADDONS__/js/public.js" language="javascript" type="text/javascript"></script>
        
    <script type="text/javascript">

        function history(){
            window.location.href = "{: U('Mobile/Addons/assistWinning',array('pluginName' => 'history' ))} ";
        }
        var content = new Array();
                    content[0] = '';
                    content[1] = '煽了个风，温度下降';
                    content[2] = '前来捣乱，温度下降';
                    content[3] = '胡乱一掰，温度下降';
                    content[4] = '随意一转，温度下降';
                    content[5] = '好奇打开门，温度下降';
                    content[6] = '小心一转，温度上升';
                    content[7] = '用力一扭，温度上升';
                    content[8] = '轻轻一动，温度上升';
                    content[9] = '自信一调，温度上升';
                    content[10] = '努力控温，温度上升';
                console.log(content);

        window.User = function(initState){

            this.state = initState;

            //测试数据  上线注释
//             this.state = {
//                 focusOn : false,
//                 pageType : 'IS_LAST',
//                 //当前进度
//                 progress : parseInt('80'),
//                 //目标值
//                 target : 0,
//                 //判断增减
//                 isAdd : true
//             }
            this.init();
        }
        User.prototype = {
            init : function(){
                var t = this;
                //路由配置
                t.reducer(t.state.pageType);
                //全局函数
                setTimeout(function(){
                    t.global();

                },500) 
            },
            global : function(){
                //底部按钮点击事件
                $('#bottomArea li').on('click',function(){
                    $(this).siblings().removeClass('current');
                    $('div.bottomCon').children('div').hide();
                    $(this).addClass('current');
                    $('div.bottomCon').children().eq($(this).index()).show();
                });
            },
            reducer : function(action){
                var t = this;
                switch(action){
                    case 'NO_PLAY' : 
                        $('#page').html('').html($('#index').html());
                        //开始按摩
                        t.contLay();
                        t.global();
                        //开始按摩
                        $('.begin').one('click',function(){
                            //判断是否关注
                            if(t.state.focusOn == '0'){
                                $('#page').html('').html($('#code').html());
                                return;
                            }
                            t.main();
                        });
                        break;
                    case 'IS_PLAY' : 
                        $('#page').html('').html($('#index').html());
                        //执行事件
                        t.global();
                        $('.home-m-bt').find('.want').show().click(function(){
                            location.href = "{: U('Mobile/Addons/assistWinning',array('pluginName' => 'index' ))}";
                        }.bind(this)).siblings('.begin').remove();

                        t.contLay();
                        break;
                    case 'IS_LAST' : 
                        $('#page').html('').html($('#last').html());
                        //执行事件
                        $('.container-last').find('.last-bt').click(function(){
                            location.href = 'index.php';
                        });
                        break;
                    default : break;
                }
                this.state.pageType =  action ; 
                console.log(this.state);
            },
            main : function(){
                var t = this;
                //ajax 执行下面操作  random 数字对应图片  text 话术
                $.ajax({
                    type: "POST",
                    url: "get_ajax.php",   
                    data: {
                        action:"get_num",
                        pid:'10692'
                    },
                    dataType: "json",
                    success: function(data){
                        if( data['state']== 'suc'){  //成功  
                            var random = data['num'],
                                wenan = data['wenan'];
                            t.state.isAdd = wenan > 5 ? true : false;
                            t.state.target = t.state.isAdd ? t.state.progress + random : t.state.progress - random;
                            $('.home-t').show().text(content[wenan]+random+"%"); 
                            setTimeout(function(){
                                $('div.home-t').hide()
                                t.reducer('IS_PLAY');
                                post_ajax(random, wenan);
                            },2500);
                        }
                    },
                    error:function(){
                        alert("网络传输错误，请稍后再试1");
                    }
                });
                
            },
            //显示选中效果
            contLay : function(){
                var t = this;

                var timer = function(){
                    $('#home .t-jindu').text(t.state.progress+'℃').css('-webkit-transform','translate3d('+(t.state.progress)/1.8+'%,0,0);');
                    $('#home .progress').css('-webkit-transform','scale3d('+(t.state.progress/10)/1.8+',1,1);');
                    $('#home .f-progress').css('-webkit-transform','scale3d('+(18-(t.state.progress/10))/1.8+',1,1);');
                    if(typeof t.state.target != 0){
                        if(t.state.isAdd){
                            if(t.state.progress >= t.state.target){
                                return;
                            }
                            t.state.progress++;
                        }else{
                            if(t.state.progress <= t.state.target){
                                return;
                            }
                            t.state.progress--
                        }   
                        requestAnimationFrame(timer);
                    }
                }
                timer(); 
            },
            //蒙版生成
            lockW : function(){
                $(document).on('touchmove',function(e){
                    e.preventDefault();
                    return false;
                })
                if(d == 'a') var img = $('<img />',{ src:'__ADDONS__/images/menbang.gif' });
                if(d == 'b' ) var img = $('<img />',{ src:'__ADDONS__/images/menbang.png' });
                var div = $('<div />',{ id:'lock' }).append(img).on('click',function(){
                    $(this).remove();
                    $(document).off('touchmove');
                });
                $('body').append(div);
            }
        }

        $(function(){
            var state = {
                 //是否关注
                focusOn : '0',
                pageType : 'IS_PLAY',//是否中奖
                progress : parseInt("{:$list['sumTem']}"),
                target : 0,
                isAdd : true,
            }
            var user = new User(state);

            
        })

          
    </script>





</body>
</html>
