body {
	width: 100%;
	overflow: hidden;
	height: 100%;
	background: #000 !important;
}
.hide {
	display: none;
}
.page_div{
	text-align: center;
}
.page {
	width: 100%;
	/*margin: 0 auto;*/
	/*max-height: 732px;*/
	/*max-width: 412px;*/

	height: 100%;
	position: absolute;
	font-size: 100px;
	text-align: center;
}
.page .wrap {
}
.page-1-1 {
	background: url("../images/page1_bg.png") no-repeat;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover ;
}
.page-2-1 {
	background: url("../images/bg.jpg") no-repeat;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.page-3-1 {
	background: url("../images/bg.jpg") no-repeat;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.page-4-1 {
	background: url("../images/bg.jpg") no-repeat;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.page-5-1 {
	background: url("../images/bg.jpg") no-repeat;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.page-6-1 {
	background: url("../images/bg.jpg") no-repeat;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.page-7-1 {
	background: url("../images/bg.jpg") no-repeat;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.page-8-1 {
	background: url("../images/bg.jpg") no-repeat;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.page-9-1 {
	background: url("../images/bg.jpg") no-repeat;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}


.page-current {
	z-index: 1;
}
.page-1-1 .img_1 {
	height: auto;
	width: 68%;
	position: absolute;
	left: 16%;
	top: 15%;
}
.page-1-1 .img_2 {
	height: auto;
	width: 34%;
	position: absolute;
	left: 33%;
	top: 27.6%;
}
.page-1-1 .img_3 {
	height: auto;
	width: 92%;
	position: absolute;
	left: 4%;
	top: 50%;
}
.page-1-1 .img_4 {
	height: auto;
	width: 58%;
	position: absolute;
	left: 21%;
	top: 62.8%;
}
.page-1-1 .img_5 {
	height: auto;
	width: 38%;
	position: absolute;
	left: 31%;
	top: 68%;
}


.page-2-1 .img_1 {
	height: auto;
	width: 46.5%;
	position: absolute;
	left: 50%;
	top: 3%;
	z-index: 2;
}
.page-2-1 .img_2 {
	height: auto;
	width: 81%;
	position: absolute;
	left: 50%;
	top: 52%;
}
.page-2-1 .img_3 {
	height: auto;
	width: 46%;
	position: absolute;
	left: 27%;
	top: 9%;
}
.page-2-1 .img_4 {
	height: auto;
	width: 6%;
	position: absolute;
	left:74%;
	top: 18.7%;
}
.page-2-1 .img_5 {
	height: auto;
	width: 22%;
	position: absolute;
	left: 43%;
	top: 31.7%;
}
.page-2-1 .img_6 {
	height: auto;
	width: 70%;
	position: absolute;
	left: 15%;
	top: 23.4%;
}
.page-2-1 .img_7 {
	height: auto;
	width: 62%;
	position: absolute;
	left: 19%;
	top: 72.4%;
}
.page-2-1 .img_8 {
	height: auto;
	width: 42%;
	position: absolute;
	left: 47.2%;
	top: 50%;
}
.page-2-1 .img_9 {
	height: auto;
	width: 90%;
	position: absolute;
	left: 5%;
	top: 53.9%;
}
.page-2-1 .img_10 {
	height: auto;
	width: 15.6%;
	position: absolute;
	left: 81.3%;
	top: 45.7%;
}
.page-2-1 .img_11 {
	height: auto;
	width: 10%;
	position: absolute;
	left: 3%;
	top: 42.2%;
}
.page-2-1 .img_12 {
	height: auto;
	width: 19.5%;
	position: absolute;
	left: 19.5%;
	top: 53.3%;
}
.page-2-1 .img_13 {
	height: auto;
	width: 32.1%;
	position: absolute;
	left: 3%;
	top: 61%;
}
.page-2-1 .img_14 {
	height: auto;
	width: 41%;
	position: absolute;
	left: 6%;
	top: 52.6%;
}
.page-2-1 .img_15 {
	height: auto;
	width: 96%;
	position: absolute;
	left: 2%;
	top: 12.7%;
}


.page-3-1 .img_1 {
	height: auto;
	width: 85%;
	position: absolute;
	left: 10%;
	top: 10%;
}
.page-3-1 .img_2 {
	height: auto;
	width: 100%;
	position: absolute;
	left: 0%;
	bottom: 0%;
}
.page-4-1 .img_1 {
	height: auto;
	width: 82%;
	position: absolute;
	left: 9%;
	top: 12%;
}
.page-4-1 .img_2 {
	height: auto;
	width: 25px;
	position: absolute;
	left: 30%;
	top: 20%;
}
.page-4-1 .img_3 {
	height: auto;
	width: 25px;
	position: absolute;
	right: 18%;
	top: 38%;
}


.page-4-2 .img_1 {
	height: auto;
	width: 298px;
	position: absolute;
	left: 50%;
	top: 5%;
	margin-left: -149px;
}
.page-4-2 .img_2 {
	height: auto;
	width: 260px;
	position: absolute;
	left: 50%;
	top: 75%;
	margin-left: -130px;
}
.page-4-2 .img_3 {
	height: auto;
	width: 20px;
	position: absolute;
	left: 50%;
	top: 87%;
	margin-left: -10px;
}
.page-4-2 .img_6 {
	height: auto;
	width: 25px;
	position: absolute;
	left: 50%;
	top: 92%;
	margin-left: -12px;
}
.page-5-1 .img_1 {
	height: auto;
	width: 60%;
	position: absolute;
	left: 20%;
	top: 10%;
}
.page-5-1 .img_2 {
	height: auto;
	width: 70%;
	position: absolute;
	left: 15%;
	top: 35.5%;
}
.page-5-1 .img_3 {
	height: auto;
	width: 80%;
	position: absolute;
	left: 10%;
	top: 75.8%;
}
.page-6-1 .img_1 {
	height: auto;
	width: 56%;
	position: absolute;
	left: 22%;
	top: 12%;
}
.page-6-1 .img_2 {
	height: auto;
	width: 80%;
	position: absolute;
	left: 10%;
	top: 25%;
}
.page-6-1 .img_3 {
	height: auto;
	width: 40%;
	position: absolute;
	left: 30%;
	top: 72%;
}
.page-6-1 .img_4 {
	height: auto;
	width:11.5%;
	position: absolute;
	left: 55%;
	top: 35%;
}
.page-6-1 .img_5 {
	height: auto;
	width:22%;
	position: absolute;
	left: 55%;
	top: 62%;
}
.page-6-1 .img_6 {
	height: auto;
	width: 12%;
	position: absolute;
	left: 70%;
	top: 34%;
}
.page-6-1 .img_7 {
	height: auto;
	width:13%;
	position: absolute;
	left: 62%;
	top: 47%;
}
.page-6-1 .img_8 {
	height: auto;
	width: 30%;
	position: absolute;
	left: 45%;
	top: 62%;
}
.page-6-1 .img_9 {
	height: auto;
	width: 20%;
	position: absolute;
	left: 30%;
	top: 27%;

}
.page-6-1 .img_10 {
	height: auto;
	width: 15%;
	position: absolute;
	left: 55%;
	top: 18%;
}

.page-7-1 .img_1 {
	height: auto;
	width: 56%;
	position: absolute;
	left: 22%;
	top: 12%;
}
.page-7-1 .img_2 {
	height: auto;
	width: 26%;
	position: absolute;
	left: 19%;
	top: 58%;
}
.page-7-1 .img_3 {
	height: auto;
	width:90%;
	position: absolute;
	left: 5%;
	top: 27%;
}
.page-7-1 .img_4 {
	height: auto;
	width: 15%;
	position: absolute;
	left: 67%;
	top: 57%;
}
.page-7-1 .img_5 {
	height: auto;
	width: 19%;
	position: absolute;
	left: 67%;
	top: 23%;
}
.page-7-1 .img_6 {
	height: auto;
	width: 17%;
	position: absolute;
	left: 31%;
	top: 24%;
}
.page-7-1 .img_7 {
	height: auto;
	width: 42%;
	position: absolute;
	left: 0%;
	top: 48%;
}
.page-7-1 .img_8 {
	height: auto;
	width: 23%;
	position: absolute;
	left: 66%;
	top: 35%;
}
.page-7-1 .img_9 {
	height: auto;
	width: 40%;
	position: absolute;
	left: 30%;
	top: 76%;
}
.page-7-1 .img_10 {
	height: auto;
	width: 17%;
	position: absolute;
	left: 28%;
	top: 58%;
}

.page-8-1 .img_1 {
	height: auto;
	width: 50%;
	position: absolute;
	left: 25%;
	top: 35%;
}
.page-8-1 .img_2 {
	height: auto;
	width: 120%;
	position: absolute;
	left: -10%;
	top: 18%;
}
.page-8-1 .img_3 {
	height: auto;
	width: 74%;
	position: absolute;
	left: 13%;
	top: 75%;
}
.page-8-1 .img_4 {
	height: auto;
	width: 80%;
	position: absolute;
	left: 10%;
	top: 25%;
}
.page-8-1 .img_5 {
	height: auto;
	width: 35%;
	position: absolute;
	left: 62%;
	top: 15%;
}

.page-9-1 .img_1 {
	height: auto;
	width: 40%;
	position: absolute;
	left: 30%;
	top: 35%;
}

.page-9-1 .img_2 {
	height: auto;
	width: 16%;
	position: absolute;
	left: 43%;
	top: 39.5%;
}

.page-9-1 .img_3 {
	height: auto;
	width: 50%;
	position: absolute;
	left: 25%;
	top: 19%;
}

.page-9-1 .img_4 {
	height: auto;
	width: 80%;
	position: absolute;
	left: 10%;
	top: 10%;
}

.page-9-1 .img_5 {
	height: auto;
	width: 12%;
	position: absolute;
	left: 9%;
	top: 81%;
}


.page-9-1 .img_6 {
	height: auto;
	width: 12%;
	position: absolute;
	left: 25%;
	top: 81%;
}

.page-9-1 .img_7 {
	height: auto;
	width: 30%;
	position: absolute;
	left: 65%;
	top: 82%;
}

.page-9-1 .img_8 {
	height: auto;
	width: 90%;
	position: absolute;
	left: 5%;
	top: 15%;
}

.page-9-1 .img_9 {
	height: 300px;
	width: 80%;
	line-height: 30px;
	font-size: 16px;
	color: #000;
	position: absolute;
	left: 5%;
	top: 30%;
	padding: 10px 5%;
}



.iconUp{
	height: auto;
	width: 25px;
	position: absolute;
	left: 50%;
	top: 93%;
	margin-left: -12px;
}

#loading{
	z-index: 9999999999999;
	width: 100%;
	height: 100%;
	top:0px;
	left: 0px;
	background: #000;
	position: fixed;
}
#loading p{
	height: 10%;
	margin-top: 45%;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
}


#audioPlay {
	width:38px;
	height: 38px;
	background-image: url("../images/m_open.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 5%;
	right: 5%;
	z-index: 9999999;
}
