body {
	width: 100%;
	overflow: hidden;
}
.hide {
	display: none;
}
.page {
	width: 100%;
	height: 100%;
	position: absolute;
	font-size: 100px;
	text-align: center;
}
.page .wrap {
	height: 500px;
}
.page-1-1 {
	background: url("../images/page1_bg.png") no-repeat;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.page-2-1 {
	background: url("../images/bg.png") no-repeat;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.page-2-2 {
	background-color: #9261BF;
}
.page-3-1 {
	background-color: #F3533C;
}
.page-3-2 {
	background-color: #F3533C;
}
.page-4-1 {
	background-color: #3b85e8;
}
.page-4-2 {
	background-color: #FFBF50;
}
.page-5-1 {
	background-color: #FFBF50;
	background-image: url(../img/bg.png);
}
.page-6-1 {
	background-color: #FFBF50;
	background-image: url(../img/bg.png);
}
.page-current {
	z-index: 1;
}
.page-1-1 .img_1 {
	height: auto;
	width: 68%;
	position: absolute;
	left: 16%;
	top: 15%;
}
.page-1-1 .img_2 {
	height: auto;
	width: 34%;
	position: absolute;
	left: 33%;
	top: 27.6%;
}
.page-1-1 .img_3 {
	height: auto;
	width: 92%;
	position: absolute;
	left: 4%;
	top: 50%;
}
.page-1-1 .img_4 {
	height: auto;
	width: 58%;
	position: absolute;
	left: 21%;
	top: 62.8%;
}
.page-1-1 .img_5 {
	height: auto;
	width: 38%;
	position: absolute;
	left: 31%;
	top: 68%;
}


.page-2-1 .img_1 {
	height: auto;
	width: 46.5%;
	position: absolute;
	left: 50%;
	top: 3%;
	z-index: 2;
}
.page-2-1 .img_2 {
	height: auto;
	width: 81%;
	position: absolute;
	left: 50%;
	top: 52%;
}
.page-2-1 .img_3 {
	height: auto;
	width: 46%;
	position: absolute;
	left: 27%;
	top: 9%;
}
.page-2-1 .img_4 {
	height: auto;
	width: 6%;
	position: absolute;
	left:74%;
	top: 18.7%;
}
.page-2-1 .img_5 {
	height: auto;
	width: 22%;
	position: absolute;
	left: 42%;
	top: 34.7%;
}
.page-2-1 .img_6 {
	height: auto;
	width: 90%;
	position: absolute;
	left:6%;
	top: 21.4%;
}
.page-2-1 .img_7 {
	height: auto;
	width: 62%;
	position: absolute;
	left:19%;
	top: 76.4%;
}
.page-2-1 .img_8 {
	height: auto;
	width: 48%;
	position: absolute;
	left: 47.0%;
	top: 51.8%;
}
.page-2-1 .img_9 {
	height: auto;
	width: 96%;
	position: absolute;
	left: 4%;
	top: 56.2%;
}
.page-2-1 .img_10 {
	height: auto;
	width: 15.6%;
	position: absolute;
	left: 81.3%;
	top: 45.7%;
}
.page-2-1 .img_11 {
	height: auto;
	width: 10%;
	position: absolute;
	left: 3%;
	top:45.2%;
}
.page-2-1 .img_12 {
	height: auto;
	width: 21.5%;
	position: absolute;
	left: 16.5%;
	top: 55.3%;
}
.page-2-1 .img_13 {
	height: auto;
	width: 32.1%;
	position: absolute;
	left: 3%;
	top: 63%;
}
.page-2-1 .img_14 {
	height: auto;
	width: 41%;
	position: absolute;
	left: 6%;
	top: 52.6%;
}
.page-2-1 .img_15 {
	height: auto;
	width: 96%;
	position: absolute;
	left: 2%;
	top: 12.7%;
}


.page-3-1 .img_1 {
	height: auto;
	width: 248px;
	position: absolute;
	left: 50%;
	top: 3%;
	margin-left: -124px;
	z-index: 2;
}
.page-3-1 .img_2 {
	height: auto;
	width: 320px;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -160px;
}
.page-3-1 .img_3 {
	height: auto;
	width: 310px;
	position: absolute;
	left: 50%;
	top: 70%;
	margin-left: -155px;
}
.page-3-1 .img_4 {
	height: auto;
	width: 20px;
	position: absolute;
	left: 50%;
	top: 87%;
	margin-left: -10px;
}
.page-3-1 .img_5 {
	height: auto;
	width: 142px;
	position: absolute;
	left: 50%;
	top: 82%;
	margin-left: -71px;
}
.page-3-1 .img_6 {
	height: auto;
	width: 25px;
	position: absolute;
	left: 50%;
	top: 92%;
	margin-left: -12px;
}
.page-3-1 .img_7 {
	height: auto;
	width: 248px;
	position: absolute;
	left: 50%;
	top: 43%;
	margin-left: -124px;
}
.page-3-2 .img_1 {
	height: auto;
	width: 296px;
	position: absolute;
	left: 50%;
	top: 5%;
	margin-left: -148px;
}
.page-3-2 .img_2 {
	height: auto;
	width: 260px;
	position: absolute;
	left: 50%;
	top: 75%;
	margin-left: -130px;
}
.page-3-2 .img_3 {
	height: auto;
	width: 20px;
	position: absolute;
	left: 50%;
	top: 87%;
	margin-left: -10px;
}
.page-3-2 .img_6 {
	height: auto;
	width: 25px;
	position: absolute;
	left: 50%;
	top: 92%;
	margin-left: -12px;
}
.page-4-1 .img_1 {
	height: auto;
	width: 248px;
	position: absolute;
	left: 50%;
	top: 2%;
	margin-left: -124px;
	z-index: 2;
}
.page-4-1 .img_2 {
	height: auto;
	width: 310px;
	position: absolute;
	left: 50%;
	top: 28%;
	margin-left: -155px;
}
.page-4-1 .img_3 {
	height: auto;
	width: 161px;
	position: absolute;
	left: 50%;
	top: 28%;
	margin-left: -80px;
}
.page-4-1 .img_4 {
	height: auto;
	width: 20px;
	position: absolute;
	left: 50%;
	top: 87%;
	margin-left: -10px;
}
.page-4-1 .img_5 {
	height: auto;
	width: 142px;
	position: absolute;
	left: 50%;
	top: 82%;
	margin-left: -71px;
}
.page-4-1 .img_6 {
	height: auto;
	width: 25px;
	position: absolute;
	left: 50%;
	top: 92%;
	margin-left: -12px;
}
.page-4-1 .img_7 {
	height: auto;
	width: 310px;
	position: absolute;
	left: 50%;
	top: 72%;
	margin-left: -155px;
}
.page-4-1 .img_8 {
	height: auto;
	width: 169px;
	position: absolute;
	left: 50%;
	top: 75%;
	margin-left: -84px;
}
.page-4-2 .img_1 {
	height: auto;
	width: 298px;
	position: absolute;
	left: 50%;
	top: 5%;
	margin-left: -149px;
}
.page-4-2 .img_2 {
	height: auto;
	width: 260px;
	position: absolute;
	left: 50%;
	top: 75%;
	margin-left: -130px;
}
.page-4-2 .img_3 {
	height: auto;
	width: 20px;
	position: absolute;
	left: 50%;
	top: 87%;
	margin-left: -10px;
}
.page-4-2 .img_6 {
	height: auto;
	width: 25px;
	position: absolute;
	left: 50%;
	top: 92%;
	margin-left: -12px;
}
.page-5-1 .img_1 {
	height: auto;
	width: 248px;
	position: absolute;
	left: 50%;
	top: 10%;
	margin-left: -124px;
}
.page-5-1 .img_2 {
	height: auto;
	width: 300px;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -150px;
}
.page-5-1 .img_6 {
	height: auto;
	width: 25px;
	position: absolute;
	left: 50%;
	top: 92%;
	margin-left: -12px;
}
.page-6-1 .img_1 {
	height: auto;
	width: 248px;
	position: absolute;
	left: 50%;
	top: 10%;
	margin-left: -124px;
}
.page-6-1 .img_2 {
	height: auto;
	width: 300px;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -150px;
}




