



body{
    background: #fff;
    background: url("../images/bg.jpg") repeat;
}
.c_get_banner{
    margin: 100px auto 0 auto;
    width: 50%;
}
.pay-order span{
    display:inline-block;
    width:90px;
}

#guide{
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    top:0;
    right: 0;
    display: none;
}
#guide img{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70%;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: #c5a339;
    border-bottom: 2px solid #c5a339;
    background: 0 0;
}

.c_my_order_in{
    color: #858585;
    position: absolute;
    right: 10px;
    top:10px;
}


#followMask{
    z-index:9999999999999999999999;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    right:0px;
    margin-top:0;
    background: #000;
    /*background-size:50%;*/
    opacity: 0.9;
}
#followMask .padlockImg{
    position: relative;
    left: 95%;
    top: -27%;
    width: 45px;
    height: 40px;
    margin: -50px 0 0 -50px;
}
#followMask .follow{
    position: relative;
    left: 50%;
    top: 50%;
    width: 240px;
    height: 452px;
    margin: -226px 0 0 -120px;
}