<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td class="text-right">
                ID
            </td>
            <td class="text-left">
                姓名
            </td>
            <td class="text-left">
                手机号
            </td>
            <td class="text-left">
                用户ID
            </td>
            <td class="text-left">
                用户昵称
            </td>
            <td class="text-left">
                申请时间
            </td>
            <td class="text-left">
                扫码之后的订单情况
            </td>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="item">
            <tr>
                <td class="text-right">{$item.id}</td>
                <td class="text-left">{$item.p_name}</td>
                <td class="text-left">{$item.p_phone}</td>
                <td class="text-left">{$item.user_id}</td>
                <td class="text-left">{$item.user.nickname}</td>
                <td class="text-left">{$item.create_time|date="Y-m-d H:d",###}</td>
                <td class="text-left">
                    <a href="{: U('Admin/Addons/agriculturalBank',array('pluginName'=>'order','id'=>$item['id'],'user_id'=>$item['user_id'])) }">
                        订单查看({$item.orderCount})
                    </a>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>