<include file="Public/header"/>
<body>
<include file="Public/loading"/>


<div class="my_activity_div" id="ActivityDiv"></div>

<include file="Public/js"/>
<include file="Public/nav"/>
</body>

<script type="text/html" id="ActivityTemplate">
    <ul>
        <% for (var i in item) { %>
        <li>
            <a href="<%= item[i].url %>" style="background-image: url('__STATIC__/<%= item[i].bg %>');">
                <p class="my_activity_p1"><%= item[i].title %></p>
                <p class="my_activity_p2"><%= item[i].desc %></p>
                <p class="my_activity_p3">
                    <span>查看详情</span>
                </p>
            </a>
        </li>
        <% } %>
    </ul>
</script>

<script>
    $(function(){
        $.ajax({
            type : "GET",
            url:"{:U('Wap/Activity/index')}",
            dataType:'json',
            success: function(data){
                if( data.state == 1){
                    $("#ActivityDiv").html(template.render("ActivityTemplate", data.data));
                }else{
                    alert(data.msg);
                }
            },
            error:function(){
                alert("网络错误！");
            }
        });
    });
</script>
<include file="Public/footer"/>
</html>