body, html, header, section, div, ul, li, div, a, p, h1 {
	padding: 0;
	margin: 0;
	font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif
}
body {
	background-color: #f6f6f6;
	font-size: 14px;
}
li {
	list-style: none;
}
a {
	color: #666666;
	cursor: pointer;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-user-select: none;
	text-decoration: none;
}
a:hover {
	color: #ff8f02;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out
}
.s1 {
	background-position: center;
}
.s1 img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -545px;
	margin-top: -240px;
	opacity: 0;
	transition: 0.8s 0.8s;
}
.s1.active img {
	opacity: 1
}
/*公共*/

.section {
	overflow: hidden;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}
.section .left {
	position: absolute;
	top: 80px;
	margin-top: 5px;
	z-index: 2;
}
.section .left li {
	float: left;
	transition: 0.8s;
}
.section .left li p {
	margin: 20px 0;
	font-size: 18px;
	color: #333
}
.section .left li a {
	width: 98px;
	height: 36px;
	background: url(img/buy.jpg);
	display: block;
}
.s2 {
	background-position: center;
}
.s2 .left li {
	-webkit-transform: translateY(2000px);
	transform: translateY(2000px);
	width: 33%;
	float: left;
	text-align: center;
}
.s2 .left li:nth-child(1) {
	transition-delay: 0.5s
}
.s2 .left li:nth-child(2) {
	transition-delay: 1s
}
.s2 .left li:nth-child(3) {
	transition-delay: 1.5s
}
.s2 .left li:nth-child(4) {
	transition-delay: 2s
}
.s2.active .left li {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.s2 .right {
	position: absolute;
	top: 50%;
	left: 5%;
	margin-left: -0px;
	margin-top: -0px;
	opacity: 0;
	transition: 0.8s 0.8s;
}
.s2.active .right {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.s3 {
	background-position: center;
}
.s3 .left li {
	transition-delay: 0.4s;
	text-align: center;
}
.s3 .left li:nth-child(2) {
	-webkit-transform: translateX(-5500px);
	transform: translateX(-5500px);
}
.s3 .left li:nth-child(3) {
	-webkit-transform: translateX(-5500px);
transform: translateX(-5500px) transition-delay: 1.2s
}
.s3.active .left li {
	-webkit-transform: translateX(0);
	transform: translateX(0)
}
.s3 .right {
	-webkit-transform: translateX(-4000px);
	transform: translateX(-4000px);
	transition-delay: 3s;
}
.s3.active .right {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.s4 {
	background: url("img/s4.jpg") center
}
.s4 li {
	text-align: center;
}
.s4 .left li:nth-child(1) {
	-webkit-transform: translate(300px, -5000px);
	transform: translate(300px, -5000px)
}
.s4.active .left li:nth-child(1) {
	-webkit-animation: move1 2s 0.8s forwards;
	animation: move1 2s 0.8s forwards
}
.s4 .left li:nth-child(2) {
	-webkit-transform: translate(0, -1500px);
	transform: translate(0, -1500px)
}
.s4.active .left li:nth-child(2) {
	-webkit-animation: move2 2s 0.8s forwards;
	animation: move2 2s 0.8s forwards
}
.s4 .left li:nth-child(3) {
	-webkit-transform: translate(-0px, -1000px);
	transform: translate(-0px, -1000px)
}
.s4.active .left li:nth-child(3) {
	-webkit-animation: move3 2s 0.8s forwards;
	animation: move3 2s 0.8s forwards
}
.s4 .right {
	opacity: 0;
	transition: 0.8s 2.5s
}
.s4.active .right {
	opacity: 1
}
.s5 {
}
.s5 .left li {
	-webkit-transform: translate3d(-1000px, -800px, -500px) rotateX(145deg);
	transform: translate3d(-1000px, -800px, -500px) rotateX(145deg);
	top: 10%;
}
.s5.active .left li:nth-child(1) {
	-webkit-transform: translate3d(0, 0, 0) rotateX(0deg);
	transform: translate3d(0, 0, 0) rotateX(0deg);
	transition-delay: 0.2s
}
.s5.active .left li:nth-child(2) {
	-webkit-transform: translate3d(0, 0, 0) rotateX(0deg);
	transform: translate3d(0, 0, 0) rotateX(0deg);
	transition-delay: 0.4s
}
.s5.active .left li:nth-child(3) {
	-webkit-transform: translate3d(0, 0, 0) rotateX(0deg);
	transform: translate3d(0, 0, 0) rotateX(0deg);
	transition-delay: 0.6s
}
.s5 .right {
	opacity: 0;
	transition: 0.8s 1.8s
}
.s5.active .right {
	opacity: 1
}
/*头部导航*/
.hd {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	color: white;
	width: 100%;
	height: 60px;
	background-color: #373a47;
	font-size: 16px;
}
.inner {
	width: 1000px;
	height: 60px;
	margin: 0 auto
}
.logo {
	float: left;
	text-decoration: none;
	margin-top: 5px;
	margin-right: 50px;
	margin-bottom: 0;
	margin-left: 0;
}
.inner nav {
	float: left;
	margin-left: 0px;
	padding-left: 200px;
}
.inner nav .menu li {
	float: left;
}
.inner nav .menu li a {
	display: block;
	line-height: 60px;
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	width: 120px;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
}
.inner nav .menu li a:hover, .inner nav .menu li.active a {
	color: #F60;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #F60;
	height: 58px;
}
 @-webkit-keyframes move1 {
 0% {
-webkit-transform: translate(330px, -1000px);
transform: translate(330px, -1000px)
}
 20% {
-webkit-transform: translate(330px, 0);
transform: translate(330px, 0)
}
 40% {
-webkit-transform: translate(330px, -50px);
transform: translate(330px, -50px)
}
 60% {
-webkit-transform: translate(330px, 0px);
transform: translate(330px, 0px)
}
 100% {
-webkit-transform: translate(0, 0);
transform: translate(0, 0)
}
}
 @-webkit-keyframes move2 {
 0% {
-webkit-transform: translate(0, -1000px);
transform: translate(0, -1000px)
}
 20% {
-webkit-transform: translate(0, 0);
transform: translate(0, 0)
}
 40% {
-webkit-transform: translate(0, -50px);
transform: translate(0, -50px)
}
 60% {
-webkit-transform: translate(0, 0px);
transform: translate(0, 0px)
}
 100% {
-webkit-transform: translate(0, 0);
transform: translate(0, 0)
}
}
 @-webkit-keyframes move3 {
 0% {
-webkit-transform: translate(-330px, -1000px);
transform: translate(-330px, -1000px)
}
 20% {
-webkit-transform: translate(-330px, 0);
transform: translate(-330px, 0)
}
 40% {
-webkit-transform: translate(-330px, -50px);
transform: translate(-330px, -50px)
}
 60% {
-webkit-transform: translate(-330px, 0px);
transform: translate(-330px, 0px)
}
 100% {
-webkit-transform: translate(0, 0);
transform: translate(0, 0)
}
}
.seek {
	border-radius: 50px;
	height: 40px;
	width: 250px;
	background-color: #474B5C;
	float: left;
	margin-top: 10px;
	position: relative;
	margin-left: 50px;
}
.seek .text {
}
.text_a {
	background-color: #474B5C;
	border: 1px solid #474B5C;
	height: 36px;
	line-height: 36px;
	width: 160px;
	font-family: "微软雅黑";
	font-size: 14px;
	margin-left: 20px;
	position: absolute;
	z-index: 9999;
}
.seek .icon {
	right: 0px;
	position: absolute;
	z-index: 999999;
	top: 5px;
	margin-right: 15px;
}
.bottom {
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 96%, rgb(250,250,250) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 96%, rgb(250,250,250) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 96%, rgb(250,250,250) 100%);
	overflow: hidden;
}
.b_box {
	height: 140px;
	margin-right: auto;
	margin-left: auto;
	width: 600px;
}
.b_left {
	float: left;
}
.b_left img {
	margin-left: 10px;
}
.b_right {
	float: left;
	margin-left: 20px;
	margin-top: 30px;
}
.b_txt {
	color: #474B5C;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
.b1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #474B5C;
	font-size: 32px;
	text-align: center;
}
.b2 {
	color: #474B5C;
	font-size: 14px;
}
.me {
	top: 0px;
}
.s6 {
	background-position: center;
}
.s6 .left li {
}
.s6 .left li:nth-child(1) {
	transition-delay: 0.5s
}
.s6 .left li:nth-child(2) {
	transition-delay: 1s
}
.s6 .left li:nth-child(3) {
	transition-delay: 1.5s
}
.s6 .left li:nth-child(4) {
	transition-delay: 2s
}
.s6.active .left li {
	-webkit-transform: translateY(500);
	transform: translateY(500);
}
.p1080 {
	top: 180px !important;
}
.E-shop {
	padding-top: 60px;
	background-color: #FBFBFB;
	height: 60px;
	line-height: 60px;
}
.E-shop_box {
	background-image: url(../img/cart.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #616161;
	float: right;
	line-height: 60px;
	padding-right: 12px;
	border-radius: 6px;
	position: relative;
}
.E-shop_box a {
	color: #616161;
	font-size: 14px;
	display: block;
	padding-left: 30px;
}
.E-shop_box em {
	color: #FFF;
	background-image: url(../img/cart-t.png);
	background-repeat: no-repeat;
	background-position: center center;
	font-style: normal;
	padding: 10px;
}
.shop_box {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	height: 60px;
	position: relative;
}
.E-shop_cp {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	padding-bottom: 150px;
}
.E-shop_cp_l {
	height: 450px;
	width: 450px;
	float: left;
	margin-right: 20px;
}
.E-shop_cp_l img {
	height: 450px;
	width: 450px;
}
.E-shop_cp_r {
	float: left;
	width: 530px;
}
.m33 {
}
.m33 li {
	display: block;
	font-family: "微软雅黑";
	font-size: 16px;
	float: left;
	line-height: 25px;
	margin-right: 5px;
	padding: 10px;
	margin-top: 0px !important;
	margin-bottom: 5px !important;
	border: 2px solid #E1E1E1;
	cursor: pointer;
	border-radius: 4px
}
.m33 a {
	color: #141414;
}
.m33_hover {
	border: 2px solid #ff6c00 !important;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
.m33_hover a {
	color: #141414 !important;
	text-decoration: none;
}
.gw_num {
	border: 1px solid #dbdbdb;
	line-height: 50px;
	overflow: hidden;
	margin-right: 5px;
	float: left;
}
.gw_num em {
	display: block;
	height: 50px;
	width: 50px;
	float: left;
	color: #7A7979;
	border-right: 1px solid #dbdbdb;
	text-align: center;
	cursor: pointer;
	font-style: normal;
}
.gw_num .num {
	display: block;
	float: left;
	text-align: center;
	width: 50px;
	font-style: normal;
	font-size: 14px;
	line-height: 50px;
	border: 0;
}
.gw_num em.add {
	float: right;
	border-right: 0;
	border-left: 1px solid #dbdbdb;
}
.m1 {
	font-size: 24px;
	width: 400px;
	float: left;
	display: block;
}
.m2 {
	color: #999;
	line-height: 45px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E7E7E7;
	display: block;
	font-size: 14px;
}
.m2 span {
}
.m2 a {
	color: #ff6c00;
	text-decoration: underline;
}
.m3 {
	font-size: 16px;
	line-height: 60px;
}
.none {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
 border:none !important\
}
.m4_btn {
	padding-bottom: 5px;
}
.m4_btn a {
	border-radius: 4px;
	background-image: -moz-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(230,108,0) 0%, rgb(255,157,3) 100%);
	box-shadow: 1.5px 2.598px 2px 0px rgb( 200, 200, 200 );
	width: 150px;
	height: 54px;
	display: block;
	line-height: 54px;
	color: #FAFAFA;
	text-align: center;
	font-size: 18px;
}
.m4_btn a:hover {
	border-radius: 4px;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	background-image: -moz-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(253,182,69) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(253,182,69) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(253,182,69) 100%);
	box-shadow: 1.5px 2.598px 2px 0px rgb( 200, 200, 200 );
	width: 150px;
	height: 54px;
	display: block;
	line-height: 54px;
	color: #FFF;
	text-align: center;
}
.m4_btn a:active {
	margin-top: 1px;
	margin-left: 1px;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
.inventory {
	margin-top: 60px;
	margin-bottom: 60px;
}
.inventory_box {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
}
.in1 {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 231, 231, 231 );
	border-radius: 4px 4px 0 0;
	background-image: -moz-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	box-shadow: 2.5px 4.33px 5px 0px rgb( 239, 239, 239 );
	height: 65px;
	line-height: 65px;
	color: #333;
	padding-left: 10px;
	font-size: 18px;
}
.tab_box {
	background-color: #FFF;
	line-height: 50px;
	font-size: 18px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
.tab_box2 {
	padding: 20px;
	background-color: #FFF;
	overflow: hidden;
}
.hr {
	text-align: center;
	color: #999;
}
.td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F2F2F2;
}
.gw_num1 {
	border: 1px solid #dbdbdb;
	line-height: 30px;
	overflow: hidden;
	margin-right: 5px;
	width: 94px;
}
.gw_num1 em {
	display: block;
	height: 30px;
	width: 30px;
	float: left;
	color: #7A7979;
	border-right: 1px solid #dbdbdb;
	text-align: center;
	cursor: pointer;
	font-style: normal;
}
.gw_num1 .num {
	display: block;
	float: left;
	text-align: center;
	width: 30px;
	font-style: normal;
	font-size: 14px;
	line-height: 30px;
	border: 0;
}
.gw_num1 em.add {
	float: right;
	border-right: 0;
	border-left: 1px solid #dbdbdb;
}
.tab_box1 {
	background-color: #fafafa;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}
.mo {
	float: right;
	margin-right: 20px;
}
.mo em {
	color: #ff6c00;
	font-style: normal;
}
.mo span {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
	padding-left: 10px;
	margin-left: 10px;
}
.mo1 {
	padding: 20px;
	background-color: #FFF;
	line-height: 35px;
	font-size: 16px;
}
.mo1 span {
	font-size: 14px;
	color: #999;
	display: block;
	line-height: 20px;
}
.img img {
	display: block;
	height: 80px;
	width: 80px;
	margin-right: 20px;
}
.add_dz_box {
	overflow: hidden;
	float: left;
}
.add_dz {
}
.add_dz a {
	display: block;
	height: 100px;
	width: 228px;
	border: 1px solid #F0F0F0;
	text-align: center;
	background-image: url(../img/add.png);
	background-repeat: no-repeat;
	background-position: center 50px;
	padding-top: 100px;
	border-radius: 4px;
	color: #999;
}
.m333 {
	font-size: 16px;
}
.m333 li {
	display: block;
	height: 160px;
	width: 227px;
	border: 1px solid #F0F0F0;
	text-align: center;
	border-radius: 4px;
	color: #333;
	float: left;
	margin-right: 10px;
	line-height: 28px;
	padding-top: 40px;
	cursor: pointer;
	margin-bottom: 10px;
}
.m333 a {
	color: #141414;
}
.m333 ul {
	margin: 0px !important;
	padding: 0px !important;
	overflow: hidden;
}
.m333_hover {
	display: block;
	height: 200px;
	width: 200px;
	border: 1px solid #ff6c00 !important;
	text-align: center;
	background-image: url(../img/a2.png) !important;
	background-repeat: no-repeat;
	background-position: 160px 14px;
	border-radius: 4px;
	color: #999;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
.m333_hover a {
	color: #141414 !important;
	text-decoration: none;
}
.in2 {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 231, 231, 231 );
	background-image: -moz-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	height: 65px;
	line-height: 65px;
	color: #999;
	padding-left: 10px;
	font-size: 18px;
	border-radius: 6px 6px 0 0!important;
}
.pop {
	width: 710px;
	margin-right: auto;
	margin-left: auto;
}
.in2_l {
	float: left;
}
.in2_r {
	float: right;
	margin-right: 15px;
	padding-top: 0px;
}
.pop_main {
}
.text_box {
	background-color: #FFF;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.pop_text {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 231, 231, 231 );
	border-radius: 4px;
	background-image: -moz-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	height: 50px;
	text-indent: 10px;
	font-family: "微软雅黑";
}
.set {
	border-radius: 4px 4px 0 0;
	background-image: -moz-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	border: 1px solid #E7E7E7 !important;
	font-family: "微软雅黑";
	width: 209px;
	margin-right: 8px;
	text-indent: 10px;
}
.mydiv {
	z-index: 999999999999999999999;/*FF IE7 该值为本身高的一半*/
	margin-top: 0px;
	position: fixed!important;/* FF IE7*/
	position: absolute;/*IE6*/
 _top:       expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
 document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);
	width: 710px;
	top: 100px;
	margin-left: -355px;
	left: 50%;
	border-radius: 4px!important;
}
.bg, .popIframe {
	background-color: #000;
	display: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;/*FF IE7*/
	filter: alpha(opacity=70);/*IE*/
	opacity: 0.7;/*FF*/
	z-index: 1;
	position: fixed!important;/*FF IE7*/
	position: absolute;/*IE6*/
 _top:       expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
 document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);/* www.codefans.net IE5 IE5.5*/
}
.popIframe {
	filter: alpha(opacity=0);/*IE*/
	opacity: 0;/*FF*/
	z-index: 2;
}
.login {
	height: 60px;
	line-height: 60px;
	float: right;
}
.login a {
	color: #CCCCCC;
	text-decoration: none;
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
}
.login a:hover {
	color: #FFFFFF;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
.login1 {
	height: 40px;
	line-height: 40px;
	float: right;
	background-color: #474B5C;
	margin-top: 10px;
	border-radius: 6px
}
.login1 a {
	color: #CCCCCC;
	text-decoration: none;
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;
	border-radius: 4px
}
.login1 a:hover {
	color: #FFFFFF;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
.user {
	float: right;
	height: 60px;
	line-height: 60px;
	position: relative;
}
.user a {
	display: block;
	color: #CCCCCC;
	text-decoration: none;
	background-image: url(../img/l1.png);
	background-repeat: no-repeat;
	background-position: center center;
	padding-left: 35px;
	padding-right: 30px;
}
.user a:hover {
	color: #FFFFFF;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
.show {
	width: 140px;
	background-image: url(../img/up.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 5px;
	position: absolute;
	z-index: 9999999999999999999999;
	top: 45px;
	right: -10px;
	display: none;
}
.show a {
	font-size: 14px !important;
	color: #333 !important;
}
.show_user {
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	color: #666;
	padding-bottom: 5px;
}
.show_user img {
	border-radius: 50%;
	height: 60px;
	width: 60px;
}
.show_ul {
	border-radius: 4px;
	background-color: #FFF;
	box-shadow: 1.5px 2.598px 2px 0px rgb( 200, 200, 200 );
	padding-top: 10px;
}
.show_ul li {
	height: 40px;
	line-height: 40px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E9E9E9;
}
.show_ul li a {
	font-size: 14px !important;
	color: #333 !important;
	background-image: url(../img/b1.png);
	background-repeat: no-repeat;
	background-position: 25px center;
	display: block;
	padding-left: 55px;
	padding-right: 10px;
}
.show_ul li a:hover {
	background-color: #F5F5F5;
}
.slideTxtBox {
	text-align: left;
	margin: 20px;
}
.slideTxtBox .hd {
	height: 50px;
	line-height: 50px;
	position: relative;
	background-color: #FFF;
	padding-left: 1px;
}
.slideTxtBox .hd ul {
	float: left;
	height: 49px;
}
.slideTxtBox .hd ul li {
	float: left;
	cursor: pointer;
	border-radius: 6px 6px 0px 0px;
	padding-top: 0;
	padding-right: 40px;
	padding-bottom: 0;
	padding-left: 40px;
	color: #999999;
	height: 49px;
	border: 1px solid #E8E8E8;
	background-color: #F0F1F2;
	margin-left: -1px;
}
.slideTxtBox .hd ul li.on {
	height: 49px;
	background: #fff;
	font-weight: bold;
	color: #333;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
.slideTxtBox .bd ul {
	border-radius: 0px 6px 6px 6px;
	border: 1px solid #E8E8E8;
	padding-top: 15px;
	padding-left: 15px;
}
.slideTxtBox .bd li {
	height: 24px;
	line-height: 24px;
}
.slideTxtBox .bd li .date {
	float: right;
	color: #999;
}
.m44 img {
	height: 34px;
	width: 144px;
}
.m44 {
}
.m44 li {
	display: block;
	font-family: "微软雅黑";
	font-size: 16px;
	float: left;
	border: 2px solid #F9F9F9;
	cursor: pointer;
	border-radius: 4px;
	background-color: #F9F9F9;
	height: 34px !important;
	width: 144px !important;
	margin-right: 29px;
	margin-bottom: 15px;
}
.m44 a {
	color: #141414;
}
.m44 ul {
	margin: 0px !important;
	padding: 0px !important;
	display: block;
	overflow: hidden;
	border: none !important;
}
.m44_hover {
	border: 2px solid #ff6c00 !important;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
.m44_hover a {
	color: #141414 !important;
	text-decoration: none;
}
.mydiv1 {
	border-radius: 4px!important;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
}
.pop1 {
	box-shadow: 0.5px 0.866px 7px 0px rgb( 234, 234, 234 );
	margin-right: auto;
	margin-left: auto;
}
.pop_text1 {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 231, 231, 231 );
	border-radius: 4px;
	height: 50px;
	text-indent: 10px;
	font-family: "微软雅黑";
	background-color: #FFF;
	margin-top: 30px;
	margin-bottom: 20px;
}
.m5_btn {
	padding-bottom: 5px;
}
.m5_btn a {
	border-radius: 4px;
	background-image: -moz-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(230,108,0) 0%, rgb(255,157,3) 100%);
	box-shadow: 1.5px 2.598px 2px 0px rgb( 200, 200, 200 );
	height: 54px;
	display: block;
	line-height: 54px;
	color: #FAFAFA;
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
}
.m5_btn a:hover {
	border-radius: 4px;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	background-image: -moz-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(253,182,69) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(253,182,69) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(253,182,69) 100%);
	box-shadow: 1.5px 2.598px 2px 0px rgb( 200, 200, 200 );
	height: 54px;
	display: block;
	line-height: 54px;
	color: #FFF;
	text-align: center;
}
.m5_btn a:active {
	margin-top: 1px;
	margin-left: 1px;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
.tab_box2 {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-image: -moz-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: rgb( 231, 231, 231 );
	border-bottom-color: rgb( 231, 231, 231 );
	border-left-color: rgb( 231, 231, 231 );
}
.in3 {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 231, 231, 231 );
	background-image: -moz-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,242,242) 0%, rgb(255,255,255) 100%);
	height: 65px;
	line-height: 65px;
	color: #666;
	padding-left: 10px;
	font-size: 20px;
	border-radius: 6px 6px 0 0!important;
	font-weight: bold;
}
.in4_box {
	overflow: hidden;
	margin-top: 20px;
}
.in4_l_btn {
	padding-bottom: 5px;
	overflow: hidden;
	float: left;
}
.in4_l_btn a {
	border-radius: 4px;
	background-image: -moz-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(230,108,0) 0%, rgb(255,157,3) 100%);
	box-shadow: 1.5px 2.598px 2px 0px rgb( 200, 200, 200 );
	height: 54px;
	display: block;
	line-height: 54px;
	color: #FAFAFA;
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
	float: left;
	width: 220px;
}
.in4_l_btn a:hover {
	border-radius: 4px;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	background-image: -moz-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(253,182,69) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(253,182,69) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(253,182,69) 100%);
	box-shadow: 1.5px 2.598px 2px 0px rgb( 200, 200, 200 );
	height: 54px;
	display: block;
	line-height: 54px;
	color: #FFF;
	text-align: center;
}
.in4_l_btn a:active {
	margin-top: 1px;
	margin-left: 1px;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
.in4_r_btn {
	padding-bottom: 5px;
	float: right;
}
.in4_r_btn a {
	border-radius: 4px;
	background-image: -moz-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(230,108,0) 0%, rgb(255,157,3) 100%);
	box-shadow: 1.5px 2.598px 2px 0px rgb( 200, 200, 200 );
	height: 54px;
	display: block;
	line-height: 54px;
	color: #FAFAFA;
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
	float: right;
	width: 220px;
}
.in4_r_btn a:hover {
	border-radius: 4px;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	background-image: -moz-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(253,182,69) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(253,182,69) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(253,182,69) 100%);
	box-shadow: 1.5px 2.598px 2px 0px rgb( 200, 200, 200 );
	height: 54px;
	display: block;
	line-height: 54px;
	color: #FFF;
	text-align: center;
}
.in4_r_btn a:active {
	margin-top: 1px;
	margin-left: 1px;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
.in4_r1_btn {
	padding-bottom: 5px;
	float: right;
}
.in4_r1_btn a {
	border-radius: 4px;
	background-image: -moz-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	box-shadow: 0.5px 0.866px 7px 0px rgb( 234, 234, 234 );
	height: 54px;
	display: block;
	line-height: 54px;
	color: #999999;
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
	float: right;
	width: 220px;
}
.Favicon {
	background-color: #FFF;
	overflow: hidden;
	padding-top: 20px;
	padding-right: 60px;
	padding-bottom: 20px;
	padding-left: 60px;
}
.Favicon_l {
	float: left;
}
.Favicon_l img {
	height: 133px;
	width: 133px;
}
.Favicon_r {
	float: left;
	background-color: #F6F6F6;
	border: 1px solid #CCC;
	height: 400px;
	width: 400px;
	margin-left: 30px;
}
.tab_box2 {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-image: -moz-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: rgb( 231, 231, 231 );
	border-bottom-color: rgb( 231, 231, 231 );
	border-left-color: rgb( 231, 231, 231 );
}
.a-upload {
	padding: 4px 10px;
	height: 20px;
	line-height: 20px;
	position: relative;
	cursor: pointer;
	color: #888;
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	display: inline-block;
 *display: inline;
 *zoom: 1
}
.a-upload input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}
.a-upload:hover {
	color: #444;
	background: #eee;
	border-color: #ccc;
	text-decoration: none
}
.m41_btn {
	padding-bottom: 5px;
}
.m41_btn a {
	border-radius: 4px;
	background-image: -moz-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	box-shadow: 0.5px 0.866px 7px 0px rgb( 234, 234, 234 );
	width: 150px;
	height: 54px;
	display: block;
	line-height: 54px;
	color: #999999;
	text-align: center;
	font-size: 18px;
}
.m41_btn a:hover {
	border-radius: 4px;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	background-image: -moz-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(239,239,239) 0%, rgb(255,255,255) 100%);
	box-shadow: 0.5px 0.866px 7px 0px rgb( 234, 234, 234 );
	width: 150px;
	height: 54px;
	display: block;
	line-height: 54px;
	color: #666;
	text-align: center;
}
.m41_btn a:active {
	margin-top: 1px;
	margin-left: 1px;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
.code_box {
	border-radius: 6px;
	border: 1px solid #F6F6F6;
	float: left;
	background-color: #FFF;
	height: 50px;
	margin-left: 10px;
}
.reg_d {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
	line-height: 45px;
	font-weight: normal;
	color: #999;
}
.icon_bg {
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 60px;
}
.express_box {
	height: 200px;
	overflow-y: scroll;
	margin-right: 15px;
	margin-left: 15px;
	overflow-x: hidden;
	display: none;
}
.express_txt {
	background-color: #FFF;
	padding: 10px;
	line-height: 24px;
}
.express_txt p {
	color: #333 !important;
}
.express_txt span {
	color: #999;
}
.course_box {
	padding: 20px;
	background-color: #FFF;
}
.course {
	background-color: #FFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #d6d6d6;
	padding-bottom: 15px;
}
.course span {
}
.before {
	color: #999;
	font-size: 14px;
	background-image: url(../img/express_h.svg);
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: -8px;
	padding-left: 30px;
}
.before p {
	color: #333;
	padding-bottom: 3px;
	background-color: #FFF !important;
}
.before span {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.now {
	color: #999;
	font-size: 14px;
	background-image: url(../img/express.svg);
	background-repeat: no-repeat;
	background-position: left 5px;
	margin-left: -8px;
	padding-left: 30px;
}
.now p {
	padding-bottom: 3px;
	background-color: #FFF !important;
}
.now span {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.now1 {
	color: #999;
	font-size: 14px;
	background-image: url(../img/express.svg);
	background-repeat: no-repeat;
	background-position: left 5px;
	margin-left: -8px;
	padding-left: 30px;
	margin-top: -15px;
}
.now1 p {
	padding-bottom: 3px;
	background-color: #FFF !important;
}
.now1 span {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.express_list {
	margin-top: -30px;
	margin-bottom: 10px;
	margin-left: 30px;
}
.express_list a {
	border-radius: 6px;
	display: block;
	border: 1px solid #CCC;
	line-height: 40px;
	font-size: 18px;
	width: 100px;
	text-align: center;
	color: #666;
}
.pack-up {
	line-height: 50px;
	text-align: center;
	display: none;
}
.pack-up a {
	color: #666;
}
.or {
	line-height: 150px;
	font-size: 20px;
	text-align: center;
	background-color: #FFF;
}
.new_bottom {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E4E4E4;
	padding: 10px;
	height: 147px;
}
.new_bottom_left {
	float: left;
	height: 147px;
}
.listbox {
	float: left;
	width: 180px;
	font-size: 14px;
	font-family: "微软雅黑";
}
.listbox ul {
}
.listbox ul li {
	line-height: 35px;
}
.listbox a {
}
.new_bottom_right {
	float: right;
	font-size: 38px;
	padding-left: 60px;
	font-weight: normal;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #E4E4E4;
	margin-top: 30px;
}
.listbox_titel {
	font-size: 16px;
	line-height: 45px !important;
}
.listbox_txt {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	font-size: 13px;
	line-height: 24px;
	color: #999999;
	padding-bottom: 20px;
	margin-top: 20px;
}
.pop_co {
	text-align: center;
	position: fixed;
	_position: absolute;
	bottom: 0px;
	_bottom: 0px;
 _margin-top:expression(this.style.pixelHeight+document.documentElement.scrollTop);
	background-color: #FFF;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 9999999999;
	display: none;
	background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 96%, rgb(250,250,250) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 96%, rgb(250,250,250) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 96%, rgb(250,250,250) 100%);
}
.pop_co_box {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.pop_co_box ul {
	display: block;
	overflow: hidden;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
.pop_co_box ul li {
	float: left;
	width: 33%;
}
.pop_co_box ul li img {
	height: 120px;
	width: 120px;
}
.lm_txt {
	font-size: 16px;
	line-height: 34px;
}
.lm_txt-a {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.lm_txt-b {
	color: #F60;
}
.pop_co_close {
	position: absolute;
	z-index: 999;
	height: 21px;
	width: 22px;
	top: 10px;
	right: 10px;
}
.btn_reg {
	border-radius: 4px;
	height: 54px;
	display: block;
	line-height: 54px;
	color: #999999;
	text-align: center;
	font-size: 18px !important;
	background-image: -moz-linear-gradient( 90deg, rgb(231,231,231) 0%, rgb(234,234,234) 100%) !important;
	background-image: -webkit-linear-gradient( 90deg, rgb(231,231,231) 0%, rgb(234,234,234) 100%) !important;
	background-image: -ms-linear-gradient( 90deg, rgb(231,231,231) 0%, rgb(234,234,234) 100%);
	width: 100%;
 !important;
	cursor: default !important;
}
.btn_reg1 {
	border-radius: 4px;
	height: 54px;
	display: block;
	line-height: 54px;
	color: #FFFFFF !important;
	text-align: center;
	font-size: 18px !important;
	background-image: -moz-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%) !important;
	background-image: -webkit-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%) !important;
	background-image: -ms-linear-gradient( 90deg, rgb(230,108,0) 0%, rgb(255,157,3) 100%) !important;
	width: 100%;
	cursor: pointer;
}
.show1 {
	width: 300px;
	background-image: url(../img/up.png);
	background-repeat: no-repeat;
	background-position: 280px 14px;
	padding-top: 20px;
	position: absolute;
	z-index: 9999999999999999999999;
	top: 55px;
	right: 10px;
	display: none;
}
.show1 a {
	font-size: 14px !important;
	color: #333 !important;
}
.show1_user {
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	color: #666;
	padding-bottom: 5px;
}
.show1_ul {
	border-radius: 4px;
	background-color: #FFF;
	box-shadow: 1.5px 2.598px 2px 0px rgb( 200, 200, 200 );
	padding-top: 10px;
}
.show1_ul li {
	height: 40px;
	line-height: 40px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E9E9E9;
}
.show1_ul li a {
	font-size: 14px !important;
	color: #333 !important;
	background-image: url(../img/b1.png);
	background-repeat: no-repeat;
	background-position: 25px center;
	display: block;
	padding-left: 55px;
	padding-right: 10px;
}
.show1_ul li a:hover {
	background-color: #F5F5F5;
}
.cart_li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
	overflow: hidden;
	margin-bottom: 10px;
}
.cart_li_left {
	float: left !important;
	margin-right: 10px;
	margin-left: 10px;
	text-align: left;
}
.cart_li_left a {
	padding-left: 0px !important
}
.cart_li_left img {
	height: 80px;
	width: 80px;
}
.cart_li_right {
	float: left;
	width: 190px;
	text-align: left;
}
.cart_li_right span {
	color: #F60;
}
.sn {
	line-height: 45px;
	overflow: hidden;
	padding-right: 10px;
	padding-left: 10px;
}
.sn_l {
	float: left;
}
.sn_r {
	float: right;
}
.sn_r a {
	background-image: url(../img/cart-blue-arrow_d04f80f37f.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 15px;
	color: #F60 !important;
}
.sn1 {
	overflow: hidden;
	padding-right: 10px;
	padding-left: 10px;
	background-color: #F3F3F3;
	padding-top: 10px;
	padding-bottom: 10px;
}
.sn1_l {
	float: left;
	line-height: 45px;
}
.sn1 span {
	color: #F60;
	font-size: 18px;
}
.sn1_r {
	float: right;
}
.sn1_r a {
	background-image: -moz-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(230,108,0) 0%, rgb(255,157,3) 100%);
	border-radius: 6px;
	color: #FFF !important;
	text-align: center;
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 45px;
}
.price1_box {
	overflow: hidden;
	padding-top: 10px;
}
.price1 {
	color: #F60;
	font-size: 22px;
	float: right;
	line-height: 30px;
	display: block;
	margin-right: 20px;
}
.price1 span {
	font-size: 14px;
}
.yh {
	display: block;
	height: 45px;
	overflow: hidden;
}
.m66 {
}
.m66 li {
	display: block;
	font-family: "微软雅黑";
	font-size: 16px;
	float: left;
	line-height: 25px;
	margin-right: 5px;
	padding: 10px;
	margin-top: 0px !important;
	margin-bottom: 5px !important;
	border: 2px solid #E1E1E1;
	cursor: pointer;
	border-radius: 4px
}
.m66 a {
	color: #141414;
}
.m66_hover {
	border: 2px solid #ff6c00 !important;
	transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
.m66_hover a {
	color: #141414 !important;
	text-decoration: none;
}
.dynamicRemove {
	background-image: url(../img/delete.png);
	height: 50px;
	width: 50px;
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
}
.dynamicAdd {
	background-image: url(../img/add_a.png);
	height: 50px;
	width: 50px;
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
}
.row {
	overflow: hidden;
	margin-bottom: 5px;
}
.BreadcrumbNavigation {
	margin-top: 80px;
	margin-bottom: 10px;
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
}
.BreadcrumbNavigation span {
	background-image: url(../img/BreadcrumbNavigation_li.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	padding-right: 20px;
}
.BreadcrumbNavigation .hover {
	font-weight: bold;
}
.news_box {
	padding: 10px;
	margin: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EBEBEB;
}
.news_box img {
	width: 100%;
	height: auto;
	margin-top: 10px;
}
.news_t1 {
	overflow: hidden;
	margin-bottom: 20px;
}
.news_t1_l {
	font-size: 24px;
	float: left;
	width: 550px;
	color: #333;
}
.news_t1_r {
	color: #999;
	float: right;
}
.news_t2 {
	margin-top: 10px;
	color: #666;
}
.news_t2 a {
	color: #F60;
	text-decoration: none;
}
.news_right {
	float: right;
	height: 500px;
	width: 300px;
	position: absolute;
	z-index: 0;
	top: 0px;
	right: 0px;
}
.news_right img {
	border-radius: 6px;
	display: block;
	margin-bottom: 10px;
	margin-top: auto;
	margin-left: auto;
}
.tip_c {
	font-size: 12px;
	color: #F00;
	text-align: center;
	line-height: 24px;
}
.gray {
	display: block;
	font-family: "微软雅黑";
	font-size: 16px;
	float: left;
	line-height: 25px;
	margin-right: 5px;
	padding: 10px;
	margin-top: 0px !important;
	margin-bottom: 5px !important;
	border: 2px solid #E1E1E1;
	border-radius: 4px;
	background-color: #E1E1E1;
	color: #999;
	cursor: not-allowed
}
.gray1 {
	color: #CCC !important;
 filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	-webkit-filter: grayscale(100%);
}
.gray1 a {
	color: #CCC !important;
}
.gray2 {
	color: #CCC !important;
	font-size: 12px;
}
.news_txt {
	font-size: 16px;
	line-height: 30px;
	text-align: justify;
	text-justify: inter-ideograph;
}
.news_txt p {
	text-indent: 32px;
	margin-bottom: 10px;
}
.news_txt img {
	height: auto;
	width: 100%;
	margin-bottom: 15px;
	display: block;
}
.show_co1 {
	position: relative;
	display: block;
}
.show_co1_box {
	padding: 10px;
	position: absolute;
	z-index: 1;
	top: -100px;
	right: -200px;
	display: none;
}
.company {
}
.company p {
	line-height: 28px;
	padding: 15px;
}
.company h4 {
	background-color: #e7e7e9;
	line-height: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #666666;
	padding-left: 15px;
	font-weight: normal;
}
.company_left {
}
.company_left_titel {
	font-size: 18px;
	color: #333;
	text-align: center;
	padding: 0px !important
}
.company_left ul {
}
.company_left ul li {
	display: block;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F8F8F8;
}
.company_hover {
	background-image: -moz-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,108,0) 0%, rgb(255,157,3) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(230,108,0) 0%, rgb(255,157,3) 100%);
	color: #FFF;
}
.company_hover a {
	color: #FFF;
}
.company_hover a:hover {
	color: #FFF;
}
