<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>龙米</title>
<link href="__PUBLIC__/css/css.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/mui.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="mydiv1">
  <div class="pop1" style="text-align:center; width:500px">
    <div class="in3"> 安全验证 </div>
    <div class="pop_main"> </div>
    <form method="post"  action="{: U('Index/Forget/forget_mobile')}" id="check_mobile">
      <div class="tab_box2" style="border-radius:0 0 6px 6px!important">
        <p><img src="__PUBLIC__/img/callback-3_0de5f5f21f.png" width="155" height="159"></p>
        <input name="mobile" type="text" disabled class="pop_text1 icon_bg" placeholder="{: $mobile}" style="width:100%; margin-bottom:10px;background-image:url(__PUBLIC__/img/icon-a.png)" value="{: $mobile}">
        <input name="code" type="text" class="pop_text1 icon_bg" placeholder="请输入验证码" style="width:50%; margin-top:0px; float:left; background-image:url(img/icon-b.png)">
        <div class="in4_r1_btn">
          <!-- <a href="#">重新发送（60）</a> -->
          <input type="button" intervaltime="{: session('forget_time')}" value="重新发送" id="btnemailAuthCode2" onClick="sendCode(this)">
        </div>
        <div style="clear:both"></div>
        <div class="m5_btn"><a href="javascript:check_mobile()">下一步</a></div>
      </div>
    </form>
  </div>
</div>
</body>
</html>

<script src="./Public/js/jquery-1.8.2.min.js"></script>
<script>
$(document).ready(function(){
  var intAs_time= parseInt($('#btnemailAuthCode2').attr("IntervalTime"));
  if(intAs_time == 60){
    sendCode('btnemailAuthCode2');
  }
  jsInnerTimeout('btnemailAuthCode2');
  
});

function check_mobile(){
    var code = $('input[name="code"]').val();
    if(code.length != 4){
        alert('验证码长度不正确');
        return false;
    }
    $('#check_mobile').submit();
}

 function sendCode(obj){
        var id = $(obj).attr('id');
        // var mobile = var nickname = $('input[name="nickname"]').val();
        //重新发邮件
        $.ajax({
            type : "get",
            url  : "/index.php?m=Index&c=Forget&a=send_sms_reg_code&type=anew",
            dataType : 'json',
            error: function(request) {
                console.log(request);
                alert('服务器繁忙, 请联系管理员!');//alert("服务器繁忙, 请联系管理员!");
                return;
            },
            success: function(res) {
              console.log(res);
                if(res.status == 1){
                    jsInnerTimeout(id);
                }else{
                    alert(res.msg);//alert('发送失败');
                }
            }
        });
    }

  //倒计时函数
    function jsInnerTimeout(id)
    {
        var codeObj=$("#"+id);
        var intAs=parseInt(codeObj.attr("IntervalTime"));

        intAs--;
        codeObj.attr("disabled","disabled");
        if(intAs<=-1)
        {
            codeObj.removeAttr("disabled");
            codeObj.attr("IntervalTime","{: session('forget_time')}");
            codeObj.val("重新发送");
            return true;
        }

        codeObj.val('重新发送('+intAs+')');
        codeObj.attr("IntervalTime",intAs);

        setTimeout("jsInnerTimeout('"+id+"')",1000);
    };
</script>


