<include file="$headerPath"/>
<body>

<!--音乐-->
<audio id="audio" src="__ADDONS__/music/money.mp3" preload="preload"  style="width:0px;height:0px;" ></audio>

<!--邀请部分-->
<div class="follow" id="follow">
    <img src="__PUBLIC__/images/qrcode.jpg"/>
    <p>
        关注公众号才能抢红包哦！
    </p>
</div>

<!--红包部分-->
<div class="red">
    <p id="tipMsg">{$tipMsg}</p>
    <div id="prompt"></div>
    <div class="bottom">
        <button  class="rob" id="rob" ></button>
    </div>
</div>


<div class="notice">
    <div class="row">
         已有<span id="number">...</span>人领取了红包
    </div>
    <!--<div class="row">-->
        <!--<marquee scrollamount="2"  direction="up">-->
            <!--<span>ddd</span>-->
        <!--</marquee>-->
    <!--</div>-->
</div>

<!--邀请列表-->
<div class="invite">
    <volist name="inviteList" id="inviteItem">
        <img src="{$inviteItem}"/>
    </volist>
</div>


<!--底部菜单-->
<div class="buttonNav">
    <!--<a href="#">规则</a>-->
    <a href="{:U('Mobile/Addons/redRain',array('pluginName'=>'lists'))}">查看中奖纪录</a>
</div>


</body>

<script src="__STATIC__/js/zepto.min.js" type="text/javascript"></script>
<script type="text/javascript" src="__ADDONS__/js/touch.js"></script>
<script type="text/javascript">
    $(function(){
        $(".red").css("background-size", $(".red").width()+"px "+$(".red").height()+"px");
    });
    var ApiUrl = "{:U('Mobile/Addons/redRain')}";
    var nowTime = {:time()};
    var nowMan = {$action}*264;
    var isRun = {$isRun};
    var startTime = {$startTime};
//    锁定状态
    var lock = {:$currentState?"false":"true"};

</script>
<script type="text/javascript" src="__ADDONS__/js/script.js?{$v}"></script>

<notempty name="stateTimeArray">
    <!--倒计时-->
    <script type="text/javascript">
        var thisTime = {$stateTimeArray.thisTime};
        var startTime = {$stateTimeArray.startTime};
        var tipMsg = "{$stateTimeArray.tipMsg}";
        var timer = setInterval(function(){
            if( thisTime >= startTime ){
                $("#tipMsg").html(tipMsg);
                lock = false;
                clearInterval(timer);
            }else{
                thisTime ++;
            }
        },1000);
    </script>
</notempty>

<if condition=" !$isFollow ">
    <script type="text/javascript">
        $("#follow").show();
    </script>
</if>

<include file="$sharePath"/>
</html>