<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td class="text-right">
                ID/用户ID
            </td>
            <td class="text-left">
                状态
            </td>
            <td class="text-left">
                版本/版本名字
            </td>
            <td class="text-left">
                领奖人名称/领奖人手机号/领奖人微信号
            </td>
            <td class="text-left">
                领奖人地址
            </td>
            <td class="text-left">
                情况
            </td>
            <td class="text-left">
                开始时间
            </td>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="item">
            <tr>
                <td class="text-right">{$item.id}/{$item.user_id}</td>
                <td class="text-left">{$state[$item["state"]]}</td>
                <td class="text-left">{$config["data"][$item["edition_id"]]["name"]}</td>
                <td class="text-left">{$item.user_name}/{$item.user_phone}/{$item.user_wechat}</td>
                <td class="text-left">{$item.user_site}</td>
                <td class="text-left">
                    <volist name="item.help" id="helpItem">
                        {$helpItem['value']},
                    </volist>
                </td>
                <td class="text-left">
                    {:date('Y-m-d H:i:s',$item['create_time'])}
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>