<include file="Public/header"/>
<style>
    .status a{
        margin:5px auto;
    }
</style>
<div class="fn-clear" style="min-height: 459px; margin-top:80px">
    <div class="content fn-clear">
        <div class="account-wrapper account-min-wrapper">
            <include file="Public/user_menu"/>
            <div class="account-content">
                <div class="account-order">
                    <div class="gray-box empty-order-box">
                        <div class="title columns-title pre-title">
                            <h2>我的订单</h2>
                             <div class="gray-btn-menu sort-status-menu sort-time-menu2">
                            <span class="label">
                            <img src="__PUBLIC__/img/i.gif" class="arrow">
                                <if condition="$status eq 0">
                                    全部状态
                                <elseif condition="$status eq 2" /> 
                                    未完成
                                <elseif condition="$status eq 4" />
                                    已完成
                                <else />
                                    已关闭 
                                </if>
                            </span>
                            <ul class="menu-list menu-list2">
                            <li class="{: $status == 0 ? 'selected' : ''}">
                            <a href="{:U('Index/Order/orderList')}">全部状态</a>
                            </li>
                            <li class="{: $status == 2 ? 'selected' : ''}" >
                            <a href="{:U('Index/Order/orderList',array('status'=>'2','time' => $times))}" >未完成</a>
                            </li>
                            <li class="{: $status == 4 ? 'selected' : ''}">
                            <a href="{:U('Index/Order/orderList',array('status'=>'4','time' =>$times ))}">已完成</a>
                            </li>
                            <li class="{: $status == 3 ? 'selected' : ''}">
                            <a href="{:U('Index/Order/orderList',array('status'=>3,'time' => $times))}">已关闭</a>
                            </li>
                            </ul>
                            </div>
                            <div class="gray-btn-menu sort-time-menu sort-time-menu1"> 
                            <span class="label"> <img src="__PUBLIC__/img/i(1).gif" class="arrow">
                                <if condition="$times eq trimester">
                                    最近三个月
                                <elseif condition="$times eq thisyear" /> 
                                    今年内
                                <elseif condition="$times eq lastyear" />
                                    {: date('Y',time()) - 1}年
                                <else />
                                    {: date('Y',time()) - 2}年 
                                </if>
                            </span>
                            <ul class="menu-list  menu-list1">
                            <li class="{: $times == 'trimester' ? 'selected' : ''}" > 
                                <a href="{:U('Index/Order/orderList',array('status'=>$status,'time'=>'trimester'))}">最近三个月</a> 
                            </li>
                            <li class="{: $times == 'thisyear' ? 'selected' : ''}"> 
                                <a href="{:U('Index/Order/orderList',array('status'=>$status,'time'=>'thisyear'))}">今年内</a> 
                            </li>
                            <li class="{: $times == 'lastyear' ? 'selected' : ''}"> 
                                <a href="{:U('Index/Order/orderList',array('status'=>$status,'time'=>'lastyear'))}">{: date('Y',time()) - 1}年</a> 
                            </li>
                            <li class="{: $times == 'yearbefore' ? 'selected' : ''}"> 
                                <a href="{:U('Index/Order/orderList',array('status'=>$status,'time'=>'yearbefore'))}">{: date('Y',time()) - 2}年</a> 
                            </li>
                            </ul>
                            </div>
                        </div>
                        <empty name = "lists">
                            <div class="box-inner">
                                <div class="order-empty"> 您目前还没有此类订单，您可以<a href="{:U('User/index')}">返回首页</a>。 </div>
                            </div>
                            <else/>
                            <div class="js-list-inner">
                                <volist name="lists" id="list">
                                    <div class="box-inner order-cart order-list-cart fn-clear" data-id="{$list.order_id}">
                                        <div class="gray-sub-title cart-title">
                                            <span class="date">{$list.add_time|date='Y-m-d',###}</span>
                                            <span class="order-id">
                                            订单号： <a href="#">{$list.order_sn}</a>
                                            </span>
                                            <span class="order-detail">
                                                <a href="{:U('Index/Order/orderDetail',array('id' => $list['order_id'] ))}">查看详情</a>
                                            </span>
                                            <span class="sub-total">应付总额</span>
                                            <span class="operation">数量</span>
                                            <span class="price">单价</span>
                                            <span class="price"></span>
                                        </div>

                                        <div class="cart">
                                            <volist name="list.goods_list" id="good">
                                                <div class="cart-items fn-clear" data-id="100014501">
                                                    <div class="prod-info">
                                                        <div class="items-thumb">
                                                            <a href="#" title="{$good.goods_name}" target="_blank">
                                                                <img src="{$good.goods_id|goods_thum_images=78,78}">
                                                            </a>
                                                        </div>
                                                        <div class="items-params fn-clear">
                                                            <div class="name">
                                                                <a href="#" target="_blank">{$good.goods_name}</a>
                                                            </div>
                                                            <div class="detail">
                                                                {$good.spec_key_name}
                                                            </div>
                                                        </div>
                                                        <div class="num">{$good['goods_num']}</div>
                                                        <div class="price">¥ {$good.goods_price}</div>
                                                    </div>
                                                </div>
                                            </volist>
                                        </div>
                                        <div class="prod-operation">
                                            <div class="total">¥ {$list['order_amount']}</div>
                                            <div class="status">

                                                <!--<if condition="$list.cancel_btn eq 1">-->
                                                <!--<a onClick="cancel_order({$list.order_id})" class="blue-small-btn js-payment-order">-->
                                                <!--取消订单-->
                                                <!--</a>-->
                                                <!--</if>-->
                                                <if condition="$list.return_btn eq 1">
                                                    <a href="{:U('/Index/Service/applicationService',array('order_id'=>$list[order_id]))}" class="blue-small-btn js-payment-order">
                                                        申请售后
                                                    </a>
                                                </if>
                                                <if condition="$list.receive_btn eq 1">
                                                    <a  onClick=" if(confirm('你确定收到货了吗?')) location.href='{:U('Index/Order/orderConfirm',array('id'=>$list['order_id']))}'" class="blue-small-btn js-payment-order">
                                                        收货确认
                                                    </a>
                                                </if>
                                                <if condition="$list.pay_btn eq 1">
                                                    <a href="{:U('/Index/User/payment',array('order_id'=>$list[order_id]))}" class="blue-small-btn js-payment-order">
                                                        现在付款
                                                    </a>
                                                </if>
                                            </div>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                        </empty>
                    </div>
                    <notempty name = "lists">
                        {$page}
                    </notempty>
                </div>
            </div>
        </div>
    </div>
</div>




<include file="Public/footer"/>
</body>
</html>