

<volist name="address_list" id="item">

	<if condition="$item['is_default'] eq 1">
	
		<li class="m333_hover">
			<input name="address_id" type="radio" value="{: $item['address_id']}" checked style="display:none">
          <p>{: $item['consignee']}(默认地址）</p>
          <p>{: $item['mobile']}</p>
          <p>{$regionList[$item[province]]} {$regionList[$item[city]]} </p>
          <p>{: $item['address']}</p>
        </li>
	<else/>
		<li>
			<input name="address_id" type="radio" value="{: $item['address_id']}" style="display:none">
	      <p>{: $item['consignee']}</p>
	      <p>{: $item['mobile']}</p>
	      <p>{$regionList[$item[province]]} {$regionList[$item[city]]}</p>
	      <p>{: $item['address']}</p>
	    </li>
	</if>
	
</volist>

<script>
	$(function(){

	$('.m333').find('li').each(function(i){
	$(this).click(function(){
		$('.m333').find('li').removeClass('m333_hover');
		$(this).addClass('m333_hover');
		$(this).children('input').attr("checked",'checked'); 
		
		})
	})

	})
	
</script>