<include file="Public/header"/>




<div class="inventory">
  <div class="inventory_box">
    <div class="in1">买米清单</div>
    <div class="tab_box">
      <table width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr class="hr">
          <td colspan="3" align="left" class="td">名称</td>
          <td width="18%" class="td">单价</td>
          <td width="9%" class="td">数量</td>
          <td width="14%" class="td">小计</td>
          <td width="10%" class="td">操作</td>
        </tr>
        <tr>
          <td width="6%"><div class="mui-input-row mui-checkbox mui-left">
            <input name="subBox" type="checkbox" class="check-one check check_titel">
          </div></td>
          <td width="8%"><div class="img"><img src="__PUBLIC__/img/cp5.png" width="92" height="92"></div></td>

          <td width="35%"><div class="mui-input-row mui-checkbox mui-left">
            龙米2016年8月份新米</div></td>

          <td align="center">￥99.00</td>
          <td>    <div class="gw_num gw_num1"> <em class="jian">-</em>
            <input type="text" value="1" class="num"/>
            <em class="add">+</em> </div></td>
          <td align="center">￥99.00</td>
          <td align="center"><a href="#"><img src="__PUBLIC__/img/delete.png" width="18" height="18"></a></td>
        </tr>
        <tr>
          <td width="6%"><div class="mui-input-row mui-checkbox mui-left">
            <input name="subBox" type="checkbox" class="check-one check check_titel">
          </div></td>
          <td width="8%"><div class="img"><img src="__PUBLIC__/img/cp5.png" width="92" height="92"></div></td>

          <td width="35%"><div class="mui-input-row mui-checkbox mui-left">
            龙米2016年8月份新米</div></td>

          <td align="center">￥99.00</td>
          <td>    <div class="gw_num gw_num1"> <em class="jian">-</em>
            <input type="text" value="1" class="num"/>
            <em class="add">+</em> </div></td>
          <td align="center">￥99.00</td>
          <td align="center"><a href="#"><img src="__PUBLIC__/img/delete.png" width="18" height="18"></a></td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td></td>
          <td></td>
        </tr>
      </table>



    </div>

    <div class="tab_box1"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="17%">  <label class="fl select-all"> <span class="mui-input-row mui-checkbox mui-left">
    <input class="check-all check-one check" type="checkbox" id="checkAll">
    </span>全选</label></td>
        <td width="70%"><div class="mo">商品<em>2</em>件<span>总计￥99.00</span></div></td>
        <td width="13%">    <div class="m4_btn"><a href="{:U('Shop/cart2')}">现在购买</a></div>
        </td>
      </tr>
    </table>
    </div>
  </div>



</div>





<div style="height:250px"></div>



<include file="Public/footer"/>
</body>
</html>
