<include file="Public/header"/>

<form id="cart2_form" method="post">
<div class="inventory">
  <div class="inventory_box">
    <div class="in1">收货地址</div>
    <div class="tab_box2">

      <div class="m333">
        <ul id="ajax_address">

        </ul>
      </div>
      <div class="add_dz_box">
        <div class="add_dz"><a href="javascript:showDiv()">使用新地址</a></div>
      </div>
    </div>
  </div>
  <div class="inventory_box">
    <div class="in1">发票信息</div>
    <div class="mo1">
      <div>发票类型：电子发票
        </p>
        <div class="mui-input-row mui-radio mui-left" style="float:left"> 发票抬头：
          <input name="invoice_title" type="radio" value="1">
          个人
          <input name="invoice_title" type="radio" checked value="2">
          单位</div>
      </div>
      <div style="clear:both"></div>
      <p>发票内容：购买商品明细</p>
      <span>电子发票是税务局认可的有效收付款凭证，可作为售后服务凭据。</span> <span>电子发票打印后可以用于企业报销。</span> </div>
  </div>
  <div class="inventory_box">
    <div class="in1">买米清单</div>
    <div class="tab_box">
      <table width="100%" border="0" cellpadding="0" cellspacing="5">
        <tr class="hr">
          <td colspan="2" align="left" class="td">名称</td>
          <td width="19%" class="td">单价</td>
          <td width="9%" class="td">数量</td>
          <td width="15%" class="td">小计</td>
        </tr>
        <volist name="cartList" id="item">
          <tr>
            <td width="4%"><div class="img"><img src="{$item['goods_id']|goods_thum_images=92,92}" width="92" height="92"></div></td>
            <td width="53%">{: $item['goods_name']}</td>
            <td align="center">￥{: $item['goods_price']}</td>
            <td align="center">{: $item['goods_num']}</td>
            <td align="center">￥{: $item['goods_price'] * $item['goods_num']}</td>
          </tr>
        </volist>

        <tr>
          <td colspan="2">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="tab_box1">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="17%">&nbsp;</td>
          <td width="70%"><div class="mo">应付金额  ￥{: $total_price}<input name="total_price" type="hidden" value="{: $total_price}"></div></td>
          <td width="13%"><div class="m4_btn"><a href="javascript:void(0);" onclick="submit_order()">提交订单</a></div></td>
        </tr>
      </table>
    </div>
  </div>
</div>



<div id="popDiv" class="mydiv" style="display:none; height:auto">

</div>


<div id="bg" class="bg" style="display:none;"></div>
<iframe id='popIframe' class='popIframe' frameborder='0' ></iframe>



<include file="Public/footer"/>

<script src="__MAIN__/js/global.js"></script>
<script src="__MAIN__/js/pc_common.js"></script>

</body>
</html>
<script>
$(document).ready(function(){
  ajax_address(); // 获取用户收货地址列表
  add_address(); //新增收货地址
});

  /*
  * ajax 获取当前用户的收货地址列表
  */
  function ajax_address(){
    $.ajax({
      url:"{:U('Index/Shop/ajaxAddress')}",//+tab,
      success: function(data){
        // console.log(data);return false;
        $("#ajax_address").html('');
        $("#ajax_address").append(data);
        // if(data != '') // 有收货地址列表 再计算价钱
        //   ajax_order_price(); // 计算订单价钱
      }
    });
  }

  /*新增收货地址*/
  function add_address(){
    $.ajax({
      url:"{: U('Index/Shop/add_address')}",
      success:function(data){
        $("#popDiv").html('');
        $('#popDiv').append(data);
      }
    });
  }

  function checkForm(){
        var consignee = $('input[name="consignee"]').val();
        var province = $('select[name="province"]').find('option:selected').val();
        var city = $('select[name="city"]').find('option:selected').val();
        var district = $('select[name="district"]').find('option:selected').val();
        var address = $('textarea[name="address"]').val();
        var mobile = $('input[name="mobile"]').val();
        var error = '';
        if(consignee == ''){
            error += '收货人不能为空 <br/>';
        }
        if(province==0){
            error += '请选择省份 <br/>';
        }
        if(city==0){
            error += '请选择城市 <br/>';
        }
        if(district==0){
            error += '请选择区域 <br/>';
        }
        if(address == ''){
            error += '请填写地址 <br/>';
        }
        if(!checkMobile(mobile))
            error += '手机号码格式有误 <br/>';
        if(error){
            alert(error);
//            layer.alert(error, {icon: 2});
            //  layer.msg('只想弱弱提示');
            return false;
        }
        return true;
    }

    //提交订单
    function submit_order(){
      // var data  = $('#cart2_form').serialize();
      // console.log(data); return false;
      $.ajax({
        type:'post',
        url:"{: U('Index/Shop/cart3')}",
        data : $('#cart2_form').serialize()+"&act=submit_order",// 你的formid
        dataType:'json',
        success:function(data){

        }
      });
    }
</script>
