<include file="Public/header"/>

<div class="inventory">
  <div class="inventory_box">
    <div class="in1">收货地址</div>
    <div class="tab_box2">

      <div class="m333">
        <ul>
          <li class="m333_hover">
            <p>陈大猷(默认地址）</p>
            <p>18027186429</p>
            <p>广东省 广州市 天河区</p>
            <p>华景新城逸宁居31H</p>
          </li>
          <li>
            <p>陈大猷</p>
            <p>18027186429</p>
            <p>广东省 广州市 天河区</p>
            <p>华景新城逸宁居31H</p>
          </li>
        </ul>
      </div>
      <div class="add_dz_box">
        <div class="add_dz"><a href="javascript:showDiv()">使用新地址</a></div>
      </div>
    </div>
  </div>
  <div class="inventory_box">
    <div class="in1">发票信息</div>
    <div class="mo1">
      <div>发票类型：电子发票
        </p>
        <div class="mui-input-row mui-radio mui-left" style="float:left"> 发票抬头：
          <input name="radio1" type="radio">
          个人
          <input name="radio1" type="radio" checked>
          单位</div>
      </div>
      <div style="clear:both"></div>
      <p>发票内容：购买商品明细</p>
      <span>电子发票是税务局认可的有效收付款凭证，可作为售后服务凭据。</span> <span>电子发票打印后可以用于企业报销。</span> </div>
  </div>
  <div class="inventory_box">
    <div class="in1">买米清单</div>
    <div class="tab_box">
      <table width="100%" border="0" cellpadding="0" cellspacing="5">
        <tr class="hr">
          <td colspan="2" align="left" class="td">名称</td>
          <td width="19%" class="td">单价</td>
          <td width="9%" class="td">数量</td>
          <td width="15%" class="td">小计</td>
        </tr>
        <tr>
          <td width="4%"><div class="img"><img src="__PUBLIC__/img/cp5.png" width="92" height="92"></div></td>
          <td width="53%">龙米2016年8月份新米</td>
          <td align="center">￥99.00</td>
          <td align="center">1</td>
          <td align="center">￥99.00</td>
        </tr>
        <tr>
          <td><div class="img"><img src="__PUBLIC__/img/cp5.png" width="92" height="92"></div></td>
          <td>龙米2016年8月份新米</td>
          <td align="center">￥99.00</td>
          <td align="center">1</td>
          <td align="center">￥99.00</td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="tab_box1">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="17%">&nbsp;</td>
          <td width="70%"><div class="mo">应付金额  ￥99.00</div></td>
          <td width="13%"><div class="m4_btn"><a href="#">提交订单</a></div></td>
        </tr>
      </table>
    </div>
  </div>
</div>



<div id="popDiv" class="mydiv" style="display:none; height:auto">


  <div class="pop">
    <div class="in2">
      <div class="in2_l">收货地址</div>
      <div class="in2_r"><a href="javascript:closeDiv()"><img src="__PUBLIC__/img/close.png" width="22" height="21"></a></div>
    </div>

    <div class="pop_main">
      <div class="text_box" style="padding-top:20px">
        <input name="" type="text" class="pop_text" style="margin-right:10px; width:150px" placeholder="收货人姓名"><input name="" type="text" class="pop_text" style=" width:495px" placeholder="手机号码">

      </div>
      <div class="text_box">
        <input name="" type="text" class="pop_text" style="margin-right:10px; width:120px" placeholder="区号（可选）"><input name="" type="text" class="pop_text" style=" width:525px" placeholder="固定电话（可选）">

      </div>

      <div class="text_box">
        <select name="province" class="set"></select><select name="city" class="set"></select><select name="area" class="set" style="width:218px; margin-right:0px !important"></select>
        <script language="javascript" defer>
          new PCAS("province","city","area","","","");
        </script>
      </div>
      <div class="text_box">
        <input name="" type="text" class="pop_text" style="margin-right:10px; width:655px" placeholder="街道编号/名称，楼宇名称">
        <div class="mui-input-row mui-checkbox mui-left" style="line-height:60px">
          <input name="subBox" type="checkbox" class="check-one check check_titel">设为默认地址
        </div>
      </div>
    </div>
    <div class="tab_box1" style="border-radius:0 0 6px 6px!important">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>&nbsp;</td>
          <td width="13%"><div class="m4_btn"><a href="#">保存</a></div></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div id="bg" class="bg" style="display:none;"></div>
<iframe id='popIframe' class='popIframe' frameborder='0' ></iframe>



<include file="Public/footer"/>
</body>
</html>
