<include file="Public/header"/>


<div class="E-shop">
  <div class="shop_box">
    <div class="E-shop_box"><a href="{:U('Shop/cart')}">购物车(<span>8</span>)</a></div>
  </div>
</div>
<div class="E-shop_cp">
  <div class="E-shop_cp_l"><img src="__PUBLIC__/img/cp.png" width="520" height="520"></div>
  <div class="E-shop_cp_r">
    <p class="m1">龙米稻花香</p>
    <p class="m2">独特灌装，保证真正的五常大米，没有掺米，碎米率<1%<span><a href="index.html">了解更多>></a></span></p>
    <p class="m3">1、选择出品日期</p>
    <div class="m33">
      <ul>
        <li class="m33_hover">
          <p>2016年8月新米</p>
        </li>
        <li>
          <p>2016年7月新米</p>
        </li>
        <li>
          <p>2016年6月新米</p>
        </li>
      </ul>
    </div>
    <p class="m2">月份越近代表越高的价格，当然也带来了更高的新鲜度</p>
    <p class="m3">2、选择数量</p>
    <div class="gw_num"> <em class="jian">-</em>
      <input type="text" value="1" class="num"/>
      <em class="add">+</em> </div>
    <div style="clear:both"></div>
    <p class="m2 none">根据统计，一箱龙米可以让一个三口之家整整享用一个星期</p>

    <div class="m4_btn"><a href="{:U('Shop/cart')}">现在购买</a></div>

  </div>
</div>


<include file="Public/footer"/>
</body>
</html>
