<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="telephone=no" name="format-detection" />
    <title>煮饭</title>
    <link href="__PUBLIC__/mui/css/mui.min.css" rel="stylesheet" />
    <link href="__ADDONS__/css/css.css?{$v}" rel="stylesheet" />
</head>
<body>

<!--关注部分-->
<div class="follow" id="follow">
    <img src="__PUBLIC__/images/{$qrcode}"/>
    <p>关注公众号才能玩游戏哦！</p>
</div>

<!--分享遮罩-->
<div id="guide">
    <img src="__ADDONS__/images/guide.png">
</div>

<!--头部-->
<if condition = "$status eq 1">
    <img src="__ADDONS__/images/logo.png" class="logo" >
    <img src="__ADDONS__/images/n_zs_1.png" class="n_zs" >
    <img src="__ADDONS__/images/n_logo.png" class="n_logo" >
</if>
<if condition = "$status eq 2">
    <img src="__ADDONS__/images/logo.png" class="logo" >
    <img src="__ADDONS__/images/n_zs_1.png" class="n_zs" >
    <img src="__ADDONS__/images/n_logo2.png" class="n_logo2" >
</if>
<if condition = "$status eq 3">
    <img src="__ADDONS__/images/logo.png" class="logo" >
    <img src="__ADDONS__/images/n_zs_1.png" class="n_zs" >
    <img src="__ADDONS__/images/n_logo2.png" class="n_logo2" >
</if>
<if condition = "$status eq 4">
    <img src="__ADDONS__/images/logo.png" class="logo" >
    <img src="__ADDONS__/images/n_zs_1.png" class="n_zs" >
    <img src="__ADDONS__/images/n_logo2.png" class="n_logo2" >
</if>
<if condition = "$status eq 5">
    <img src="__ADDONS__/images/logo.png" class="logo" >
    <img src="__ADDONS__/images/n_zs_1.png" class="n_zs" >
    <img src="__ADDONS__/images/n_logo2.png" class="n_logo2" >
</if>
<if condition = "$status eq 6">
    <img src="__ADDONS__/images/logo.png" class="logo" >
    <img src="__ADDONS__/images/n_zs_1.png" class="n_zs" >
    <img src="__ADDONS__/images/n_logo2.png" class="n_logo2" >
</if>
<if condition = "$status eq 7">
    <img src="__ADDONS__/images/logo.png" class="logo" >
    <img src="__ADDONS__/images/n_zs_1.png" class="n_zs" >
    <img src="__ADDONS__/images/n_logo2.png" class="n_logo2" >
</if>
<if condition = "$status eq -1">
    <img src="__ADDONS__/images/logo.png" class="logo" >
    <img src="__ADDONS__/images/n_zs_1.png" class="n_zs" >
    <img src="__ADDONS__/images/n_logo2.png" class="n_logo2" >
</if>




<div class="main">
    <if condition = "$status eq -1">
        <img src="__ADDONS__/images/n_bg_2.png" class="bg2" >
        <img src="__ADDONS__/images/n_pot_3.png" class="pot_3" >

        <span class="n_tip">活动已经结束啦</span>
        <style>
            body {background:url("__ADDONS__/images/n_bg_3.jpg") repeat left center;}
            .n_tip{ top:40%; font-size: 30px; }
        </style>
    </if>
    <if condition = "$status eq 1">
        <img src="__ADDONS__/images/n_bg_2.png" class="bg2" >
        <img src="__ADDONS__/images/n_pot_1.png" class="pot_1" >
        <span class="n_tip">达到100度，把龙米宝宝煮香喷喷，千元电饭煲就是你哒~</span>

        <div class="n_button">
            <a href="javascript:void(0);" class="f_c_button">
                <!--我也要玩-->
                <img src="__ADDONS__/images/n_btn_4.png" >
            </a>
        </div>

    </if>
    <if condition = "$status eq 2">
        <img src="__ADDONS__/images/n_bg_2.png" class="bg2" >
        <img src="__ADDONS__/images/n_pot_2.png" class="pot_2" >
        <div class="n_thermometer">
            <img src="__ADDONS__/images/n_thermometer_bg.png"  class="n_thermometer_bg">
            <div class="n_white_edge"></div>
            <div class="n_progress_bar" style="height: {$currentNumber}px"></div>
        </div>
        <div class="n_number_tip">
            <p>
                再加温{$surplusNumber}度,<br>就能拿到电饭锅啦~
            </p>
        </div>
        <span class="n_tip">已经自己加过温</span>
        <div class="n_button">
            <a href="javascript:void(0);" class="f_c_button">
                <!--拉好友-->
                <img src="__ADDONS__/images/n_btn_2.png" >
            </a>
        </div>
        <style>
            body {background:url("__ADDONS__/images/n_bg_3.jpg") repeat left center;}
        </style>
    </if>
    <if condition = "$status eq 3">
        <img src="__ADDONS__/images/n_bg_2.png" class="bg2" >
        <img src="__ADDONS__/images/n_pot_2.png" class="pot_2" >
        <div class="n_thermometer">
            <img src="__ADDONS__/images/n_thermometer_bg.png"  class="n_thermometer_bg">
            <div class="n_white_edge"></div>
            <div class="n_progress_bar" style="height: {$currentNumber}px"></div>
        </div>
        <div class="n_button">
            <a href="javascript:void(0);" class="f_c_button">
                <!--帮ta煮饭-->
                <img src="__ADDONS__/images/n_btn_3.png" >
            </a>
            <a href="{:U('Mobile/Addons/cookRice')}" class="f_c_button2">
                <!--我也要玩-->
                <img src="__ADDONS__/images/n_btn_4.png" >
            </a>
        </div>
        <style>
            body {background:url("__ADDONS__/images/n_bg_3.jpg") repeat left center;}
            .n_button{ top:45%; }
        </style>
    </if>
    <if condition = "$status eq 4">
        <img src="__ADDONS__/images/n_bg_2.png" class="bg2" >
        <img src="__ADDONS__/images/n_pot_2.png" class="pot_2" >
        <div class="n_thermometer">
            <img src="__ADDONS__/images/n_thermometer_bg.png"  class="n_thermometer_bg">
            <div class="n_white_edge"></div>
            <div class="n_progress_bar" style="height: {$currentNumber}px"></div>
        </div>
        <span class="n_tip">已经帮小伙伴加过温啦！</span>
        <div class="n_button">
            <a href="{:U('Mobile/Addons/cookRice')}" class="f_c_button2">
                <!--我也要玩-->
                <img src="__ADDONS__/images/n_btn_4.png" >
            </a>
        </div>
        <style>
            body {background:url("__ADDONS__/images/n_bg_3.jpg") repeat left center;}
        </style>
    </if>
    <if condition = "$status eq 5">
        <img src="__ADDONS__/images/n_bg_2.png" class="bg2" >
        <img src="__ADDONS__/images/n_pot_3.png" class="pot_3" >

        <span class="n_tip" >温度达到100度啦！</span>

        <div class="n_button">
            <a href="javascript:showSubmit();" class="f_c_button2">
                <!--点击领取奖品-->
                <img src="__ADDONS__/images/n_btn_1.png" >
            </a>
        </div>
        <div class="n_application" style="display:none;">
            <form action="" method="post" class="form">
                <input type="text" id="user_name"  placeholder="姓名：">
                <input type="text" id="user_phone" placeholder="手机号：">
                <input type="text" id="user_site"  placeholder="邮寄地址：">
            </form>
        </div>
        <div class="n_button" style="top: 68%;">
            <a href="javascript:void(0);" class="f_c_button"   style="display:none;">
                <!--提交资料-->
                <img src="__ADDONS__/images/n_btn_5.png" >
            </a>
        </div>
        <style>
            body {background:url("__ADDONS__/images/n_bg_3.jpg") repeat left center;}
            .n_tip{ top:40%; }
            .n_button{ top:50%; }
        </style>
    </if>
    <if condition = "$status eq 6">
        <img src="__ADDONS__/images/n_bg_2.png" class="bg2" >
        <img src="__ADDONS__/images/n_pot_2.png" class="pot_2" >
        <div class="n_thermometer">
            <img src="__ADDONS__/images/n_thermometer_bg.png"  class="n_thermometer_bg">
            <div class="n_white_edge"></div>
            <div class="n_progress_bar" style="height: {$currentNumber}px"></div>
        </div>
        <span class="n_tip">小伙伴已经加温成功啦！</span>
        <div class="n_button">
            <a href="{:U('Mobile/Addons/cookRice')}" class="f_c_button2">
                <!--我也要玩-->
                <img src="__ADDONS__/images/n_btn_4.png" >
            </a>
        </div>
        <style>
            body {background:url("__ADDONS__/images/n_bg_3.jpg") repeat left center;}
        </style>
    </if>
    <if condition = "$status eq 7">
        <img src="__ADDONS__/images/n_bg_2.png" class="bg2" >
        <img src="__ADDONS__/images/n_pot_3.png" class="pot_3" >

        <span class="n_tip">领取成功！</span>
        <style>
            body {background:url("__ADDONS__/images/n_bg_3.jpg") repeat left center;}
            .n_tip{ top:40%; font-size: 30px; }
        </style>
    </if>



    <div class="f_bottom">
        <a href="javascript:void(0);" data-number = "1">
            <img src="__ADDONS__/images/n_nav_btn_1.png" >
        </a>
        <a href="javascript:void(0);" data-number = "2">
            <img src="__ADDONS__/images/n_nav_btn_2.png" >
        </a>
        <a href="javascript:void(0);" data-number = "3">
            <img src="__ADDONS__/images/n_nav_btn_3.png" >
        </a>
    </div>
    <div class="n_tab" id="tab">
        <div class="n_tab_div" id="tab_1">
            <div class="n_tab_div_tip">
                <if condition = "$status eq -1">
                    <volist name="getList" id="getItem">
                        <div class="f_help">
                            <span style="float: left;">
                                &nbsp;&nbsp;{$getItem.user_name}&nbsp;&nbsp;&nbsp;{$getItem.user_phone}
                            </span>
                        </div>
                    </volist>
                    <else/>
                    <empty name="helpList">
                        <span class="tip_span">还未有饭友哦！</span>
                        <else/>
                        <volist name="helpList" id="helpItem">
                            <div class="f_help">
                                <img src="{$helpItem.head_pic}">
                                <span>{$helpItem.desc}</span>
                            </div>
                        </volist>
                    </empty>
                    </if>
            </div>
        </div>
        <div class="n_tab_div" id="tab_2">
            <img class="n_tab_content" src="__ADDONS__/images/n_content_01.jpg"/>
            <img class="n_tab_content" src="__ADDONS__/images/n_content_02.jpg"/>
            <img class="n_tab_content" src="__ADDONS__/images/n_content_03.jpg"/>
            <img class="n_tab_content" src="__ADDONS__/images/n_content_04.jpg"/>
            <img class="n_tab_content" src="__ADDONS__/images/n_content_06.jpg"/>
            <img class="n_tab_content" src="__ADDONS__/images/n_content_07.jpg"/>
        </div>
        <div class="n_tab_div" id="tab_3">
            <div class="n_tab_div_tip">
                <p>如何领锅</p>
                <span class="tip_span">当左边的温度条达到100°的时候，你就能带走美的煮米神器啦。每个人只能给自己加温一次，想达到100°就赶紧多多分享召集朋友帮你加温吧，每个朋友也只能加温一次哦，考验友谊的时刻到了！</span>

                <p>领锅须知</p>
                <span class="tip_span">温度达到100°之后，将自动跳转资料填写页面，正确填写收货地址，联系人及联系方式，龙米就会为你送来煮米神器哦~每个id限领一次，限量10个还包邮呢，赶紧抓住机会吧！</span>

                <p>活动细则</p>
                <span class="tip_span">本活动将于2017.02.16截止，若奖品发完则提前停止活动，时间有限，奖品有限，再不动起来，你的锅就要跟别人回家啦。</span>


                <span class="tip_span" style="font-size: 12px;">*本活动最终解释权归龙米所有</span>

            </div>
        </div>
        <div class="n_tab_div_tip_shrink"></div>
    </div>


</div>
</body>


<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>


<if condition=" !$isFollow ">
    <script type="text/javascript">
        $("#follow").show();
    </script>
    <else/>
    <script src="__PUBLIC__/mui/js/mui.min.js"></script>
    <script type="text/javascript">
        var ApiUrl = "{:U('Mobile/Addons/cookRice')}";
        var status = "{$status}";
        var activityId = "{$id}";
        function alert( msg ){
            mui.toast( msg );
        }
    </script>
    <script src="__ADDONS__/js/addons.js?{$v}" type="text/javascript"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
        var ShareLink = "{$config['share_url']}";
        if(status != 1){
            ShareLink = ShareLink+"?activityId="+activityId;
        }
        var ShareImgUrl = "{$config['share_img']}";
        var ShareTitle = "{$config['share_title']}";
        var ShareDesc = "{$config['share_desc']}";
        wx.config({
            debug: false,
            appId: "{$signPackage['appId']}",
            timestamp: '{$signPackage["timestamp"]}',
            nonceStr: '{$signPackage["nonceStr"]}',
            signature: '{$signPackage["signature"]}',
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage','hideOptionMenu']
        });
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: ShareTitle,
                link:ShareLink,
                imgUrl:ShareImgUrl
            });
            wx.onMenuShareAppMessage({
                title: ShareTitle,
                desc: ShareDesc,
                link:ShareLink,
                imgUrl:ShareImgUrl
            });

        });
    </script>
</if>
</html>