<if condition="$expressData['status'] eq 200">
    <div class="express_txt">
        <p>
            <span>快递编号：</span>{: $odd_numbers}
            <span>承运人：</span>{: $expressData['com']}
            <!-- <span>预计送达时间：</span>2016-08-25 -->
        </p>
    </div>

    <div class="course_box">
        <div class="course">
            <volist name="expressData['data']" id="id">
                <div class="before">
                    <p>{$id['context']}</p>
                    <span>{$id['time']}</span>
                </div>
            </volist>
        </div>
        <div class="now1">
            <p>订单已打印！</p>
            <span>{$pay_time|date='Y-m-d H:i:s',###}</span>
        </div>
    </div>

<else />
    <div class="course_box">
        <div class="now1">
            <p>{$expressMessage}</p>
        </div>
    </div>
</if>
