<include file="Public/header"/>
<div class="fn-clear" style="min-height: 459px; margin-top:80px">
    <div class="content fn-clear">
        <div class="account-wrapper account-min-wrapper">
            <include file="Public/user_menu"/>
            <div class="account-content">
                <div class="account-order-detail">
                    <div class="gray-box fn-clear confirm-detail">
                        <div class="title columns-title pre-title">
                            <h2>订单号：{$orderInfo.order_sn}</h2>
                        </div>
                        <div class="order-info-wrapper" style="padding-bottom:10px">
                            <div class="order-status-inner order-process">
                                <div class="order-status-wrapper">
                                    <div class="order-status-process">
                                        <span class="status-process" style="width:{$progressBar.speed}%"></span>
                                        <div class="order-status-text status-first  <if condition='$progressBar[first][done] eq 1'>status-done</if>  <if condition='$progressBar[first][on] eq 1'>status-on</if>" style="width:33%; left:-16.5%">
                                            <h5>{$progressBar.first.name}</h5>
                                            <span class="point"></span>
                                        </div>
                                        <div class="order-status-text   <if condition='$progressBar[second][done] eq 1'>status-done</if> <if condition='$progressBar[second][on] eq 1'>status-on</if>" style="width:33%; left:35.5%">
                                            <h5>{$progressBar.second.name}</h5>
                                            <span class="point"></span>
                                        </div>
                                        <div class="order-status-text status-last  <if condition='$progressBar[third][done] eq 1'>status-done</if>  <if condition='$progressBar[third][on] eq 1'>status-on</if>   " style="width:25%; left:87.5%">
                                            <h5>{$progressBar.third.name}</h5>
                                            <span class="point"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <if condition=" $serviceOrderInfo['type'] == 1 ">
                            <div class="mo1" style="margin-left:40px; line-height:60px">
                                <div>
                                    快递公司：{$serviceOrderInfo.refund_name}
                                </div>
                                <div style="clear:both"></div>
                                <div>
                                    快递单号：{$serviceOrderInfo.refund_code}
                                </div>
                            </div>
                            <else/>
                            <div class="mo1" style="margin-left:40px; line-height:60px">
                                <div>退款原因：{$serviceOrderInfo.reason}
                                </div>
                                <p>支付明细：￥{$serviceOrderInfo.refund_money}</p>
                                <div class="mui-input-row mui-radio mui-left" style="float:left">
                                    返款方式：
                                    <if condition = "$serviceOrderInfo['refund_way'] == 1">
                                        返回到龙米账户（即时到账）
                                        <else/>
                                        原路返回（3~7个工作日）
                                    </if>
                                </div>
                                <div style="clear:both"></div>
                                <div>联系方式：{$serviceOrderInfo.refund_name} , {$serviceOrderInfo.refund_code}
                                </div>
                            </div>
                        </if>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>
</body>
</html>