<include file="Public/header" />

<div style="height:150px"></div>
<div class="E-shop_cp">
    <?php if(isset($message)) {?>
    <div class="E-shop_cp_l">
        <!--<img src="__MAIN__/images/success_ts.png" width="520" height="520">-->
    </div>
    <div class="E-shop_cp_r">
        <p class="m1"><?php echo($message); ?></p>
        <p class="m2">
            页面自动 <span><a id="href" href="<?php echo($jumpUrl); ?>">跳转</a> </span>等待时间： <b id="wait"><?php echo($waitSecond); ?></b>
        </p>
    </div>
    </div>
    <?php }else{?>
    <div class="E-shop_cp_l">
        <!--<img src="__MAIN__/images/error_ts.png" width="520" height="520">-->
    </div>
    <div class="E-shop_cp_r">
        <p class="m1"><?php echo($error); ?></p>
        <p class="m2">
            页面自动 <span><a id="href" href="<?php echo($jumpUrl); ?>">跳转</a> </span>等待时间： <b id="wait"><?php echo($waitSecond); ?></b>
        </p>
    </div>
    <?php }?>
</div>



<include file="Public/footer" />

<script type="text/javascript">
 
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
	};
}, 1000);
})();
 
</script>
</body>
</html>