<div class="bottom" style="margin-top:20px">
    <div class="b_box">
        <div class="b_left"><img src="__PUBLIC__/img/code.png" width="139" height="139"><img src="__PUBLIC__/img/code2.png" width="140" height="140"></div>
        <div class="b_right">
            <div class="b1">4000-78-7725</div>
            <div class="b2">邮箱：jiangbingxue@longmiwang.com </div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="b_txt">版权所有 © 广州龙米农业科技有限公司 地址： 中国（广州）天河区珠江新城华强路3号富力盈利大厦南塔2619 All Rights Reserved <a  style="color: #CCC;" target="_blank" href="http://www.miitbeian.gov.cn">粤ICP备15051254号-1</a> </div>
</div>
    