<!doctype html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    <title>龙米</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=1226" />
    <!--  公共样式 start -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/base.min.css" />
    <!--  公共样式 end -->
    <script type="text/javascript">var _head_over_time = (new Date()).getTime();</script>

