<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>龙米</title>
    <link href="__PUBLIC__/css/css.css" rel="stylesheet" type="text/css" />
    <link  href="__PUBLIC__/css/base_c.css"rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/css/jquery.fullPage.css" rel="stylesheet" type="text/css" />
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/jquery.fullPage.min.js"></script>
    <script src="__PUBLIC__/js/function.js"></script>
    <script src="__PUBLIC__/js/PCASClass.js"></script>
    <!--<script src="__STATIC__/js/jquery-1.10.2.min.js"></script>-->
    <!--<script src="__MAIN__/js/slider.js"></script>-->
    <script src="__MAIN__/js/global.js"></script>
    <script src="__MAIN__/js/layer/layer.js"></script>
    <script language="javascript">
        $(function () {
            if ((screen.width == 1920) && (screen.height == 1080)) {
                $(".section .left").addClass("p1080");//此分辨率下你需要的操作
            }
        });
    </script>
</head>