* {
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
}
a {
	text-decoration: none;
}
html {
	font-size: 100%;
	height: 100%;
	background-color: #fff;
}
body {
	font-family: "微软雅黑";
	font-size: 14px;
	height: 100%;
	line-height: 1.5;
	min-height: 100%;
	/*position: relative;*/
	width: 100%;
	max-width: 800px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
	background-color: #fff;
}
.main {
	background: #c62143;
	padding-bottom: 20px;
	margin: 10px;
	min-height: 100%;
}
p {
	margin-bottom: 10px;
}
textarea {
	border: 0 none;
	border-radius: 0;
	padding: 8px 0;
	resize: none;
}
input, button, select, textarea {
	border: medium none;
	border-radius: 0;
	outline: none;
	font-family: "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53", "\5B8B\4F53", "\65B0\5B8B\4F53", tahoma, arial;
	color: #999;
}
textarea {
	resize: none;
	padding-top: 4px;
	margin-top: 10px;
}
li {
	list-style-position: outside;
	list-style-image: none;
	list-style-type: disc;
}

.logo {
	text-align: center;
	padding-top: 21px;
	width: 100%;
}
.logo img {
	width: 68px;
	height: 91px;
	margin: 0 auto;
}
.t1 {
	text-align: center;
}
.t1 img {
	margin-top: 30px;
	max-width: 244px;
	height: auto;
	width: 100%;
}
.t1 img.index {
	margin-top: 0px;
	max-width: 180px;
}
.t2 {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #fef0ee;
}
.t3 {
	font-size: 24px;
	line-height: 50px;
	text-align: center;
	color: #fef0ee;
}
.t4 {
	text-align: center;
	width: 120px;
	margin-right: auto;
	margin-left: auto;
	color: #fef0ee;
}
.t4 a {
	font-size: 12px;
	color: #fff;
}
.t5 {
	margin-top: 15px;
	margin-bottom: 15px;
}
.t5 a {
	border-radius: 15px;
	line-height: 40px;
	width: 90%;
	display: block;
	background-color: #eaff02;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	color: #c02e2e;
	font-weight: bold;
	font-size: 18px;
}
.t6 {
	width: 98%;
	margin: 0 1%;
	border: #DEDEDE 1px solid;
	padding: 2px 1%;
	text-align: right;
}
.t6 a {
	color: #fef0ee;
}
.t6 span {
	color: #F0491F;
	padding-right: 10px;
	padding-left: 10px;
}
.t7 {
	background-image: url(../images/f-db.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-size: auto 100%;
	max-width: 800px;
	height: 50px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	_position: absolute;
	bottom: 0px;
	_bottom: 0px;
 _margin-top:expression(this.style.pixelHeight+document.documentElement.scrollTop);
	width: 100%;
}




.activity{
	color: #fff;
	line-height: 24px;
	font-weight: normal;
}
.activity h2{
	line-height: 80px;
	font-size: 24px;
	font-weight: normal;
}
strong{
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #e7ff04;
	line-height: 40px;
	padding-left: 5px;
	font-size: 18px;
	font-weight: normal;
}
.activity span{
	color: #e7ff04;
}


.my_form{
	position: relative;
}

.my_form .t1{
 	position: relative; top: 0px;
}


.my_form .g1{
	position: absolute; top: 140px;
	width: 100%;
	text-align: center;
}
.my_form .g1 p{
	color: #c62143;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 0px;
}
.my_form .g1_b{
	position: absolute;
	top: 177px;
	width: 100%;
	text-align: center;
}
.my_form .g1_b input{
	width: 188px;
	text-align: center;
	color: #c62143;
	font-size: 14px;
}


.t11 {
	background: url(../images/r4.png) no-repeat center;
	height: 113px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	background-size: 90% 113px;
}
.e1 {
	overflow: hidden;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 20px;
}
.e1_left {
	width: 100%;
	text-align: center;
	color: #EB481E;
	float: left;
	font-size: 18px;
}
.e1_left span {
	color: #333;
	font-size: 14px;
}
.e2 {
	font-size: 12px;
	margin-right: 20px;
	margin-left: 20px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCC;
	text-align: center;
	color: #999;
	line-height: 30px;
}
.t12 {
	border:1px solid #fff;
	line-height: 20px;
	padding: 10px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	color: #fff;
}
.t12 span,.t12 p {
	color: #fff;
}
.t12 li{
	list-style: none;
	margin-bottom: 20px;
	font-size: 12px;
}


.t13{
	overflow: hidden;
	width: 90%;
	margin: 20px 5% 0 5%;
	height: 84px;
}
.t13 img{
	float: left;
}
.t13 p{
	float: right;
	color: #fff;
	line-height: 14px;
	font-size: 12px;
	margin: 36px 10px 0 0;
}


.code_btn{
	width: 188px;
	margin: 0 auto;
}
.code_btn #phone_code{
	width: 92px;
	float: left;
}
.code_btn a{
	margin-left: 10px;
	width: 80px;
	float: left;
	display: block;
	background-color: #eaff02;
	text-align: center;
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	border-radius: 5px;
}