@charset "utf-8";
/* CSS Document */
p, input, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form {
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: middle;
	font-weight: normal;
}
html, body {
	height: 100%;
	width: 100%;
}
body {
	color: #333333;
	font-weight: normal;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}
.banner_box {
	position: relative;
}
.banner_box img {
	height: auto;
	width: 100%;
}
.top_box {
	position: absolute;
	z-index: 2;
	overflow: hidden;
	width: 100%;
	left: 0px;
	top: 0px;
	padding: 5px;
}
.top_box1 {
	overflow: hidden;
	width: 100%;
	left: 0px;
	top: 0px;
	padding: 5px;
	background-color: #FFF;
}
.top_left {
	border-radius: 4px;
	background-color: rgba(246,246,246,0.2);
	height: 40px;
	float: left;
	z-index: 999;
	position: absolute;
	margin-right: 50px;
	width: 85%;
}
.top_left1 {
	border-radius: 4px;
	background-color: #ebebea;
	height: 40px;
	float: left;
	z-index: 999;
	border: 1px solid #ebebea;
	position: absolute;
	margin-right: 50px;
	width: 85%;
}
.t1 {
	float: left;
}
.t1_text {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #FFF;
	height: 42px;
}
.t2 {
	float: right;
	padding-right: 5px;
	z-index: 999999;
	padding-top: 3px;
}
.top_right {
	float: right;
	margin-top: 5px;
}
.news {
	position: relative;
	right: 12px;
}
.news_t {
	position: absolute;
	z-index: 999999;
	top: -5px;
	right: -3px;
}
.news_t img {
	height: 12px;
	width: 12px;
}
.titel_box {
	line-height: 40px;
	padding-right: 5px;
	padding-left: 5px;
	overflow: hidden;
	background-color: #F5F5F5;
}
.titel_box_l {
	float: left;
}
.titel_box_r {
	float: right;
	font-size: 14px;
}
.titel_box_r a {
	background-image: url(../SVG/move.svg);
	background-repeat: no-repeat;
	background-position: right center;
	display: block;
	padding-right: 20px;
	color: #8f8f90;
	text-decoration: none;
	font-size: 14px;
}
.picScroll {
	text-align: center;
}
.picScroll .bd {
	overflow: hidden;
}
.picScroll .bd ul {
	width: 100%;
	float: left;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
}
.picScroll .bd li {
	width: 50%;
	float: left;
	font-size: 14px;
}
.picScroll .bd li a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 取消链接高亮 */
}
.picScroll .bd li img {
	width: 72px;
	height: 72px;
	display: block;
	background-color: #fff;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
.picScroll .hd {
}
.picScroll .hd ul {
	float: right;
	padding-top: 16px;
}
.picScroll .hd li {
	float: left;
	width: 8px;
	height: 8px;
	background: #D0D0D0;
	margin: 0 5px;
	overflow: hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.picScroll .hd .on {
	background: #80BD6D;
}
.picScroll .prev, .picScroll .next {
	display: block;
	float: right;
	width: 18px;
	height: 18px;
	background: url(images/pisScrollIcons.gif) -6px -7px no-repeat;
	overflow: hidden;
	margin: 11px 5px 0 5px;
}
.picScroll .next {
	background-position: -34px -7px;
}
.picScroll .prevStop {
	background-position: -6px -40px;
}
.picScroll .nextStop {
	background-position: -34px -40px;
}
.cp {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 235, 235, 235 );
	border-radius: 6px;
	background-color: rgb( 254, 254, 254 );
	width: 98%;
	padding: 5px;
	overflow: hidden;
	position: relative;
	margin-bottom: 5px;
}
.cp_l {
	float: left;
}
.cp_r {
	overflow: hidden;
	padding-left: 10px;
}
.cp_r p {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	font-size: 14px !important;
	line-height: 30px;
	height: 30px;
	display: block;
}
.cp_r span {
	color: #b02f4b;
	line-height: 42px;
	font-size: 16px;
	float: left;
	display: block;
}
.c a {
	display: block;
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
}
.cp1 {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 235, 235, 235 );
	border-radius: 6px;
	background-color: rgb( 254, 254, 254 );
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 5px;
	padding: 5px;
}
.cp1 img {
	display: block;
}
.cp1_l {
	float: left;
	
}
.cp1_l1 {
	float: left;
	
}
.cp1_l2 {
	float: left;
	width: 50%;
	padding-left: 5px;
	
}
.cp1_r {
	overflow: hidden;
	padding-left: 10px;
}
.cp1_r1 {
	overflow: hidden;
	padding-left: 5px;
	text-align: right;
	position: absolute;
	top: 10px;
	right: 5px;
}
.cp1_r1 p {
	overflow: hidden;
	font-weight: bold;
}
.cp1_r p {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	font-size: 16px !important;
	line-height: 48px;
	height: 48px;
	display: block;
}
.cp1_r span {
	color: #b02f4b;
	line-height: 42px;
	font-size: 18px;
	float: left;
	display: block;
}
.cp_box {
	margin-right: 5px;
	margin-left: 5px;
	position: relative;
}
.nav_d {
	text-align: center;
	background-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EFEFF4;
	overflow: hidden;
	position: fixed;
	_position: absolute;
	bottom: 0px;
	_bottom: 0px;
	 _margin-top:expression(this.style.pixelHeight+document.documentElement.scrollTop);
	width: 100%;
	max-width: 800px;
	box-shadow: 10px 0.866px 10px 1px rgb( 210, 210, 210 );
	z-index: 998;
}
.nav_d ul {
	background-color: #FFF;
	display: block;
	overflow: hidden;
}
.nav_d li {
	float: left;
	width: 50%;
	text-align: center;
	height: 50px;
}
.nav_d img {
	height: 30px;
	width: 30px;
}
.nav_d a {
	display: block;
	padding-top: 10px;
	font-size: 12px;
	padding-bottom: 10px;
}
.h {
	background-color: #EFEFF4;
}
.top_box1 {
	background-color: #FFF;
}
.list {
	position: relative;
	height: 100%;
}
.list_left {
	font-size: 14px;
	background-color: #FFF;
	height: 100%;
	position: absolute;
	z-index: 9999;
	width: 25%;
}
.list_left a {
	color: #8f8f90;
}
.list_left ul {
	display: block;
	background-color: #FFF;
	overflow: hidden;
	height: 100%;
}
.list_left li {
	line-height: 55px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EFEFF4;
}
.list_h {
	background-color: #EFEFF4;
}
.list_h a {
	color: #b02f4b;
}
.list_right {
	padding-left: 26%;
	position: absolute;
	z-index: 0;
	left: 0px;
	top: 0px;
	margin-top: 10px;
	width: 100%;
	padding-right: 1%;
	background-color: #EFEFF4;
	height: 100%;
}
.u {
	line-height: 90px !important;
	color: #8f8f90 !important;
	font-size: 16px !important;
}
.user {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/top_bg1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 60px;
	padding-bottom: 50px;
	position: relative;
	background-size:  100% 100%
}
.user img {
	height: 64px;
	width: 64px;
}
.user_main {
	position: absolute;
	z-index: 9999;
	right: 0px;
	top: 100px;
}
.user_main img {
	height: 28px;
	width: 28px;
}
.er {
	font-size: 18px;
}
.er ul {
	display: block;
	overflow: hidden;
	background-color: #FFF;
}
.er li {
	display: block;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #EFEFF4;
	width: 33%;
	float: left;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}
.er li span {
	font-size: 18px;
	color: #b02f4b;
	line-height: 30px;
}
.none {
	border: none!important
}
.er_t {
	line-height: 40px;
	padding-right: 5px;
	padding-left: 5px;
	overflow: hidden;
	text-align: center;
}
.er1 {
}
.er1 ul {
	display: block;
	overflow: hidden;
	background-color: #FFF;
}
.er1 li {
	display: block;
	width: 25%;
	float: left;
	text-align: center;
	background-image: url(../SVG/a1.svg);
	background-repeat: no-repeat;
	background-position: center 20px;
	background-size:28px 28px
}
.er1 li span {
	font-size: 18px;
	color: #b02f4b;
	line-height: 30px;
}
.er1 a {
	padding-top: 50px;
	padding-bottom: 20px;
	display: block;
	color: #838383;
	text-decoration: none;
}
.my_nav {
	margin-top: 1px;
}
.my_nav ul {
}
.my_nav li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E3E3E3;
	background-color: #FFF;
	padding-left: 10px;
	background-image: url(../SVG/move.svg);
	background-repeat: no-repeat;
	background-position: right center;
	line-height: 35px;
}
.my_nav a {
	display: block;
	line-height: 45px;
	color: #838383;
	text-decoration: none;
	font-size: 16px;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: left center;
	background-size:24px 24px
}
.top_box3 {
	overflow: hidden;
	width: 100%;
	left: 0px;
	top: 0px;
	padding: 5px;
	background-color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F3F3F3;
}
.edit {
	float: left;
	line-height: 45px;
}
.edit a {
	color: #b02f4b;
	text-decoration: none;
}
.return {
	float: left;
	line-height: 45px;
	position: absolute;
	z-index: 9999;
}
.return a {
	color: #999;
	text-decoration: none;
	display: block;
	background-image: url(../SVG/return.svg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	z-index: 999
}
.check_titel {
	line-height: 45px !important;
	height: 45px !important;
	padding-left: 5px !important;
	background-image: url(../SVG/return_a.svg);
	background-repeat: no-repeat;
	background-position: left center;
}
.gw_num {
	border: 1px solid #dbdbdb;
	width: 80px;
	line-height: 26px;
	overflow: hidden;
	float: right;
	position: absolute;
	z-index: 99999999999;
	right: 0px;
	margin-right: 5px;
}
.gw_num em {
	display: block;
	height: 26px;
	width: 26px;
	float: left;
	color: #7A7979;
	border-right: 1px solid #dbdbdb;
	text-align: center;
	cursor: pointer;
	font-style: normal;
}
.gw_num .num {
	display: block;
	float: left;
	text-align: center;
	width: 24px;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	border: 0;
}
.gw_num em.add {
	float: right;
	border-right: 0;
	border-left: 1px solid #dbdbdb;
}
.top_box4 {
	overflow: hidden;
	width: 100%;
	left: 0px;
	top: 0px;
	padding: 5px;
	background-color: #FFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F3F3F3;
	height: 50px;
}
.txt_top {
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	color: #b02f4b;
	font-weight: bold;
	width: 100%;
	position: absolute;
	z-index: 0;
	top: 0px;
	right: 0px;
}
.top_list {
	margin-bottom: 8px;
	line-height: 50px;
	height: 50px;
}
.top_list ul {
	display: block;
	background-color: #FEFEFE;
	line-height: 50px;
	height: 50px;
}
.top_list li {
	display: block;
	width: 50%;
	float: left;
	text-align: center;
}
.top_list a {
	color: #999999;
	text-decoration: none;
}
.top_list_h {
}
.top_list_h a {
	color: #b02f4b;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #b02f4b;
	display: block;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	height: 47px;
	line-height: 47px;
}
.news_txt {
	color: #666;
	font-weight: bold;
	font-size: 16px;
}
.b a {
	display: block;
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
}
.time {
	text-align: center;
	font-size: 12px;
	color: #999;
}
.money {
	background-color: #bf576e;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
.m1 {
	color: #FFF;
}
.m2 {
	line-height: 60px;
	font-size: 36px;
	color: #FFF;
}
.m3_box {
	overflow: hidden;
}
.m3_btn {
	float: left;
	width: 50%;
	overflow: hidden;
}
.m3_btn a {
	border: 1px solid #FFF;
	border-radius: 4px;
	color: #FFF;
	font-size: 16px;
	width: 80px;
	display: block;
	line-height: 35px;
	float: right;
	margin-right: 5px;
}
.m4_btn {
	float: left;
	width: 50%;
	overflow: hidden;
}
.m4_btn a {
	border: 1px solid #FFF;
	border-radius: 4px;
	color: #FFF;
	font-size: 16px;
	width: 80px;
	display: block;
	line-height: 35px;
	margin-left: 5px;
}
.m2 span {
	font-size: 18px;
}
.m5 {
	line-height: 45px;
	text-align: center;
	color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EBEBF1;
}
.m6 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EBEBF1;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #666;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 16px !important;
	overflow: hidden;
}
.m6_left {
	float: left;
}
.m6_right {
	float: right;
	line-height: 45px;
}
.m7 {
	font-size: 14px;
	color: #999;
}
.m8 {
	font-size: 12px;
	color: #999;
	float: right;
}
.m9 {
	color: #bf576e;
	font-weight: bold;
	line-height: 45px;
}
.m10 {
	font-size: 14px;
	line-height: 30px;
}
.m11 {
	font-size: 24px;
	color: #bf576e;
	position: absolute;
	top: 30px;
	right: 10px;
	z-index: 1;
}
.m12 {
	font-size: 14px;
	line-height: 35px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EFEFF4;
	text-align: right;
}
.m13_btn {
	width: 100%;
	overflow: hidden;
}
.m13_btn a {
	border: 1px solid #FFF;
	border-radius: 4px;
	color: #FFF;
	font-size: 16px;
	width: 120px;
	display: block;
	line-height: 35px;
	margin-left: auto;
	margin-right: auto;
}
.top1_list {
	line-height: 50px;
	height: 50px;
	margin-bottom: 5px;
}
.top1_list ul {
	display: block;
	background-color: #FEFEFE;
	line-height: 50px;
	height: 50px;
}
.top1_list li {
	display: block;
	width: 25%;
	float: left;
	text-align: center;
}
.top1_list a {
	color: #999999;
	text-decoration: none;
}
.top1_list_h {
	width: 100%;
}
.top1_list_h a {
	color: #b02f4b;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #b02f4b;
	display: block;
	width: 100%;
	height: 47px;
	line-height: 47px;
}
.to {
	background-color: #FFF;
	text-align: left;
	padding: 5px;
	margin-top: -5px;
	overflow: hidden;
}
.to1 {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
}
.to2 {
	color: #B02F4B;
}
.me_box {
	text-align: center;
	background-color: #FFF;
	overflow: hidden;
	position: fixed;
	_position: absolute;
	bottom: 0px;
	_bottom: 0px;
 _margin-top:expression(this.style.pixelHeight+document.documentElement.scrollTop);
	width: 100%;
	max-width: 800px;
	z-index: 999999999999999999999;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0.9
}
.me_l {
	float: left;
	width: 50%;
	overflow: hidden;
}
.me_l a {
	border: 1px solid #D1D1D1;
	border-radius: 4px;
	color: #999;
	font-size: 16px;
	width: 80px;
	display: block;
	line-height: 35px;
	float: right;
	margin-right: 5px;
	background-color: #D1D1D1;
	text-align: center;
}
.me_r {
	float: left;
	width: 50%;
	overflow: hidden;
}
.me_r a {
	border: 1px solid #b02f4b;
	border-radius: 4px;
	color: #FFFFFF;
	font-size: 16px;
	width: 80px;
	display: block;
	line-height: 35px;
	margin-left: 5px;
	background-color: #b02f4b;
	text-align: center;
}
.price {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
	overflow: hidden;
	background-color: #FFF;
}
.price_left {
	float: left;
	width: 70%;
	font-weight: bold;
}
.price_right {
	border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #b02f4b;
	color: #b02f4b;
	float: right;
	padding-left: 20px;
	font-size: 24px;
}
.price_main {
	background-color: #FFF;
	padding: 5px;
}
.price_main img {
	height: auto;
	width: 100%;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}
.evaluate_box {
	background-color: #FFF;
	padding: 5px;
}
.evaluate {
	border-radius: 6px;
	background-color: #f6f6f6;
	padding: 10px;
	margin-bottom: 10px;
}
.ev_box {
	overflow: hidden;
}
.ev_box_l {
	float: left;
}
.ev_box_r {
	line-height: 48px;
	float: left;
	padding-left: 10px;
	color: #333;
}
.ev_box_r span {
	font-size: 12px;
	color: #999;
	padding-left: 10px;
}
.ev_txt {
	font-size: 14px;
}
.commodity_top {
	padding: 5px;
	overflow: hidden;
	position: absolute;
	z-index: 9999;
	width: 100%;
}
.commodity_top_l {
	float: left;
}
.commodity_top_r {
	float: right;
}
.com_d {
	background-color: #FFF;
	padding: 5px;
	overflow: hidden;
	text-align: center;
	background-color: #FFF;
	overflow: hidden;
	position: fixed;
	_position: absolute;
	bottom: 0px;
	_bottom: 0px;
 _margin-top:expression(this.style.pixelHeight+document.documentElement.scrollTop);
	width: 100%;
	max-width: 800px;
	z-index: 2;
}
.com_d_l {
	float: left;
}
.collect {
	background-image: url(../SVG/b3.svg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 45px;
	width: 45px;
}
.collect_click {
	background-image: url(../SVG/b3_h.svg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 45px;
	width: 45px;
}
.com_d_r {
	float: right;
	width: 250px;
}
.c_btn1 a {
	border: 1px solid #B02F4B;
	border-radius: 4px;
	color: #FFF;
	font-size: 16px;
	display: block;
	line-height: 45px;
	float: right;
	margin-right: 5px;
	background-color: #b02f4b;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
}
.c_btn2 a {
	border: 1px solid #B02F4B;
	border-radius: 4px;
	color: #B02F4B;
	font-size: 16px;
	display: block;
	line-height: 45px;
	float: right;
	margin-right: 5px;
	background-color: #FFFFFF;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
}
.cp2 {
	background-color: rgb( 254, 254, 254 );
	width: 100%;
	padding: 5px;
	overflow: hidden;
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
}
.cp2 img {
	display: block;
}
.cp2_l {
	float: left;
}
.cp2_r {
	overflow: hidden;
	padding-left: 10px;
}
.cp2_r p {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	font-size: 16px !important;
	line-height: 48px;
	height: 48px;
	display: block;
}
.cp2_r span {
	color: #b02f4b;
	line-height: 42px;
	font-size: 18px;
	float: left;
	display: block;
}
.cp2_titel {
	line-height: 35px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 14px;
}
.m33 {
	background-color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
}
.m33 li {
	display: block;
	font-size: 14px;
	float: left;
	line-height: 55px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 0px !important;
	margin-bottom: 5px !important;
	border-radius: 4px;
	background-color: #eaeaea;
	height: 55px;
	padding-right: 5px;
	padding-left: 5px;
}

.m33 a {
	color: #666;
}
.m33 ul {
	margin: 0px !important;
	padding: 0px !important;
	background-color: #FFF;
	display: block;
	overflow: hidden;
}
.m33_hover {
	background-color: #b02f4b!important;
	color: #FFF !important;
}
.m33_hover a {
	color: #FFF !important;
	text-decoration: none;
}
.m33_btn {
	margin-right: 5px;
	margin-left: 5px;
}
.m33_btn a {
	border: 1px solid #B02F4B;
	border-radius: 4px;
	color: #FFF;
	font-size: 16px;
	display: block;
	line-height: 45px;
	background-color: #b02f4b;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.my33 {
	background-color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
}
.my33 li {
	display: block;
	font-size: 12px;
	float: left;
	line-height: 20px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 0px !important;
	margin-bottom: 5px !important;
	border-radius: 4px;
	background-color: #eaeaea;
	overflow: hidden;
	padding-right: 5px;
	padding-left: 5px;
}

.my33 a {
	color: #666;
}
.my33 ul {
	margin: 0px !important;
	padding: 0px !important;
	background-color: #FFF;
	display: block;
	overflow: hidden;
}
.my33_hover {
	background-color: #b02f4b!important;
	color: #FFF !important;
	border: 1px solid #b02f4b !important;
}
.my33_hover a {
	color: #FFF !important;
	text-decoration: none;
}
.my33_btn {
	margin-right: 5px;
	margin-left: 5px;
}
.my33_btn a {
	border: 1px solid #B02F4B;
	border-radius: 4px;
	color: #FFF;
	font-size: 16px;
	display: block;
	line-height: 45px;
	background-color: #b02f4b;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.empty {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}
.empty img {
	
}
.l {
	background-color: #FFF;
	overflow: hidden;
	padding: 5px;
}
.l_l {
	font-size: 14px;
	line-height: 38px;
	text-align: right;
}
.l_r {
}
.l_btn1 {
}
.l_btn1 a {
	display: block;
	font-size: 16px;
	float: right;
	color: #333333;
	border-radius: 4px;
	line-height: 30px;
	border: 1px solid #EEEEEE;
	width: 80px;
	text-align: center;
	margin-left: 5px;
	background-color: #EEEEEE;
}
.l_btn2 {
}
.l_btn2 a {
	display: block;
	font-size: 16px;
	background-color: #B02F4B;
	float: right;
	color: #FFF;
	border-radius: 4px;
	line-height: 30px;
	width: 80px;
	text-align: center;
	border: 1px solid #B02F4B;
	margin-left: 10px;
}
.checkbox_s {
	float: left;
	z-index: 99999999999999999999999;
	position: absolute;
	top: 6px;
	left: -16px;
	height: 38px;
	width: 56px;
}
.empty_txt {
	text-align: center;
	margin-bottom: 10px;
	color: #999;
}
.empty_btn {
}
.empty_btn a {
	border-radius: 4px;
	color: #FFF;
	font-size: 16px;
	display: block;
	line-height: 40px;
	margin-right: auto;
	text-align: center;
	margin-left: auto;
	width: 120px;
	background-color: #DA7289;
}
.login_text {
	height: 50px !important;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EFEFF4;
}
.z-index {
	float: right;
	z-index: 9;
	font-size: 14px;
}
.login_btn a {
	border: 1px solid #B02F4B;
	border-radius: 4px;
	color: #FFF;
	font-size: 18px;
	display: block;
	line-height: 45px;
	background-color: #b02f4b;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 15px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.login_txt {
	font-size: 16px;
	text-align: center;
}
.login_txt a {
	margin-right: 5px;
	margin-left: 5px;
	color: #B02F4B;
	line-height: 50px;
}
.code {
	position: absolute;
	z-index: 2;
	top: 0px;
	right: 0px;
	height: 48px;
}
.code img {
	height: 48px;
}
.note {
}
.note a {
	border: 1px solid #B02F4B;
	border-radius: 4px;
	color: #B02F4B;
	font-size: 14px;
	width: 100px;
	display: block;
	line-height: 40px;
	position: absolute;
	z-index: 33;
	padding-top: 0px;
	padding-right: 5px;
	height: 40px;
	top: 0px;
	right: 5px;
	text-align: center;
	margin-top: 5px;
}
.express_box {
}
.express_txt {
	background-color: #FFF;
	padding: 10px;
	line-height: 24px;
}
.express_txt p {
	color: #333 !important;
}
.express_txt span {
	color: #999;
}
.course_box {
	padding: 20px;
	background-color: #FFF;
	margin-top: 10px;
}
.course {
	margin-top: 10px;
	background-color: #FFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #d6d6d6;
	padding-bottom: 15px;
}
.course span {
}
.before {
	color: #999;
	font-size: 14px;
	background-image: url(../SVG/express_h.svg);
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: -8px;
	padding-left: 30px;
}
.before p {
	color: #333;
	padding-bottom: 3px;
	background-color: #FFF !important;
}
.before span {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.now {
	color: #999;
	font-size: 14px;
	background-image: url(../SVG/express.svg);
	background-repeat: no-repeat;
	background-position: left 5px;
	margin-left: -8px;
	padding-left: 30px;
}
.now p {
	padding-bottom: 3px;
	background-color: #FFF !important;
}
.now span {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.now1 {
	color: #999;
	font-size: 14px;
	background-image: url(../SVG/express.svg);
	background-repeat: no-repeat;
	background-position: left 5px;
	margin-left: -8px;
	padding-left: 30px;
	margin-top: -15px;
}
.now1 p {
	padding-bottom: 3px;
	background-color: #FFF !important;
}
.now1 span {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F6F6F6;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.l_btn3 {
}
.l_btn3 a {
	display: block;
	font-size: 16px;
	background-color: #B02F4B;
	color: #FFF;
	border-radius: 4px;
	line-height: 40px;
	width: 120px;
	text-align: center;
	border: 1px solid #B02F4B;
	margin-right: auto;
	margin-left: auto;
}
.xx {
	width: 145px !important;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	margin-top: -10px;
}
.site {
	background-color: #FFF;
	font-size: 16px;
	padding: 20px;
	margin-bottom: 20px;
}
.pay {
	background-color: #FFF;
	margin-bottom: 20px;
}
.pay-OK {
	color: #B02F4B;
	text-align: center;
	background-color: #FFF;
	background-image: url(../SVG/order.svg);
	background-position: center 20px;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 10px;
}
.pay-OK1 {
	color: #B02F4B;
	text-align: center;
	background-color: #FFF;
	background-image: url(../SVG/order1.svg);
	background-position: center 20px;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 10px;
}
.pay-money {
	line-height: 50px;
	color: #000;
	font-size: 24px;
	text-align: center;
	background-color: #FFF;
}
.pay-order {
	background-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #F4F4F4;
	padding: 10px;
	line-height: 24px;
}
.site1 {
	background-color: rgb( 254, 254, 254 );
	width: 100%;
	overflow: hidden;
	position: relative;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgb( 235, 235, 235 );
	border-bottom-color: rgb( 235, 235, 235 );
	background-image: url(../SVG/mop.svg);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 40px;
	line-height: 16px;
	padding-top: 10px;
	padding-right: 10px;
}
.site1 .consignee {
	background-image: url(../SVG/move.svg);
	background-repeat: no-repeat;
	background-position: right center;
}
.cp6 {
	background-color: rgb( 254, 254, 254 );
	width: 100%;
	padding: 10px;
	overflow: hidden;
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb( 235, 235, 235 );
}
.cp7 {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
}
.cp6 img {
	display: block;
}
.site_txt {
	background-color: #FFF;
	line-height: 45px;
	margin-bottom: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.site_txt span {
	float: right;
}
.c1 {
	float: left;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border: 1px solid #FFF;
}
.site_txt1 {
	background-color: #FFF;
	margin-bottom: 1px;
	padding-right: 10px;
	padding-left: 10px;
	height: auto;
}
.site_txt1 a {
	background-image: url(../SVG/move.svg);
	background-repeat: no-repeat;
	background-position: right center;
	display: block;
	line-height: 45px;
}
.setup_box {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.se-1 {
	font-size: 18px;
	padding-bottom: 5px;
	color: #333;
}
.se-2 {
	color: #999;
}
.login_btn1 a {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	color: #666;
	font-size: 18px;
	display: block;
	line-height: 45px;
	background-color: #CCCCCC;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 15px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.tip-a {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #999;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.user_img {
	float: right;
	position: absolute;
	z-index: 1;
	top: 5px;
	right: 40px;
}
.user_img img {
	height: 48px;
	width: 48px;
}
.site2 {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-left: 35px;
	line-height: 28px;
	padding-top: 10px;
	padding-right: 10px;
}
.default-setting {
	background-image: url(../SVG/order.svg);
	background-repeat: no-repeat;
	background-position: 5px center;
	background-size: 18px 18px
}
.modification {
	position: absolute;
	z-index: 999999999;
	top: 15px;
	right: 5px;
}
.modification img {
	height: 24px;
	width: 24px;
}
.login_btn_on {
	border: 1px solid #B02F4B;
	border-radius: 4px;
	color: #FFF !important;
	font-size: 18px;
	display: block !important;
	line-height: 35px !important;
	background-color: #b02f4b !important;
	text-align: center;
	margin-top: 15px;
	width: 90% !important;
	margin-right: auto !important;
	margin-left: auto !important;
}
.login_btn_off {
	border: 1px solid #999;
	border-radius: 4px;
	color: #999 !important;
	font-size: 18px;
	display: block !important;
	line-height: 35px !important;
	background-color: #CCCCCC !important;
	text-align: center;
	margin-top: 15px;
	width: 90% !important;
	margin-right: auto !important;
	margin-left: auto !important;
}
.cj {
	font-size: 12px;
	color: #F00;
	text-align: center;
}
.cj1 {
	font-size: 12px;
	color: #CCC !important;
	text-align: center;
}
.gray6 {
	color: #CCC !important;
 filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	-webkit-filter: grayscale(100%);
}
.gray6 a {
	color: #CCC !important;
}
.gray5 {
	color: #CCC !important;
}

.gray{
	cursor: not-allowed;
	display: block;
	font-size: 14px;
	float: left;
	line-height: 55px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 0px !important;
	margin-bottom: 5px !important;
	border-radius: 4px;
	background-color: #F9F9F9;
	height: 55px;
	padding-right: 5px;
	padding-left: 5px;
	

}
.gray p{
	color: #CCCCCC !important;
}
.Load—more{
	line-height: 55px;
	text-align: center;
	background-color: #E9E9EF;
}
Load—more a{
}
.cut{
	background-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E7E7E7;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E7E7E7;
	padding: 10px;
	margin-top: 10px;
}
.cut-titel{
	font-weight: bold;
	line-height: 45px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EFEFF4;
}
.cut-box{
	overflow: hidden;
	padding-top: 10px;
}
.cut-left{
	float: left;
	margin-right: 10px;
}
.cut-right{
	color: #999;
}
.cut-right span{
	color: #000;
}
.f_index{
	right: 0px;
	bottom: 0px;
	z-index: 998;
	position: fixed;
	_position: absolute;
	left: 40px;
	_left: 40px;

 _margin-top:expression(this.style.pixelHeight+document.documentElement.scrollTop);
	margin-right: 10px;
	height: 48px;
	width: 48px;
	margin-bottom: 5px;
}
.photo_sl{
	text-align: center;
	padding-bottom: 20px;
}
.OK{}
.OK-a{
	line-height: 60px;
	padding: 10px;
	text-align: right;
}
.OK-a span{
	color: #B02F4B;
	padding-right: 10px;
	padding-left: 10px;
}
.OK-a a{
	color: #666;
}
.login_btn9 a {
	border: 1px solid #B02F4B;
	border-radius: 4px;
	color: #B02F4B;
	font-size: 18px;
	display: block;
	line-height: 45px;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 15px;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.gz{
	z-index: 9999;
	position: absolute;
	left: 0px;
	top: 0px;
}
.bottom_logo{
	font-size: 12px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #999;
}
.bottom_logo a{
	color: #999;
}





.tip_b{
	color: #858585;
	line-height: 24px;
	font-weight: normal;
	font-size: 12px;
	margin-top: 20px;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #CCC;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-top: 10px;
}
.tip_b strong{
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #B02F4B;
	line-height: 32px;
	padding-left: 5px;
	font-size: 14px;
	font-weight: normal;
	color: #333;
}
.tip_b span{
	color: #B02F4B;
}
.tip_text{
	width: 90% !important;
	display: block;
	margin-right: auto;
	margin-left: auto;
	 background-image: -moz-linear-gradient( -90deg, rgb(245,245,245) 0%, rgb(255,255,255) 6%);
  background-image: -webkit-linear-gradient( -90deg, rgb(245,245,245) 0%, rgb(255,255,255) 6%);
  background-image: -ms-linear-gradient( -90deg, rgb(245,245,245) 0%, rgb(255,255,255) 6%);
}


.lm_t {
	height: 48px !important;
	display: block;
	line-height: 24px !important;
	text-overflow: clip !important;
	-o-text-overflow: clip !important;
	-webkit-text-overflow: clip !important;
	-moz-text-overflow: clip !important;
	white-space: normal !important;
}
.lm_z {
	height: 38px !important;
	line-height: 38px !important;
	color: #999;
	float: left;
	font-size: 12px !important;
}
.lm_x {
	height: 38px !important;
	line-height: 38px !important;
	float: right !important;
	padding-right: 15px !important;
}
.advance_a {
	width: 100px;
	margin-right: auto;
	margin-left: auto;
}
.advance_a a {
	border-radius: 4px;
	color: #666666;
	font-size: 16px;
	display: block;
	line-height: 35px;
	text-align: center;
	background-image: -moz-linear-gradient( 90deg, rgb(245,245,245) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(245,245,245) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(245,245,245) 0%, rgb(255,255,255) 100%);
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
.invoice a {
	color: #FFF;
	text-decoration: underline;
	margin-left: 10px;
}
.tip_b li {
	list-style-type: disc;
	margin-left: 20px;
}

.figure{
	font-size: 12px !important;
	line-height: 1 !important;
	color: #FFF !important;
	position: absolute;
	z-index: 2;
	top: 16px;
	right: 25%;
}

.er1 li {
	position: relative;
}
