<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <td class="text-right">
                ID
            </td>
            <td class="text-left">
                用户昵称
            </td>
            <td class="text-left">
                打卡时间
            </td>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="item">
            <tr>
                <td class="text-right">{$item.id}</td>
                <td class="text-left">{$item.nickname}</td>
                <td class="text-left">{$item.create_time|date="Y-m-d H:d",###}</td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-9 text-right">{$page}</div>
</div>