<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>龙米</title>
<link href="__PUBLIC__/css/css.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/mui.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<form method="post" action="{: U('Index/User/edit_name')}" id="edit_subform">
<div class="mydiv1">
  <div class="pop1" style="text-align:center; width:500px">
    <div class="in3">
      设置昵称
    </div>
    <div class="pop_main">
    </div>
    <div class="tab_box2" style="border-radius:0 0 6px 6px!important">
      <input name="nickname" type="text" class="pop_text1" style="width:100%" placeholder="昵称">
      <div class="m5_btn"><a name="submit"  onclick="document.getElementById('edit_subform').submit();return false" >确定更改昵称</a></div>
    </div>
  </div>
</div>
</form>
</body>
</html>
