<include file="Public/header"/>

<div class="fn-clear" style="min-height: 459px; margin-top:80px">
    <div class="content fn-clear">
        <div class="account-wrapper account-min-wrapper">
            <div class="account-sidebar" style="top: 0px;">
                <div class="avatar gray-box fn-clear">
                    <div class="js-account-sidebar-info"> <img src="__INDEX__/img/user.png" alt="">
                        <h5>牛牛3780123</h5>
                    </div>
                    <div class="box-inner">
                        <include file="Public/user_menu"/>
                    </div>
                </div>
            </div>
            <div class="account-content">
                <div class="account-order">
                    <div class="gray-box empty-order-box">
                        <div class="title columns-title pre-title">
                            <h2>我的订单</h2>
                            <div class="gray-btn-menu sort-status-menu sort-time-menu2"> <span class="label"> <img src="__INDEX__/img/i.gif" class="arrow"> 全部状态 </span>
                                <ul class="menu-list menu-list2">
                                    <li class="selected"> <a href="#">全部状态</a> </li>
                                    <li class=""> <a href="#">未完成</a> </li>
                                    <li class=""> <a href="#">已完成</a> </li>
                                    <li class=""> <a href="#">已关闭</a> </li>
                                </ul>
                            </div>
                            <div class="gray-btn-menu sort-time-menu sort-time-menu1"> <span class="label"> <img src="__INDEX__/img/i(1).gif" class="arrow"> 最近三个月 </span>
                                <ul class="menu-list  menu-list1">
                                    <li class="selected"> <a href="#">最近三个月</a> </li>
                                    <li class=""> <a href="#">今年内</a> </li>
                                    <li class=""> <a href="#">2015 年</a> </li>
                                    <li class=""> <a href="#">2014 年</a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="js-list-inner">
                            <div class="box-inner order-cart order-list-cart fn-clear" data-id="160828541425319">
                                <div class="gray-sub-title cart-title"> <span class="date">2016-08-28</span> <span class="order-id"> 订单号： <a href="#">160828541425319</a> </span> <span class="order-detail"> <a href="#">查看详情</a> </span> <span class="sub-total">应付总额</span> <span class="operation">商品操作</span> <span class="num">数量</span> <span class="price">单价</span> </div>
                                <div class="cart">
                                    <div class="cart-items fn-clear" data-id="100014501">
                                        <div class="prod-info">
                                            <div class="items-thumb"> <a href="#" target="_blank"> <img src="__INDEX__/img/cp5.png"> </a> </div>
                                            <div class="items-params fn-clear">
                                                <div class="name"> <a href="#" target="_blank">龙米</a> </div>
                                                <div class="detail"> 商品编号：100014501 </div>
                                            </div>
                                            <div class="operation">
                                                <div class="operation-list"> </div>
                                            </div>
                                            <div class="num">1</div>
                                            <div class="price">¥ 1,999.00</div>
                                        </div>
                                    </div>
                                    <div class="cart-items fn-clear" data-id="100013612">
                                        <div class="prod-info">
                                            <div class="items-thumb"><a href="#" target="_blank"> <img src="__INDEX__/img/cp5.png"></a></div>
                                            <div class="items-params fn-clear">
                                                <div class="name"> <a href="#" target="_blank">龙米</a></div>
                                                <div class="detail"> 商品编号：100014501 </div>
                                            </div>
                                            <div class="operation">
                                                <div class="operation-list"> </div>
                                            </div>
                                            <div class="num">1</div>
                                            <div class="price">¥ 0.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="prod-operation">
                                    <div class="total">¥ 1,999.00</div>
                                    <div class="status"> <a class="blue-small-btn js-payment-order">现在付款</a> </div>
                                </div>
                            </div>
                            <div class="box-inner order-cart order-list-cart fn-clear" data-id="160827562290240">
                                <div class="gray-sub-title cart-title"> <span class="date">2016-08-27</span> <span class="order-id"> 订单号： <a href="#">160827562290240</a> </span> <span class="order-detail"> <a href="#">查看详情</a> </span> <span class="sub-total">应付总额</span> <span class="operation">商品操作</span> <span class="num">数量</span> <span class="price">单价</span> </div>
                                <div class="cart">
                                    <div class="cart-items fn-clear" data-id="100001102">
                                        <div class="prod-info">
                                            <div class="items-thumb"><a href="#" target="_blank"> <img src="__INDEX__/img/cp5.png"></a><a href="http://www.smartisan.com/shop/#/item/100001102" target="_blank" title="JBL E30 红色"></a> </div>
                                            <div class="items-params fn-clear">
                                                <div class="name"> <a href="#" target="_blank">龙米</a></div>
                                                <div class="detail"> 商品编号：100014501 </div>
                                            </div>
                                            <div class="operation">
                                                <div class="operation-list"> </div>
                                            </div>
                                            <div class="num">1</div>
                                            <div class="price">¥ 499.00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="prod-operation">
                                    <div class="total">¥ 499.00</div>
                                    <div class="status"> <a class="blue-small-btn js-payment-order">现在付款</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<include file="Public/footer"/>
</body>
</html>