
<include file="Public/header"/>

<div class="fn-clear" style="min-height: 459px; margin-top:80px">
    <div class="content fn-clear">
        <div class="account-wrapper account-min-wrapper">
            <include file="Public/user_menu"/>
            <div class="account-content">
                <div class="account-user-info">
                    <div class="gray-box fn-clear confirm-detail">
                        <div class="title columns-title pre-title">
                            <h2>账户资料</h2>
                        </div>
                        <div class="box-inner js-account-info">
                            <div class="status-box account-avatar-box fn-clear">
                                <div class="account-avatar-image">
                                    <img src="{$user.head_pic|default='__PUBLIC__/img/user.png'}" alt="" class="user_img">
                                </div>
                                <input type="hidden" name="head_pic" id="head_pic" value="{$user.head_pic}">
                                <div class="safe-center-title" onClick="GetUploadify2(1,'head_pic','head_pic','add_img');">
                                    <h3>修改头像</h3>
                                </div>
                                <a href="javascript:showDiv()" class="blue-small-btn js-modify-avatar">上传图片</a> </div>
                            <div class="status-box safe-status-ok fn-clear">
                                <div class="safe-center-title">
                                    <h3>账户昵称</h3>
                                </div>
                                <p>{$user.nickname}</p>
                                <div class="safe-todo">
                                    <a href="{: U('Index/User/edit_name')}" >修改</a>
                                </div>
                            </div>
                            <div class="status-box status-box fn-clear <if condition="$user['mobile_validated'] eq 0">safe-status-warning<else/>safe-status-ok </if>">
                            <div class="safe-center-title">
                                <h3>手机验证</h3>
                            </div>
                            <if condition="$user['mobile_validated'] eq 0">
                                <p>绑定手机后，可用手机登录。</p>

                                <div class="safe-todo">
                                    <a href="{:U('Index/User/mobile_validate',array('type'=>'mobile','step'=>1))}" >验证</a>

                                </div>
                                <else/>
                                <p>您验证的手机：{$user.mobile}</p>
                                <div class="safe-todo">
                                    <a href="{:U('Index/User/mobile_validate',array('type'=>'mobile','step'=>1))}" >修改</a>

                                </div>
                            </if>
                        </div>
                        <div class="status-box safe-status-ok fn-clear">
                            <div class="safe-center-title">
                                <h3>登录密码</h3>
                            </div>
                            <p>互联网账号存在被盗风险，建议您定期更改密码以保护账户安全。</p>
                            <div class="safe-todo"> <a href="{:U('Index/User/edit_pwd')}" >修改</a> </div>
                        </div>
                        <div class="status-box fn-clear status-box-last <if condition="$user['email_validated'] eq 0">safe-status-warning<else/>safe-status-ok</if>">
                        <div class="safe-center-title">
                            <h3>邮箱验证</h3>
                        </div>
                        <if condition="$user['email_validated'] eq 0">

                            <empty name="user.email">
                                <p>绑定邮箱后，可用邮箱登录。</p>
                                <div class="safe-todo">
                                    <a href="{: U('Index/User/edit_email')}" target="_blank">绑定</a>
                                </div>
                                <else/>
                                <p>绑定邮箱后，可用邮箱登录。当前填写邮箱：{$user.email}</p>
                                <div class="safe-todo">
                                    <a href="{:U('Index/User/email_validate')}" target="_blank">发送验证邮件</a>
                                    <a href="{: U('Index/User/edit_email')}" target="_blank">修改</a>
                                </div>
                            </empty>
                            <else/>
                            <p>您验证的邮箱：{$user.email}</p>
                            <div class="safe-todo">
                                <a href="{: U('Index/User/edit_email')}" target="_blank">修改</a>
                            </div>
                        </if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<include file="Public/footer"/>


<div id="popDiv" class="mydiv" style="display:none;">

    <div class="pop">
        <div class="in2">
            <div class="in2_l">设置头像</div>
            <div class="in2_r"><a href="javascript:closeDiv()"><img src="__PUBLIC__/img/close.png" width="22" height="21"></a></div>
        </div>

        <div class="Favicon">
            <div class="Favicon_l">
                <p><img src="{$user.head_pic|default='__PUBLIC__/img/user.png'}" width="133" height="133"></p>
                <p>
                <form id="myuploads" action="{:U('Index/User/upload_lcon')}" method="post" enctype="multipart/form-data">
                    <a href="javascript:void(0);" class="a-upload">
                        <input type="file" name="head_pic" id="fileupload">
                        点击这里上传文件
                    </a>
                </form>
                </p>
            </div>
            <div class="Favicon_r">


            </div>
        </div>
        <div class="tab_box1" style="border-radius:0 0 6px 6px!important">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td><div class="m41_btn"><a href="javascript:closeDiv()">取消</a></div></td>
                    <td width="13%"><div class="m4_btn"><a href="javascript:void(0);" onclick="upload_lcon()">保存</a></div></td>
                </tr>
            </table>
        </div>

    </div>


</div>

<div id="img_msg">

</div>

<div id="bg" class="bg" style="display:none;"></div>
<iframe id='popIframe' class='popIframe' frameborder='0' ></iframe>

<!-- <script type="text/javascript" src='__PUBLIC__/js/jquery-2.0.3.min.js'></script> -->
<script type="text/javascript" src="__PUBLIC__/js/jquery-form.js"></script>
<script type="text/javascript">

    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
    $(function(){
        $("#fileupload").change(function(){
            var objUrl = getObjectURL(this.files[0]) ;
            if (objUrl) {
                $(this).parent().parent().parent().find('img').attr('src',objUrl);
            }
        });
    });

    function upload_lcon(){
        $("#myuploads").ajaxSubmit({
            dataType:  'json',
            success: function(res) {
                closeDiv();//关闭浮层
                alert(res['msg']);
                $('.user_img').attr('src',res['data']['path']);

            },
            error:function(res){
                alert(res['msg']);
            }

        });
    }









</script>


</body>
</html>