<include file="Public/header"/>


<form action="{:U('Index/Payment/getCode')}" target="_blank"  method="post" name="cart4_form" id="cart4_form">
    <div class="content page-order-payment order-confirm" style="margin-top:80px">
        <div class="gray-box fn-clear">
            <div class="in1">
                <h2>支付订单</h2>
            </div>
            <div class="box-inner order-info">
                <h3>提交订单成功</h3>
                <p class="payment-detail">请在 <span>24 小时内</span>完成支付，超时订单将自动取消。</p>
                <p class="payment-detail">我们将在您完成支付后的 72 小时内发货。</p>
            </div>
            <div class="gray-sub-title">选择支付方式</div>
            <div class="slideTxtBox">
                <div class="hd">
                    <ul>
                        <li>平台支付</li>
                        <!--<li style="padding-left:-1px">借记卡及信用卡支付</li>-->
                    </ul>
                </div>
                <div class="bd">
                    <ul>
                        <div class="m44">
                            <ul>
                                <foreach name="paymentList" item="v"  key="k">
                                    <li>
                                        <input  type="radio" id="input-ALIPAY-1" value="pay_code={$v['code']}" style="display:none;" name="pay_radio" >
                                        <img src="/plugins/{$v['type']}/{$v['code']}/{$v['icon']}" width="144" height="34"  onClick="change_pay(this);" >
                                    </li>
                                </foreach>
                            </ul>
                            <div class="payment-code-panel js-payment-code-panel" id="weChatCode" style="display: none;">
                                <div class="weixin-code">
                                    {$codeStr}
                                </div>
                                <p> 请使用微信扫一扫<br> 扫描二维码支付 </p>
                            </div>
                        </div>
                    </ul>
                    <!--<ul>-->
                        <!--<div class="m44">-->
                            <!--<ul>-->
                                <!--&lt;!&ndash;<foreach name="bankCodeList" item="v"  key="k">&ndash;&gt;-->
                                <!--&lt;!&ndash;<foreach name="v" item="v2"  key="k2">&ndash;&gt;-->
                                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="radio" name="pay_radio" style="display: none;" value="pay_code={$k}&bank_code={$v2}" id="input-ALIPAY-1">&ndash;&gt;-->
                                <!--&lt;!&ndash;<img src="__PUBLIC__/images/images-out/{$bank_img[$k2]}" width="144" height="34" onClick="change_pay(this);">&ndash;&gt;-->
                                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                                <!--&lt;!&ndash;</foreach>&ndash;&gt;-->
                                <!--&lt;!&ndash;</foreach>&ndash;&gt;-->

                            <!--</ul>-->
                        <!--</div>-->
                    <!--</ul>-->
                </div>
            </div>
            <script type="text/javascript">jQuery(".slideTxtBox").slide({trigger:"click"});</script>
            <div class="box-inner payment-checkout-panel fn-clear">
                <div class="m4_btn" style="float:right; margin-left:10px" id="submitBtn">
                    <a href="javascript:void(0);" onClick="$('#cart4_form').submit();">现在支付</a>
                </div>
                <span class="prices">
                应付金额： <em>¥ {$order['order_amount']}</em>
            </span>
            </div>
        </div>

        <div class="gray-box fn-clear confirm-detail">
            <div class="in1 pre-title columns-title">
                <h2>订单详情</h2>
                <span class="status-tip" style="float:right; font-size:16px; padding-right:20px">订单编号：{$order['order_sn']}</span>
            </div>
            <div class="box-inner order-cart banner-cart">
                <div class="gray-sub-title cart-title">
                    <span class="name">商品名称</span>
                    <span class="subtotal">小计</span>
                    <span class="num">数量</span>
                    <span class="price">单价</span>
                    <span class="discount">优惠</span>
                </div>
                <div class="cart">
                    <volist name="goodsList" id="good">
                        <div class="cart-items fn-clear" data-id="{$good.goods_id}">
                            <div class="prod-info">
                                <div class="items-thumb">
                                    <a href="#" target="_blank" title="{$good.goods_name}">
                                        <img src="{$good.goods_id|goods_thum_images=80,80}">
                                    </a>
                                </div>
                                <div class="items-params fn-clear">
                                    <div class="name">
                                        <a href="#" target="_blank" title="{$good.goods_name}">{$good.goods_name}</a>
                                    </div>
                                    <div class="subtotal">¥ {$good['member_goods_price'] * $good['goods_num']}</div>
                                    <div class="num">{$good.goods_num}</div>
                                    <div class="price">¥ {$good.goods_price}</div>
                                </div>
                                <div class="items-detail fn-clear">
                                    <div class="detail"> {$good.spec_key_name} </div>
                                </div>
                            </div>
                        </div>
                    </volist>
                </div>

                <div class="order-discount-line">
                    <p>商品总计：¥ {$order.goods_price}</p>
                    <!--<p>运费：+ ¥ 0.00</p>-->
                    <p class="order-total">应付金额：¥ {$order.order_amount}</p>
                </div>
                <div class="gray-sub-title">收货信息</div>
                <div class="gray-sub-con">
                    <p>姓名：{$order.consignee}</p>
                    <p>联系电话：{$order.mobile}</p>
                    <p>详细地址：{$region_list[$order['province']]['name']}，{$region_list[$order['city']]['name']}，
                        {$region_list[$order['district']]['name']}，{$order.address}</p>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="order_id" value="{$order['order_id']}" />
</form>
<include file="Public/footer"/>
<script>
    var needMonitorOrderStatus = false;

    $(document).ready(function(){
        $("input[name='pay_radio']").first().trigger('click');
        setWeChatCode();
        setInterval("monitorOrderStatus()",2000);
    });

    // 切换支付方式
    function change_pay(obj)
    {
        $(obj).siblings('input[name="pay_radio"]').trigger('click');
        setWeChatCode();
    }

    function setWeChatCode(){
        var checkedValue = $('input[name="pay_radio"]:checked').val();
        if(checkedValue == "pay_code=weixin"){
            needMonitorOrderStatus = true;
            $('#weChatCode').show();
            $('#submitBtn').hide();
        }else{
            needMonitorOrderStatus = false;
            $('#weChatCode').hide();
            $('#submitBtn').show();
        }
    }

    function monitorOrderStatus(){
        if( needMonitorOrderStatus == true ){
            $.ajax({
                url : "{:U('Index/Order/getOrderPayStatus',array('orderId'=>$order['order_id']))}",
                dataType : 'json',
                success : function(res){
                    if(res.state == 1){
                        window.location.href = "{:U('Index/Order/orderDetail',array('id'=>$order['order_id']))}";
                    }
                }
            });
        }
    }

</script>
<style>
    #weChatCode img{width:196px !important;    height: 196px !important;}
</style>
</body>
</html>

