<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>龙米</title>
  <link href="__PUBLIC__/css/css.css" rel="stylesheet" type="text/css" />
  <link href="__PUBLIC__/css/mui.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
<div class="mydiv1">
  <div class="pop1" style="text-align:center; width:500px">
    <div class="in3"> 注册龙米网ID</div>
    <div class="pop_main"> </div>
    <form method="post" cation="{: U('Index/User/register')}" id="register_form">
      <div class="tab_box2" style="border-radius:0 0 6px 6px!important">
        <input name="mobile" type="text" class="pop_text1 icon_bg" placeholder="手机号码" style="width:100%; margin-bottom:10px; margin-top:10px; background-image:url(__PUBLIC__/img/icon-a.png)" id="new_mobile">
        <input name="verify" type="text" class="pop_text1 icon_bg" placeholder="请输入验证码" style="width:60%; margin-top:0px; float:left; background-image:url(__PUBLIC__/img/icon-b.png)" id="new_code" >
        <div class="code_box">
          <img src="{: U('Index/Verify/verify')}" width="125" height="44" onclick="this.src=this.src" title="点击刷新">
        </div>
        <input name="phone_verify" type="text" class="pop_text1 icon_bg" placeholder="请输入验证码" style="width:50%; margin-top:0px; margin-bottom:0px; float:left;background-image:url(__PUBLIC__/img/icon-b.png)" id="phone_verify">
        <div class="in4_r1_btn">
          <input type="button" intervaltime="{: $time}" value="获取验证码 " id="btnemailAuthCode2" onClick="sendCode(this,'new_mobile')" style="margin-bottom:0px">
          <!-- <a href="#" style="margin-bottom:0px">重新发送（60）</a> -->
        </div>
        <div style="clear:both"></div>
        <input name="email" type="text" class="pop_text1 icon_bg" placeholder="邮箱" style="width:100%; margin-bottom:10px; margin-top:10px;background-image:url(__PUBLIC__/img/icon-d.png)" id="new_email">
        <input name="password" type="password" class="pop_text1 icon_bg" placeholder="密码" style="width:100%; margin-bottom:10px; margin-top:10px;background-image:url(__PUBLIC__/img/icon-c.png)" id="password">

        <div class="mui-input-row mui-checkbox mui-left" style="padding:0px">
          <input name="checkbox" value="Item 1" type="checkbox"  onclick="terms()" style="float:left">
          <label style="float:left; padding:0px; margin:0px; width:300px; line-height:30px">我已阅读并同意遵守<a href="#">法律声明</a>和<a href="#">隐私条款</a></label>
        </div>
        <input name="" id="btn_reg" class="btn_reg" type="button" value="注册" disabled onClick="check_form()">
        <div class="reg_d">如果您已拥有龙米网ID，则可在此<a href="{: U('Index/User/login')}">登录</a></div>
      </div>
    </form>
  </div>
</div>
</body>
</html>
<script src="./Public/js/jquery-1.8.2.min.js"></script>
<script src="__PUBLIC__/js/function.js"></script>
<script>

  // 表单提交验证
  function check_form()
  {
    var new_mobile = $('#new_mobile').val();
    var emailVerify = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/; //邮箱
    var password = $('#password').val(); //密码
    var new_email = $('#new_email').val(); //邮箱
    if(new_mobile == '' && new_email == ''){
      alert('手机和邮箱必须填写一个');
      return false;
    }else if(new_mobile != '' && !checkMobile(new_mobile)){
      alert('手机格式错误');
      return false;
    }else if($.trim($('#new_code').val()) == ''){
      alert('请输入验证码');
      return false;
    }else if($.trim($('#phone_verify').val()) == ''){
      alert('请输入短信验证码');
      return false;
    }else if(new_email != '' && !emailVerify.test(new_email)){
      alert('邮箱格式不对');
      return false;
    }else if(password.length < 6){
      alert('密码长度不能少于6位');
      return false;
    }else{
      $('#register_form').submit();
    }





  }



  function sendCode(obj,input_id){
    var id = $(obj).attr('id');
    var input = $('#new_mobile').val();
    if(input == ''){
      alert('请输入手机号码');
      return false;
    }else if(!checkMobile(input)){
      alert('手机号码格式错误');//alert('手机号码格式错误');
      return false;
    }
    //发送验证码
    $.ajax({
      type : "get",
      url  : "/index.php?m=Index&c=User&a=send_sms_reg_code&send="+input,
      dataType : 'json',
      error: function(request) {
        console.log(request);
        alert('服务器繁忙, 请联系管理员!');//alert("服务器繁忙, 请联系管理员!");
        return;
      },
      success: function(res) {
        console.log(res);
        if(res.status == 1){
          jsInnerTimeout(id);
        }else{
          alert('发送失败');//alert('发送失败');
        }
      }
    });
  }


  /**
   * 手机号码格式判断
   * @param tel
   * @returns {boolean}
   */
  function checkMobile(tel) {
    var reg = /(^1[3|4|5|7|8][0-9]{9}$)/;
    if (reg.test(tel)) {
      return true;
    }else{
      return false;
    };
  }


  //倒计时函数
  function jsInnerTimeout(id)
  {
    var codeObj=$("#"+id);
    var intAs=parseInt(codeObj.attr("IntervalTime"));

    intAs--;
    codeObj.attr("disabled","disabled");
    if(intAs<=-1)
    {
      codeObj.removeAttr("disabled");
      codeObj.attr("IntervalTime","{: $time}");
      codeObj.val("获取验证码");
      return true;
    }

    codeObj.val(intAs+'s后再次获取');
    codeObj.attr("IntervalTime",intAs);

    setTimeout("jsInnerTimeout('"+id+"')",1000);
  };
</script>
