@charset "utf-8";
/* CSS Document */

.m33 li.gray {
	cursor: not-allowed;
	display: block;
	font-size: 14px;
	float: left;
	line-height: 54px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 0px !important;
	margin-bottom: 5px !important;
	border-radius: 4px;
	background-color: #F9F9F9;
	height: 54px;
	padding-right: 5px;
	padding-left: 5px;
	border: 1px dashed #E2E2E2;
}
.m33 li.gray p,.m33 li.gray p a {
	color: #CCCCCC !important;
}

.mui-toast-container{
	z-index: 9999999999999999999999999999;
}
.userHeadImg{
	border-radius: 50%;
}

.myEmpty{
	line-height: 35px;
	text-align: center;
}

.Load—more{
	line-height: 55px;
	text-align: center;
	background: none !important;
}
Load—more a{
}

.myBlurBackGround {
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: -1;
	height: 100%;

	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
	-webkit-filter: blur(20px); /* Chrome, Opera */
	-moz-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

.nav_d img{
	height: 20px;
	line-height: 20px;
}
.nav_d li a span{
	margin-top: -4px;
	font-size:12px;
	transform:scale(0.7);
	line-height: 10px;
	color: #b2b2b2;
	/*width: 20px;*/
	display: block;
	text-align: center;
}
.nav_d li.h a span{
	color: #b02f4b;
}


/*支付详情页*/
.order_details .l_btn2 a,.order_details .l_btn1 a {
	line-height: 45px;
}

.f_index{
	left: 5px;
	width:120px;
}
.f_index img{
	height: 20px;
	line-height: 20px;
}
.f_index li {
	float: left;
	text-align: center;
	height: 50px;
	margin-left:12px;
}
.f_index li a {
	display: block;
	margin: 10px 0;
	text-decoration: none;
	color: #b2b2b2;

}

.f_index li a span{
	margin-top: -4px;
	font-size:12px;
	transform:scale(0.7);
	line-height: 10px;
	width:36px;
	margin-left:-2px;
	display: block;
	text-align: center;
	color: #b2b2b2;
}
.f_index .f_index_cart{
	margin-left: 17px;
}
.f_index .f_index_cart a{
	padding-left: 17px;
	border-left:1px solid #b2b2b2;
}
.f_index .f_index_cart a span{
	width: 41px;
	display: block;
}
/*版权*/
.copyright{
	width:90%;
	border-top-width: 1px;
	padding-bottom:20px;
	/*background:#fff;*/
	padding-top:20px;
    margin: 0 auto;
	text-align: center;
}
.copyright .copyright_title{
	display:block;
	width:100%;
}
.copyright a{
	margin:0 auto;
	font-size: 8px;
	color:#000;
}
.copyright p{
	width:340px;
	padding-top:20px;
	margin:0 auto;
	border-top:1px solid #e7e7e7;
}
.copyright img {
	width:80px;
	margin:10px auto;
	display:block;

}

/*导航小图标*/
/*.my_nav ul li a span{*/
/*line-height:23px;*/
/*width:23px;*/
/*height:23px;*/
/*display:inline-block;*/
/**/
/*}*/
/*.my_nav ul li:nth-child(1) a span{*/
/*background:url('../images/uc_icon.png') no-repeat 0px -41px;*/
/*background-size: 20px 222px;*/
/*}*/
/*.my_nav ul li:nth-child(2) a span{*/
/*background:url('../images/uc_icon.png') no-repeat 0px -133px;*/
/*background-size: 20px 222px;*/
/*}*/
/*.my_nav ul li:nth-child(3) a span{*/
/*background:url('../images/uc_icon.png') no-repeat 0px -154px;*/
/*background-size: 20px 222px;*/
/*}*/
/*.my_nav ul li:nth-child(4) a span{*/
/*background:url('../images/uc_icon.png') no-repeat 0px -109px;*/
/*background-size: 20px 222px;*/
/*}*/
/*.my_nav ul li:nth-child(5) a span{*/
/*background:url('../images/uc_icon.png') no-repeat 0px -201px;*/
/*background-size: 20px 222px;*/
/*}*/
.my_nav a {
	display: block;
	line-height: 45px;
	color: #838383;
	text-decoration: none;
	font-size: 16px;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position: left center;
	background-size:24px 24px
}
.bottom_logo{
	font-size: 12px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #999;
}
.bottom_logo a{
	color: #999;
}
.postage{
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 10px;
}
.postage .countPostage{
	width:89px;
}
.postage div{
	float:left;
	font-size: 12px;
	color:#b2b2b2;
}
.postage .virtualSales{
	margin-left:53px;
}
.postage .virtualAddress{
	float:right;
}

/*cart2 优惠券*/
.coupon_span{
	float:right;
	padding-right:20px;
	display:inline-block;
}
/*cart 购物车按钮*/
.checkbox_s{
	margin-top:38px;
}