@charset "utf-8";
/* CSS Document */

.m33 li.gray {
	cursor: not-allowed;
	display: block;
	font-size: 14px;
	float: left;
	line-height: 54px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 0px !important;
	margin-bottom: 5px !important;
	border-radius: 4px;
	background-color: #F9F9F9;
	height: 54px;
	padding-right: 5px;
	padding-left: 5px;
	border: 1px dashed #E2E2E2;
}
.m33 li.gray p,.m33 li.gray p a {
	color: #CCCCCC !important;
}

.mui-toast-container{
	z-index: 9999999999999999999999999999;
}
.userHeadImg{
	border-radius: 50%;
}

.myEmpty{
	line-height: 35px;
	text-align: center;
}

.Load—more{
	line-height: 55px;
	text-align: center;
	background: none !important;
}
Load—more a{
}

.myBlurBackGround {
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: -1;
	height: 100%;

	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
	-webkit-filter: blur(20px); /* Chrome, Opera */
	-moz-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}


.f_index{
	left: 10px;
}

.nav_d img{
	height: 20px;
	line-height: 20px;
}
.nav_d li a span{
	margin-top: -4px;
	font-size:12px;
	transform:scale(0.7);
	line-height: 10px;
	color: #b2b2b2;
	/*width: 20px;*/
	display: block;
	text-align: center;
}
.nav_d li.h a span{
	color: #b02f4b;
}