* {
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
}
a {
	text-decoration: none;
}
html {
	font-size: 100%;
	height: 100%;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-y;
	background-position: center;
	background-size: 100% auto;
}
body {
	font-family: "my_qkst";
	font-size: 14px;
	height: 100%;
	line-height: 1.5;
	min-height: 100%;
	padding: 10;
	position: relative;
	width: 100%;
	max-width: 800px;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
}
.main {
	padding-bottom: 50px;
	margin-bottom: 60px;
}
textarea {
	border: 0 none;
	border-radius: 0;
	padding: 8px 0;
	resize: none;
}
input, button, select, textarea {
	border: medium none;
	border-radius: 0;
	outline: none;
	font-family: "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53", "\5B8B\4F53", "\65B0\5B8B\4F53", tahoma, arial;
	color: #999;
}
textarea {
	resize: none;
	padding-top: 4px;
	margin-top: 10px;
}
li {
	list-style-position: outside;
	list-style-image: none;
	list-style-type: disc;
}
.logo {
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
}
.t1 {
	text-align: center;
	margin-top: -50px;
}
.t1 img {
	max-width: 300px;
	height: auto;
	width: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.t5 {
	margin-top: 10px;
	width: 320px;
	margin-right: auto;
	margin-left: auto;
}
.t5 a {
	border-radius: 6px;
	line-height: 40px;
	display: block;
	background-color: #f0491f;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
	font-size: 16px;
}
.t6 {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 320px;
	margin-right: auto;
	margin-left: auto;
}
.t6 a {
	border-radius: 6px;
	line-height: 40px;
	display: block;
	background-color: #e7e7e7;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	color: #000;
	font-size: 16px;
}
.t7 {
	background-image: url(../images/f-db.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-size: auto 100%;
	max-width: 800px;
	height: 50px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	_position: absolute;
	bottom: 0px;
	_bottom: 0px;
 _margin-top:expression(this.style.pixelHeight+document.documentElement.scrollTop);
	width: 100%;
}
.g1 {
	background-image: url(../images/r2.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 80px;
	width: 320px;
	margin-right: auto;
	margin-left: auto;
	color: #F0491F;
	text-align: center;
	padding-top: 10px;
}
.g1_a {
	line-height: 25px;
}
.g1_a span {
	font-size: 24px;
}
.g1_b {
	background-color: #DD2918;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	width: 316px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 0 0 6px 6px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.g1_c {
	width: 280px;
	margin-right: auto;
	margin-left: auto;
}
.g_text {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 4, 0, 0 );
	border-radius: 6px;
	background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 90%, rgb(210,210,210) 99%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 90%, rgb(210,210,210) 99%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 90%, rgb(210,210,210) 99%);
	height: 40px;
	width: 278px;
	margin-right: auto;
	margin-left: auto;
	text-indent: 10px;
	margin-bottom: 10px;
}
.g_btn {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 4, 0, 0 );
	border-radius: 10px;
	background-image: -moz-linear-gradient( 90deg, rgb(255,211,0) 90%, rgb(245,169,0) 99%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,211,0) 90%, rgb(245,169,0) 99%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,211,0) 90%, rgb(245,169,0) 99%);
	width: 120px;
	height: 40px;
	color: #000;
}
.g_btn1 {
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 4, 0, 0 );
	border-radius: 10px;
	background-image: -moz-linear-gradient( 90deg, rgb(255,211,0) 90%, rgb(245,169,0) 99%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,211,0) 90%, rgb(245,169,0) 99%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,211,0) 90%, rgb(245,169,0) 99%);
	width: 280px;
	height: 40px;
	color: #000;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.t8 {
	border-style: solid;
	border-width: 3px;
	border-color: rgb( 255, 217, 0 );
	border-radius: 6px;
	background-color: #ffee8a;
	text-align: center;
	line-height: 25px;
	padding: 10px;
	width: 296px;
	margin-right: auto;
	margin-left: auto;
}
.t8 span {
	color: #f0491f;
}
.t9 {
	height: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
	width: 320px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}
.t10 {
	background-color: #fadb29;
	width: 180px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: -22px;
}
.t11 {
	background-image: url(../images/r4.png);
	height: 113px;
	width: 320px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}
.e1 {
	overflow: hidden;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 20px;
}
.e1_left {
	color: #EB481E;
	float: left;
	font-size: 18px;
}
.e1_left span {
	color: #333;
	font-size: 14px;
}
.e1_right {
	float: right;
	line-height: 55px;
	color: #F0491F;
	font-size: 34px;
	margin-right: 10px;
}
.e1_right span {
	font-size: 16px;
}
.e2 {
	font-size: 12px;
	margin-right: 20px;
	margin-left: 20px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCC;
	color: #999;
	line-height: 30px;
}
.t12 {
	border-style: solid;
	border-width: 3px;
	border-color: rgb( 255, 217, 0 );
	border-radius: 6px;
	background-color: #ffee8a;
	line-height: 20px;
	padding: 10px;
	width: 296px;
	margin-right: auto;
	margin-left: auto;
}
.t12 span {
	color: #f0491f;
}
.wm {
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
	color: #F0491F;
	margin-top: 10px;
}
.pop {
	color: #FFF;
	font-size: 12px;
	padding-right: 30px;
	padding-left: 30px;
	text-align: center;
	line-height: 20px;
	padding-bottom: 5px;
}
